examples/basics.json
[{
	"id": "a66b3676.5a7038",
	"type": "tab",
	"label": "Flow 6",
	"disabled": false,
	"info": ""
}, {
	"id": "5877c846.3c50f8",
	"type": "forge-oss",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"forge": "",
	"operation": "ListBuckets",
	"bucket": "$(FORGE_CLIENT_ID)",
	"bucketType": "str",
	"policyKey": "transient",
	"key": "",
	"copySource": "",
	"localFilename": "",
	"limit": "7",
	"startAt": "",
	"beginsWith": "",
	"ifNoneMatch": "",
	"ifModifiedSince": "",
	"SessionId": "",
	"region": "US",
	"x": 300,
	"y": 500,
	"wires": [
		["b5098c3c.eef56"],
		["1634eee9.327161"]
	]
}, {
	"id": "cd12b075.016ba",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"payload": "{\"limit\":5}",
	"payloadType": "json",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 100,
	"y": 380,
	"wires": [
		["5877c846.3c50f8"]
	]
}, {
	"id": "1634eee9.327161",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "Error",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "err",
	"targetType": "msg",
	"x": 870,
	"y": 440,
	"wires": []
}, {
	"id": "75bac319.14796c",
	"type": "function",
	"z": "a66b3676.5a7038",
	"name": "re-inject params",
	"func": "var payload={\n    limit: msg.payload.body.limit,\n    startAt: msg.payload.body.nextKey,\n    region: msg.payload.body.region\n};\nmsg.payload =payload;\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 120,
	"y": 520,
	"wires": [
		["5877c846.3c50f8"]
	]
}, {
	"id": "2f706d06.e665b2",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "Result",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"targetType": "msg",
	"x": 870,
	"y": 400,
	"wires": []
}, {
	"id": "b5098c3c.eef56",
	"type": "switch",
	"z": "a66b3676.5a7038",
	"name": "",
	"property": "payload.body.nextKey",
	"propertyType": "msg",
	"rules": [{
		"t": "nnull"
	}, {
		"t": "null"
	}],
	"checkall": "false",
	"repair": false,
	"outputs": 2,
	"x": 310,
	"y": 420,
	"wires": [
		["75bac319.14796c", "e844895a.56c178"],
		["14a13c22.2db3c4"]
	]
}, {
	"id": "e844895a.56c178",
	"type": "join",
	"z": "a66b3676.5a7038",
	"name": "",
	"mode": "custom",
	"build": "array",
	"property": "payload.body.items",
	"propertyType": "msg",
	"key": "topic",
	"joiner": "\\n",
	"joinerType": "str",
	"accumulate": false,
	"timeout": "",
	"count": "",
	"reduceRight": false,
	"reduceExp": "",
	"reduceInit": "",
	"reduceInitType": "",
	"reduceFixup": "",
	"x": 510,
	"y": 400,
	"wires": [
		["4e07a5f2.36c11c"]
	]
}, {
	"id": "14a13c22.2db3c4",
	"type": "function",
	"z": "a66b3676.5a7038",
	"name": "Done",
	"func": "msg.complete =true;\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 470,
	"y": 460,
	"wires": [
		["e844895a.56c178"]
	]
}, {
	"id": "4e07a5f2.36c11c",
	"type": "change",
	"z": "a66b3676.5a7038",
	"name": "",
	"rules": [{
		"t": "set",
		"p": "payload",
		"pt": "msg",
		"to": "$reduce(payload.body.items, $append)\t",
		"tot": "jsonata"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 660,
	"y": 400,
	"wires": [
		["2f706d06.e665b2"]
	]
}, {
	"id": "8fafb582.011e58",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "from EMEA",
	"topic": "region",
	"payload": "EMEA",
	"payloadType": "str",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 110,
	"y": 160,
	"wires": [
		["d223528f.c9b98"]
	]
}, {
	"id": "1a414396.046f3c",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "Result",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"targetType": "msg",
	"x": 870,
	"y": 80,
	"wires": []
}, {
	"id": "d223528f.c9b98",
	"type": "forge-oss",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"forge": "",
	"operation": "ListBuckets",
	"bucket": "$(FORGE_CLIENT_ID)",
	"bucketType": "str",
	"policyKey": "transient",
	"key": "",
	"copySource": "",
	"localFilename": "",
	"limit": 10,
	"startAt": "",
	"beginsWith": "",
	"ifNoneMatch": "",
	"ifModifiedSince": "",
	"SessionId": "",
	"region": "US",
	"x": 500,
	"y": 140,
	"wires": [
		["1a414396.046f3c"],
		["9dc2aeab.a3f4b"]
	]
}, {
	"id": "9dc2aeab.a3f4b",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "Error",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "err",
	"targetType": "msg",
	"x": 870,
	"y": 120,
	"wires": []
}, {
	"id": "db47c729.70f1e8",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "by 30",
	"topic": "limit",
	"payload": "30",
	"payloadType": "num",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 90,
	"y": 120,
	"wires": [
		["d223528f.c9b98"]
	]
}, {
	"id": "373348e4.34d0d8",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 100,
	"y": 80,
	"wires": [
		["d223528f.c9b98"]
	]
}, {
	"id": "4907314b.9e8a3",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"payload": "{\"limit\":30}",
	"payloadType": "json",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 100,
	"y": 200,
	"wires": [
		["d223528f.c9b98"]
	]
}, {
	"id": "567ec251.3e8b1c",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "startAt arkit*",
	"topic": "",
	"payload": "{\"startAt\":\"arkit\"}",
	"payloadType": "json",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 110,
	"y": 240,
	"wires": [
		["d223528f.c9b98"]
	]
}, {
	"id": "b65a3ce6.925c9",
	"type": "comment",
	"z": "a66b3676.5a7038",
	"name": "List all buckets",
	"info": "",
	"x": 100,
	"y": 340,
	"wires": []
}, {
	"id": "b0ea566c.f0fbd8",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "Inject for an Error",
	"topic": "",
	"payload": "{\"startAt\":\"Error\"}",
	"payloadType": "json",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 120,
	"y": 280,
	"wires": [
		["d223528f.c9b98"]
	]
}, {
	"id": "44881f55.9ce4",
	"type": "comment",
	"z": "a66b3676.5a7038",
	"name": "Basic Bucket List",
	"info": "",
	"x": 100,
	"y": 40,
	"wires": []
}, {
	"id": "95bdbc0d.930d6",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 100,
	"y": 660,
	"wires": [
		["78f5f79a.db8c78"]
	]
}, {
	"id": "dcf868b8.7f9f18",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "Result",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"targetType": "msg",
	"x": 870,
	"y": 720,
	"wires": []
}, {
	"id": "ee1f5b4e.c73778",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "Error",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "err",
	"targetType": "msg",
	"x": 870,
	"y": 760,
	"wires": []
}, {
	"id": "50d6cec5.12f22",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "bucket",
	"payload": "cyrille-tests-buckets",
	"payloadType": "str",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 160,
	"y": 700,
	"wires": [
		["78f5f79a.db8c78"]
	]
}, {
	"id": "e50922b7.9cc77",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "bucket",
	"payload": "FORGE_CLIENT_ID",
	"payloadType": "env",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 90,
	"y": 620,
	"wires": [
		["78f5f79a.db8c78"]
	]
}, {
	"id": "78f5f79a.db8c78",
	"type": "forge-oss",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"forge": "",
	"operation": "BucketDetails",
	"bucket": "FORGE_BUCKET",
	"bucketType": "env",
	"policyKey": "transient",
	"key": "",
	"copySource": "",
	"localFilename": "",
	"limit": 10,
	"startAt": "",
	"beginsWith": "",
	"ifNoneMatch": "",
	"ifModifiedSince": "",
	"SessionId": "",
	"region": "US",
	"x": 450,
	"y": 680,
	"wires": [
		["dcf868b8.7f9f18"],
		["ee1f5b4e.c73778"]
	]
}, {
	"id": "f663f26.25e391",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "{\"bucket\":\"cyrille-tests-buckets\"}",
	"topic": "",
	"payload": "{\"bucket\":\"cyrille-tests-buckets\"}",
	"payloadType": "json",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 170,
	"y": 740,
	"wires": [
		["78f5f79a.db8c78"]
	]
}, {
	"id": "7c800c16.ab7eb4",
	"type": "forge-oss",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"forge": "",
	"operation": "BucketDetails",
	"bucket": "cyrille-tests-buckets",
	"bucketType": "str",
	"policyKey": "transient",
	"key": "",
	"contentDisposition": "",
	"copySource": "",
	"localFilename": "",
	"limit": 10,
	"startAt": "",
	"beginsWith": "",
	"ifMatch": "",
	"ifNoneMatch": "",
	"ifModifiedSince": "",
	"range": "",
	"singleUse": false,
	"minutesExpiration": "",
	"acceptEncoding": "",
	"SessionId": "",
	"guid": "autodesk",
	"region": "US",
	"x": 450,
	"y": 800,
	"wires": [
		["dcf868b8.7f9f18"],
		["ee1f5b4e.c73778"]
	]
}, {
	"id": "fe1fa71b.f53bd8",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 100,
	"y": 800,
	"wires": [
		["7c800c16.ab7eb4"]
	]
}, {
	"id": "8d0f9eb4.6bf17",
	"type": "comment",
	"z": "a66b3676.5a7038",
	"name": "Bucket Details",
	"info": "",
	"x": 100,
	"y": 580,
	"wires": []
}, {
	"id": "5bbf21a2.38e54",
	"type": "comment",
	"z": "a66b3676.5a7038",
	"name": "List All Objects",
	"info": "",
	"x": 100,
	"y": 1080,
	"wires": []
}, {
	"id": "3f5c3723.1903b8",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 100,
	"y": 1120,
	"wires": [
		["5770914f.a9058"]
	]
}, {
	"id": "5770914f.a9058",
	"type": "forge-oss",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"forge": "",
	"operation": "ListObjects",
	"bucket": "cyrille-tests-buckets",
	"bucketType": "str",
	"policyKey": "transient",
	"key": "",
	"contentDisposition": "",
	"copySource": "",
	"localFilename": "",
	"limit": 10,
	"startAt": "",
	"beginsWith": "",
	"ifMatch": "",
	"ifNoneMatch": "",
	"ifModifiedSince": "",
	"range": "",
	"singleUse": false,
	"minutesExpiration": "",
	"acceptEncoding": "",
	"SessionId": "",
	"guid": "autodesk",
	"region": "US",
	"x": 440,
	"y": 1260,
	"wires": [
		["746a66f8.d24648"],
		["b55783ba.28943"]
	]
}, {
	"id": "746a66f8.d24648",
	"type": "switch",
	"z": "a66b3676.5a7038",
	"name": "",
	"property": "payload.body.nextKey",
	"propertyType": "msg",
	"rules": [{
		"t": "nnull"
	}, {
		"t": "null"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 2,
	"x": 330,
	"y": 1160,
	"wires": [
		["fda17b2e.5f4368", "269c2465.f068fc"],
		["26b95ded.a6a202"]
	]
}, {
	"id": "fda17b2e.5f4368",
	"type": "join",
	"z": "a66b3676.5a7038",
	"name": "",
	"mode": "custom",
	"build": "array",
	"property": "payload.body.items",
	"propertyType": "msg",
	"key": "topic",
	"joiner": "\\n",
	"joinerType": "str",
	"accumulate": false,
	"timeout": "",
	"count": "",
	"reduceRight": false,
	"reduceExp": "",
	"reduceInit": "",
	"reduceInitType": "",
	"reduceFixup": "",
	"x": 490,
	"y": 1100,
	"wires": [
		["3bebfca5.8d0f04"]
	]
}, {
	"id": "3bebfca5.8d0f04",
	"type": "change",
	"z": "a66b3676.5a7038",
	"name": "",
	"rules": [{
		"t": "set",
		"p": "payload",
		"pt": "msg",
		"to": "$reduce(payload.body.items, $append)\t",
		"tot": "jsonata"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 640,
	"y": 1100,
	"wires": [
		["1a44c3d4.c9482c", "c3413c6.591bdc", "50cad1bf.6728d"]
	]
}, {
	"id": "269c2465.f068fc",
	"type": "function",
	"z": "a66b3676.5a7038",
	"name": "re-inject params",
	"func": "var payload={\n    limit: msg.payload.body.limit,\n    startAt: msg.payload.body.nextKey,\n    beginsWith: msg.payload.body.beginsWith\n};\nmsg.payload =payload;\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 120,
	"y": 1260,
	"wires": [
		["5770914f.a9058"]
	]
}, {
	"id": "26b95ded.a6a202",
	"type": "function",
	"z": "a66b3676.5a7038",
	"name": "Done",
	"func": "msg.complete =true;\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 490,
	"y": 1180,
	"wires": [
		["fda17b2e.5f4368"]
	]
}, {
	"id": "77139f6a.33e25",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "Sorted Result",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"targetType": "msg",
	"x": 840,
	"y": 1160,
	"wires": []
}, {
	"id": "b55783ba.28943",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "Error",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "err",
	"targetType": "msg",
	"x": 870,
	"y": 1240,
	"wires": []
}, {
	"id": "1a44c3d4.c9482c",
	"type": "sort",
	"z": "a66b3676.5a7038",
	"name": "",
	"order": "ascending",
	"as_num": false,
	"target": "payload",
	"targetType": "msg",
	"msgKey": "objectKey",
	"msgKeyType": "jsonata",
	"seqKey": "payload",
	"seqKeyType": "msg",
	"x": 690,
	"y": 1160,
	"wires": [
		["77139f6a.33e25"]
	]
}, {
	"id": "c3413c6.591bdc",
	"type": "change",
	"z": "a66b3676.5a7038",
	"name": "Sort",
	"rules": [{
		"t": "set",
		"p": "payload",
		"pt": "msg",
		"to": "$sort(\t   payload,\t   function($l, $r) { \t    $l.objectKey > $r.objectKey\t   }\t)",
		"tot": "jsonata"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 690,
	"y": 1200,
	"wires": [
		["77139f6a.33e25"]
	]
}, {
	"id": "3ce27a8c.820f26",
	"type": "comment",
	"z": "a66b3676.5a7038",
	"name": "Not Sorted Here",
	"info": "",
	"x": 760,
	"y": 1060,
	"wires": []
}, {
	"id": "22ef7a2d.b11b76",
	"type": "comment",
	"z": "a66b3676.5a7038",
	"name": "Object Details",
	"info": "",
	"x": 90,
	"y": 1320,
	"wires": []
}, {
	"id": "fe08980.33d0968",
	"type": "forge-oss",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"forge": "",
	"operation": "ObjectDetails",
	"bucket": "cyrille-models",
	"bucketType": "str",
	"policyKey": "transient",
	"key": "210 King - 2015.rvt",
	"contentDisposition": "",
	"copySource": "",
	"localFilename": "",
	"limit": "10",
	"startAt": "",
	"beginsWith": "",
	"with": ["createdDate", "lastAccessedDate", "lastModifiedDate"],
	"ifMatch": "",
	"ifNoneMatch": "",
	"ifModifiedSince": "",
	"range": "",
	"singleUse": false,
	"minutesExpiration": "",
	"acceptEncoding": "",
	"SessionId": "",
	"guid": "autodesk",
	"region": "US",
	"x": 450,
	"y": 1360,
	"wires": [
		["314bb786.ce5338"],
		["18021f5d.14af61"]
	]
}, {
	"id": "ff068d99.4b01a",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 100,
	"y": 1360,
	"wires": [
		["fe08980.33d0968"]
	]
}, {
	"id": "64395b2a.5a15a4",
	"type": "forge-oss",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"forge": "",
	"operation": "ObjectDetails",
	"bucket": "cyrille-models",
	"bucketType": "str",
	"policyKey": "transient",
	"key": "210 King - 2015.rvt",
	"contentDisposition": "",
	"copySource": "",
	"localFilename": "",
	"limit": 10,
	"startAt": "",
	"beginsWith": "",
	"with": ["createdDate", "lastModifiedDate"],
	"ifMatch": "",
	"ifNoneMatch": "",
	"ifModifiedSince": "2019-06-02T00:00",
	"range": "",
	"singleUse": false,
	"minutesExpiration": "",
	"acceptEncoding": "",
	"SessionId": "",
	"guid": "autodesk",
	"region": "US",
	"x": 450,
	"y": 1400,
	"wires": [
		["314bb786.ce5338"],
		["18021f5d.14af61"]
	]
}, {
	"id": "bbd8de42.12b2",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 100,
	"y": 1400,
	"wires": [
		["64395b2a.5a15a4"]
	]
}, {
	"id": "d4e97e16.3c3fc",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 100,
	"y": 1440,
	"wires": [
		["dd4a5765.1a36d8"]
	]
}, {
	"id": "dd4a5765.1a36d8",
	"type": "forge-oss",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"forge": "",
	"operation": "ObjectDetails",
	"bucket": "cyrille-models",
	"bucketType": "str",
	"policyKey": "transient",
	"key": "210 King - 2015.rvt",
	"contentDisposition": "",
	"copySource": "",
	"localFilename": "",
	"limit": 10,
	"startAt": "",
	"beginsWith": "",
	"with": ["lastAccessedDate"],
	"ifMatch": "",
	"ifNoneMatch": "",
	"ifModifiedSince": "2000-01-01T00:00",
	"range": "",
	"singleUse": false,
	"minutesExpiration": "",
	"acceptEncoding": "",
	"SessionId": "",
	"guid": "autodesk",
	"region": "US",
	"x": 450,
	"y": 1440,
	"wires": [
		["314bb786.ce5338"],
		["18021f5d.14af61"]
	]
}, {
	"id": "314bb786.ce5338",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "Result",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"targetType": "msg",
	"x": 870,
	"y": 1380,
	"wires": []
}, {
	"id": "18021f5d.14af61",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "Error",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "err",
	"targetType": "msg",
	"x": 870,
	"y": 1420,
	"wires": []
}, {
	"id": "ffe90b6e.38e2c8",
	"type": "comment",
	"z": "a66b3676.5a7038",
	"name": "Download Object",
	"info": "",
	"x": 100,
	"y": 1500,
	"wires": []
}, {
	"id": "8a516ffa.ed1ea",
	"type": "forge-oss",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"forge": "",
	"operation": "GetObject",
	"bucket": "cyrille-models",
	"bucketType": "str",
	"policyKey": "transient",
	"key": "Au.obj",
	"contentDisposition": "",
	"copySource": "",
	"localFilename": "",
	"limit": 10,
	"startAt": "",
	"beginsWith": "",
	"with": null,
	"ifMatch": "",
	"ifNoneMatch": "",
	"ifModifiedSince": "",
	"range": "bytes=0-50",
	"singleUse": false,
	"minutesExpiration": "",
	"acceptEncoding": "",
	"SessionId": "",
	"guid": "autodesk",
	"region": "US",
	"x": 440,
	"y": 1540,
	"wires": [
		["88ea3c88.8e2f"],
		["fcd33d76.db46b"]
	]
}, {
	"id": "46b0b9b7.552138",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 100,
	"y": 1540,
	"wires": [
		["8a516ffa.ed1ea"]
	]
}, {
	"id": "88ea3c88.8e2f",
	"type": "function",
	"z": "a66b3676.5a7038",
	"name": "toString()",
	"func": "msg.payload.body = msg.payload.body.toString();\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 660,
	"y": 1560,
	"wires": [
		["7da14b3e.9ef784", "ed9bb7af.2b14b8"]
	]
}, {
	"id": "7da14b3e.9ef784",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "Result",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"targetType": "msg",
	"x": 870,
	"y": 1560,
	"wires": []
}, {
	"id": "fcd33d76.db46b",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "Error",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "err",
	"targetType": "msg",
	"x": 870,
	"y": 1520,
	"wires": []
}, {
	"id": "50cad1bf.6728d",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "Result",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"targetType": "msg",
	"x": 870,
	"y": 1100,
	"wires": []
}, {
	"id": "b671a9c7.6dd418",
	"type": "file",
	"z": "a66b3676.5a7038",
	"name": "",
	"filename": "/Users/cyrille/Downloads/AU-Cyrille.obj",
	"appendNewline": false,
	"createDir": true,
	"overwriteFile": "true",
	"encoding": "utf8",
	"x": 660,
	"y": 1620,
	"wires": [
		["7da14b3e.9ef784"]
	]
}, {
	"id": "ed9bb7af.2b14b8",
	"type": "change",
	"z": "a66b3676.5a7038",
	"name": "",
	"rules": [{
		"t": "set",
		"p": "payload",
		"pt": "msg",
		"to": "payload.body",
		"tot": "msg"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 400,
	"y": 1620,
	"wires": [
		["b671a9c7.6dd418"]
	]
}, {
	"id": "e66b70a8.80cee",
	"type": "comment",
	"z": "a66b3676.5a7038",
	"name": "Uploads",
	"info": "",
	"x": 80,
	"y": 1760,
	"wires": []
}, {
	"id": "670794da.3bbacc",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "Result",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"targetType": "msg",
	"x": 870,
	"y": 1880,
	"wires": []
}, {
	"id": "d1ce3623.05dad8",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "Error",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "err",
	"targetType": "msg",
	"x": 870,
	"y": 1920,
	"wires": []
}, {
	"id": "a37e602b.cbb4a",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 100,
	"y": 1800,
	"wires": [
		["3df06a49.0a8fc6"]
	]
}, {
	"id": "3df06a49.0a8fc6",
	"type": "forge-oss",
	"z": "a66b3676.5a7038",
	"name": "Small File (json)",
	"topic": "",
	"forge": "",
	"operation": "PutObject",
	"bucket": "cyrille-tests-buckets",
	"bucketType": "str",
	"policyKey": "transient",
	"key": "test.json",
	"contentType": "application/json",
	"contentDisposition": "",
	"copySource": "",
	"localFilename": "/Users/cyrille/Downloads/status.json",
	"limit": 10,
	"startAt": "",
	"beginsWith": "",
	"with": null,
	"ifMatch": "",
	"ifNoneMatch": "",
	"ifModifiedSince": "",
	"range": "",
	"singleUse": false,
	"minutesExpiration": "",
	"acceptEncoding": "",
	"SessionId": "",
	"guid": "autodesk",
	"region": "US",
	"x": 440,
	"y": 1800,
	"wires": [
		["670794da.3bbacc"],
		["d1ce3623.05dad8"]
	]
}, {
	"id": "777e53a1.7677cc",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 100,
	"y": 1680,
	"wires": [
		["bbe67ec3.95bec", "ef7aa642.e86c58"]
	]
}, {
	"id": "bbe67ec3.95bec",
	"type": "forge-oss",
	"z": "a66b3676.5a7038",
	"name": "test.json Content",
	"topic": "",
	"forge": "",
	"operation": "GetObject",
	"bucket": "cyrille-tests-buckets",
	"bucketType": "str",
	"policyKey": "transient",
	"key": "test.json",
	"contentDisposition": "",
	"copySource": "",
	"localFilename": "",
	"limit": 10,
	"startAt": "",
	"beginsWith": "",
	"with": null,
	"ifMatch": "",
	"ifNoneMatch": "",
	"ifModifiedSince": "",
	"range": "",
	"singleUse": false,
	"minutesExpiration": "",
	"acceptEncoding": "",
	"SessionId": "",
	"guid": "autodesk",
	"region": "US",
	"x": 450,
	"y": 1680,
	"wires": [
		["35d174a4.12407c"],
		["c5b22789.723ff8"]
	]
}, {
	"id": "35d174a4.12407c",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "Result",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"targetType": "msg",
	"x": 870,
	"y": 1680,
	"wires": []
}, {
	"id": "c5b22789.723ff8",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "Error",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "err",
	"targetType": "msg",
	"x": 870,
	"y": 1720,
	"wires": []
}, {
	"id": "ef7aa642.e86c58",
	"type": "forge-oss",
	"z": "a66b3676.5a7038",
	"name": "test.json Details",
	"topic": "",
	"forge": "",
	"operation": "ObjectDetails",
	"bucket": "cyrille-tests-buckets",
	"bucketType": "str",
	"policyKey": "transient",
	"key": "test.json",
	"contentDisposition": "",
	"copySource": "",
	"localFilename": "",
	"limit": 10,
	"startAt": "",
	"beginsWith": "",
	"with": null,
	"ifMatch": "",
	"ifNoneMatch": "",
	"ifModifiedSince": "",
	"range": "",
	"singleUse": false,
	"minutesExpiration": "",
	"acceptEncoding": "",
	"SessionId": "",
	"guid": "autodesk",
	"region": "US",
	"x": 440,
	"y": 1720,
	"wires": [
		["35d174a4.12407c"],
		["c5b22789.723ff8"]
	]
}, {
	"id": "a3c232bf.f6f61",
	"type": "comment",
	"z": "a66b3676.5a7038",
	"name": "The node decides to upload at once or as a resumable upload",
	"info": "",
	"x": 440,
	"y": 1840,
	"wires": []
}, {
	"id": "db541e93.0d8e9",
	"type": "forge-oss",
	"z": "a66b3676.5a7038",
	"name": "Big File (rvt)",
	"topic": "",
	"forge": "",
	"operation": "PutObject",
	"bucket": "cyrille-tests-buckets",
	"bucketType": "str",
	"policyKey": "transient",
	"key": "rac.rvt",
	"contentType": "application/octet-stream",
	"contentDisposition": "cyrille.rvt",
	"copySource": "",
	"localFilename": "/Users/cyrille/Downloads/rac_advanced_sample_project.rvt",
	"limit": 10,
	"startAt": "",
	"beginsWith": "",
	"with": null,
	"ifMatch": "",
	"ifNoneMatch": "",
	"ifModifiedSince": "",
	"range": "",
	"singleUse": false,
	"minutesExpiration": "",
	"acceptEncoding": "",
	"SessionId": "",
	"guid": "autodesk",
	"region": "US",
	"x": 430,
	"y": 1880,
	"wires": [
		["670794da.3bbacc"],
		["d1ce3623.05dad8"]
	]
}, {
	"id": "e40bba3a.b80078",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 100,
	"y": 1880,
	"wires": [
		["db541e93.0d8e9"]
	]
}, {
	"id": "bcd95695.084738",
	"type": "file in",
	"z": "a66b3676.5a7038",
	"name": "Small File (json)",
	"filename": "/Users/cyrille/Downloads/status.json",
	"format": "",
	"chunk": false,
	"sendError": false,
	"encoding": "none",
	"x": 260,
	"y": 1920,
	"wires": [
		["c175e011.82657"]
	]
}, {
	"id": "91c12952.8076c8",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 100,
	"y": 1920,
	"wires": [
		["bcd95695.084738"]
	]
}, {
	"id": "c175e011.82657",
	"type": "forge-oss",
	"z": "a66b3676.5a7038",
	"name": "From Small File (json)",
	"topic": "",
	"forge": "",
	"operation": "PutObject",
	"bucket": "cyrille-tests-buckets",
	"bucketType": "str",
	"policyKey": "transient",
	"key": "test.json",
	"contentType": "application/json",
	"contentDisposition": "",
	"copySource": "",
	"localFilename": "",
	"limit": 10,
	"startAt": "",
	"beginsWith": "",
	"with": null,
	"ifMatch": "",
	"ifNoneMatch": "",
	"ifModifiedSince": "",
	"range": "",
	"singleUse": false,
	"minutesExpiration": "",
	"acceptEncoding": "",
	"SessionId": "",
	"guid": "autodesk",
	"region": "US",
	"x": 460,
	"y": 1920,
	"wires": [
		["670794da.3bbacc"],
		["d1ce3623.05dad8"]
	]
}, {
	"id": "68e867c8.57cfd8",
	"type": "forge-oss",
	"z": "a66b3676.5a7038",
	"name": "John Doe (json)",
	"topic": "",
	"forge": "",
	"operation": "PutObject",
	"bucket": "cyrille-tests-buckets",
	"bucketType": "str",
	"policyKey": "transient",
	"key": "test.json",
	"contentType": "application/json",
	"contentDisposition": "",
	"copySource": "",
	"localFilename": "",
	"limit": 10,
	"startAt": "",
	"beginsWith": "",
	"with": null,
	"ifMatch": "",
	"ifNoneMatch": "",
	"ifModifiedSince": "",
	"range": "",
	"singleUse": false,
	"minutesExpiration": "",
	"acceptEncoding": "",
	"SessionId": "",
	"guid": "autodesk",
	"region": "US",
	"x": 440,
	"y": 1960,
	"wires": [
		["670794da.3bbacc"],
		["d1ce3623.05dad8"]
	]
}, {
	"id": "9d27d55f.9d7dc8",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 100,
	"y": 1960,
	"wires": [
		["ede8dcb7.e2859"]
	]
}, {
	"id": "ede8dcb7.e2859",
	"type": "function",
	"z": "a66b3676.5a7038",
	"name": "John Doe (json)",
	"func": "msg.payload= {\n    content: {\n        firstname: \"John\",\n        lastName: \"Doe\",\n        citizenship: \"USA\"\n    }\n};\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 260,
	"y": 1960,
	"wires": [
		["68e867c8.57cfd8"]
	]
}, {
	"id": "4135a0b5.a99ee",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 100,
	"y": 2020,
	"wires": [
		["6a5ef253.d4a45c", "5623f679.8d5388"]
	]
}, {
	"id": "6a5ef253.d4a45c",
	"type": "function",
	"z": "a66b3676.5a7038",
	"name": "John Doe (json)",
	"func": "msg.payload= {\n    firstname: \"John\",\n    lastName: \"Doe\",\n    citizenship: \"USA\"\n};\nmsg.topic=\"content\";\nmsg.parts = {\n    id: 12345,\n    index: 0,\n    count: 2\n};\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 320,
	"y": 2020,
	"wires": [
		["32e947e5.f7e4f8", "5dc0c5cf.29677c"]
	]
}, {
	"id": "ffc0198d.a08a78",
	"type": "forge-oss",
	"z": "a66b3676.5a7038",
	"name": "John Doe (json)",
	"topic": "",
	"forge": "",
	"operation": "PutObject",
	"bucket": "cyrille-tests-buckets",
	"bucketType": "str",
	"policyKey": "transient",
	"key": "test.json",
	"contentType": "application/json",
	"contentDisposition": "",
	"copySource": "",
	"localFilename": "",
	"limit": 10,
	"startAt": "",
	"beginsWith": "",
	"with": null,
	"ifMatch": "",
	"ifNoneMatch": "",
	"ifModifiedSince": "",
	"range": "",
	"singleUse": false,
	"minutesExpiration": "",
	"acceptEncoding": "",
	"SessionId": "",
	"guid": "autodesk",
	"region": "US",
	"x": 680,
	"y": 2020,
	"wires": [
		["670794da.3bbacc"],
		["d1ce3623.05dad8"]
	]
}, {
	"id": "5623f679.8d5388",
	"type": "function",
	"z": "a66b3676.5a7038",
	"name": "Key (test2.json)",
	"func": "msg.payload=\"test2.json\"\nmsg.topic=\"key\";\nmsg.parts = {\n    id: 12345,\n    index: 1,\n    count: 2\n};\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 320,
	"y": 2060,
	"wires": [
		["32e947e5.f7e4f8", "5dc0c5cf.29677c"]
	]
}, {
	"id": "32e947e5.f7e4f8",
	"type": "join",
	"z": "a66b3676.5a7038",
	"name": "",
	"mode": "custom",
	"build": "object",
	"property": "payload",
	"propertyType": "msg",
	"key": "topic",
	"joiner": "\\n",
	"joinerType": "str",
	"accumulate": false,
	"timeout": "",
	"count": "2",
	"reduceRight": false,
	"reduceExp": "",
	"reduceInit": "",
	"reduceInitType": "num",
	"reduceFixup": "",
	"x": 510,
	"y": 2020,
	"wires": [
		["69f9deee.56ca1", "ffc0198d.a08a78"]
	]
}, {
	"id": "69f9deee.56ca1",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "true",
	"targetType": "full",
	"x": 650,
	"y": 2100,
	"wires": []
}, {
	"id": "5dc0c5cf.29677c",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "false",
	"x": 630,
	"y": 2140,
	"wires": []
}, {
	"id": "3a802062.002b4",
	"type": "comment",
	"z": "a66b3676.5a7038",
	"name": "Checkout the key in this object and the one used",
	"info": "",
	"x": 780,
	"y": 2060,
	"wires": []
}, {
	"id": "30bf91c5.d8d19e",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 100,
	"y": 2060,
	"wires": [
		["6a5ef253.d4a45c"]
	]
}, {
	"id": "89e9a376.658a4",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 100,
	"y": 2100,
	"wires": [
		["5623f679.8d5388"]
	]
}, {
	"id": "97bbdb1.821e728",
	"type": "comment",
	"z": "a66b3676.5a7038",
	"name": "Delete Object",
	"info": "",
	"x": 90,
	"y": 2180,
	"wires": []
}, {
	"id": "d3786962.0d17a8",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "Result",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"targetType": "msg",
	"x": 870,
	"y": 2200,
	"wires": []
}, {
	"id": "e2f352b7.0ea0f",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "Error",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "err",
	"targetType": "msg",
	"x": 870,
	"y": 2240,
	"wires": []
}, {
	"id": "dc9081da.5ab56",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 100,
	"y": 2220,
	"wires": [
		["bcf962bf.74805", "f7fc9272.0827a", "23e896bc.60059a"]
	]
}, {
	"id": "bcf962bf.74805",
	"type": "forge-oss",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"forge": "",
	"operation": "DeleteObject",
	"bucket": "cyrille-tests-buckets",
	"bucketType": "str",
	"policyKey": "transient",
	"key": "test.json",
	"contentType": "application/octet-stream",
	"contentDisposition": "",
	"copySource": "",
	"localFilename": "",
	"limit": 10,
	"startAt": "",
	"beginsWith": "",
	"with": null,
	"ifMatch": "",
	"ifNoneMatch": "",
	"ifModifiedSince": "",
	"range": "",
	"singleUse": false,
	"minutesExpiration": "",
	"acceptEncoding": "",
	"SessionId": "",
	"guid": "autodesk",
	"region": "US",
	"x": 450,
	"y": 2200,
	"wires": [
		["d3786962.0d17a8"],
		["e2f352b7.0ea0f"]
	]
}, {
	"id": "f7fc9272.0827a",
	"type": "forge-oss",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"forge": "",
	"operation": "DeleteObject",
	"bucket": "cyrille-tests-buckets",
	"bucketType": "str",
	"policyKey": "transient",
	"key": "test2.json",
	"contentType": "application/octet-stream",
	"contentDisposition": "",
	"copySource": "",
	"localFilename": "",
	"limit": 10,
	"startAt": "",
	"beginsWith": "",
	"with": null,
	"ifMatch": "",
	"ifNoneMatch": "",
	"ifModifiedSince": "",
	"range": "",
	"singleUse": false,
	"minutesExpiration": "",
	"acceptEncoding": "",
	"SessionId": "",
	"guid": "autodesk",
	"region": "US",
	"x": 450,
	"y": 2240,
	"wires": [
		["d3786962.0d17a8"],
		["e2f352b7.0ea0f"]
	]
}, {
	"id": "f3365244.7400f",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "Result",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"targetType": "msg",
	"x": 870,
	"y": 2420,
	"wires": []
}, {
	"id": "b83c1ea.6b57fe",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "Error",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "err",
	"targetType": "msg",
	"x": 870,
	"y": 2460,
	"wires": []
}, {
	"id": "9ec81ccd.5d1e5",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "Start Here!",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 100,
	"y": 2380,
	"wires": [
		["19dba31a.068dcd"]
	]
}, {
	"id": "19dba31a.068dcd",
	"type": "forge-oss",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"forge": "",
	"operation": "CreateSignature",
	"bucket": "cyrille-tests-buckets",
	"bucketType": "str",
	"policyKey": "transient",
	"key": "signed-test.json",
	"contentType": "application/octet-stream",
	"contentDisposition": "",
	"copySource": "",
	"localFilename": "",
	"limit": 10,
	"startAt": "",
	"beginsWith": "",
	"with": null,
	"ifMatch": "",
	"ifNoneMatch": "",
	"ifModifiedSince": "",
	"range": "",
	"access": "readwrite",
	"singleUse": false,
	"minutesExpiration": 60,
	"acceptEncoding": "",
	"SessionId": "",
	"guid": "autodesk",
	"region": "US",
	"x": 460,
	"y": 2380,
	"wires": [
		["f3365244.7400f", "76edd826.b3f9c8"],
		["b83c1ea.6b57fe"]
	]
}, {
	"id": "1255d92b.79f507",
	"type": "forge-oss",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"forge": "",
	"operation": "DeleteSignedObject",
	"bucket": "FORGE_BUCKET",
	"bucketType": "env",
	"policyKey": "transient",
	"key": "",
	"contentType": "application/octet-stream",
	"contentDisposition": "",
	"copySource": "",
	"localFilename": "",
	"limit": 10,
	"startAt": "",
	"beginsWith": "",
	"with": null,
	"ifMatch": "",
	"ifNoneMatch": "",
	"ifModifiedSince": "",
	"range": "",
	"access": "read",
	"singleUse": false,
	"minutesExpiration": 60,
	"acceptEncoding": "",
	"SessionId": "",
	"guid": "",
	"region": "US",
	"x": 490,
	"y": 2840,
	"wires": [
		["f3365244.7400f"],
		["b83c1ea.6b57fe"]
	]
}, {
	"id": "86f5a91b.70b828",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "Delete Last",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 110,
	"y": 2760,
	"wires": [
		["d3802c8e.6cad6"]
	]
}, {
	"id": "d3802c8e.6cad6",
	"type": "function",
	"z": "a66b3676.5a7038",
	"name": "Go",
	"func": "msg.complete =true;\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 250,
	"y": 2760,
	"wires": [
		["78adfb5d.2ef944"]
	]
}, {
	"id": "78adfb5d.2ef944",
	"type": "join",
	"z": "a66b3676.5a7038",
	"name": "",
	"mode": "custom",
	"build": "object",
	"property": "payload",
	"propertyType": "msg",
	"key": "topic",
	"joiner": "\\n",
	"joinerType": "str",
	"accumulate": false,
	"timeout": "",
	"count": "",
	"reduceRight": false,
	"reduceExp": "",
	"reduceInit": "",
	"reduceInitType": "",
	"reduceFixup": "",
	"x": 390,
	"y": 2760,
	"wires": [
		["1d556254.2c0c9e"]
	]
}, {
	"id": "1d556254.2c0c9e",
	"type": "function",
	"z": "a66b3676.5a7038",
	"name": "GUID & Region",
	"func": "var p =msg.payload.guid.body;\nmsg.payload = {\n    guid: p.guid,\n    region: p.region\n};\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 440,
	"y": 2800,
	"wires": [
		["cb825b40.aa2788", "1255d92b.79f507"]
	]
}, {
	"id": "76edd826.b3f9c8",
	"type": "change",
	"z": "a66b3676.5a7038",
	"name": "GUID & Region",
	"rules": [{
		"t": "set",
		"p": "topic",
		"pt": "msg",
		"to": "guid",
		"tot": "str"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 180,
	"y": 2440,
	"wires": [
		["78adfb5d.2ef944", "2aad0ab9.4961a6", "cee2a72c.9431b8"]
	]
}, {
	"id": "cb825b40.aa2788",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "true",
	"targetType": "full",
	"x": 870,
	"y": 2500,
	"wires": []
}, {
	"id": "1f2097a.39b7268",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "Upload to Last",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 120,
	"y": 2500,
	"wires": [
		["284cefce.2ba3"]
	]
}, {
	"id": "cf17760a.ff6a98",
	"type": "forge-oss",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"forge": "",
	"operation": "PutSignedObject",
	"bucket": "FORGE_BUCKET",
	"bucketType": "env",
	"policyKey": "transient",
	"key": "",
	"contentType": "application/octet-stream",
	"contentDisposition": "",
	"copySource": "",
	"localFilename": "/Users/cyrille/Downloads/status.json",
	"limit": 10,
	"startAt": "",
	"beginsWith": "",
	"with": null,
	"ifMatch": "",
	"ifNoneMatch": "",
	"ifModifiedSince": "",
	"range": "",
	"access": "read",
	"singleUse": false,
	"minutesExpiration": 60,
	"acceptEncoding": "",
	"SessionId": "",
	"guid": "autodesk",
	"region": "US",
	"x": 480,
	"y": 2560,
	"wires": [
		["f3365244.7400f"],
		["b83c1ea.6b57fe"]
	]
}, {
	"id": "284cefce.2ba3",
	"type": "function",
	"z": "a66b3676.5a7038",
	"name": "Go",
	"func": "msg.complete =true;\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 230,
	"y": 2540,
	"wires": [
		["2aad0ab9.4961a6"]
	]
}, {
	"id": "5edbd973.a18a48",
	"type": "function",
	"z": "a66b3676.5a7038",
	"name": "Go",
	"func": "msg.complete =true;\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 230,
	"y": 2620,
	"wires": [
		["cee2a72c.9431b8"]
	]
}, {
	"id": "2aad0ab9.4961a6",
	"type": "join",
	"z": "a66b3676.5a7038",
	"name": "",
	"mode": "custom",
	"build": "object",
	"property": "payload",
	"propertyType": "msg",
	"key": "topic",
	"joiner": "\\n",
	"joinerType": "str",
	"accumulate": false,
	"timeout": "",
	"count": "",
	"reduceRight": false,
	"reduceExp": "",
	"reduceInit": "",
	"reduceInitType": "",
	"reduceFixup": "",
	"x": 390,
	"y": 2480,
	"wires": [
		["5368c24e.e8ee9c"]
	]
}, {
	"id": "5368c24e.e8ee9c",
	"type": "function",
	"z": "a66b3676.5a7038",
	"name": "GUID & Region",
	"func": "var p =msg.payload.guid.body;\nmsg.payload = {\n    guid: p.guid,\n    region: p.region\n};\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 440,
	"y": 2520,
	"wires": [
		["cf17760a.ff6a98", "cb825b40.aa2788"]
	]
}, {
	"id": "275f00be.0e8a7",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "Get Last",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 100,
	"y": 2620,
	"wires": [
		["5edbd973.a18a48"]
	]
}, {
	"id": "afd17fb8.1d3d2",
	"type": "forge-oss",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"forge": "",
	"operation": "GetSignedObject",
	"bucket": "FORGE_BUCKET",
	"bucketType": "env",
	"policyKey": "transient",
	"key": "",
	"contentType": "application/octet-stream",
	"contentDisposition": "",
	"copySource": "",
	"localFilename": "",
	"limit": 10,
	"startAt": "",
	"beginsWith": "",
	"with": null,
	"ifMatch": "",
	"ifNoneMatch": "",
	"ifModifiedSince": "",
	"range": "",
	"access": "read",
	"singleUse": false,
	"minutesExpiration": 60,
	"acceptEncoding": "",
	"SessionId": "",
	"guid": "",
	"region": "US",
	"x": 480,
	"y": 2700,
	"wires": [
		["f3365244.7400f"],
		["b83c1ea.6b57fe"]
	]
}, {
	"id": "f7027eff.2188b",
	"type": "function",
	"z": "a66b3676.5a7038",
	"name": "GUID & Region",
	"func": "var p =msg.payload.guid.body;\nmsg.payload = {\n    guid: p.guid,\n    region: p.region\n};\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 440,
	"y": 2660,
	"wires": [
		["afd17fb8.1d3d2", "cb825b40.aa2788"]
	]
}, {
	"id": "cee2a72c.9431b8",
	"type": "join",
	"z": "a66b3676.5a7038",
	"name": "",
	"mode": "custom",
	"build": "object",
	"property": "payload",
	"propertyType": "msg",
	"key": "topic",
	"joiner": "\\n",
	"joinerType": "str",
	"accumulate": false,
	"timeout": "",
	"count": "",
	"reduceRight": false,
	"reduceExp": "",
	"reduceInit": "",
	"reduceInitType": "",
	"reduceFixup": "",
	"x": 390,
	"y": 2620,
	"wires": [
		["f7027eff.2188b"]
	]
}, {
	"id": "f5c3a40.260f96",
	"type": "comment",
	"z": "a66b3676.5a7038",
	"name": "Signed Resource",
	"info": "",
	"x": 100,
	"y": 2340,
	"wires": []
}, {
	"id": "d722846f.b35558",
	"type": "comment",
	"z": "a66b3676.5a7038",
	"name": "Copy Object",
	"info": "",
	"x": 90,
	"y": 2900,
	"wires": []
}, {
	"id": "96329a36.7041b8",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "Result",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"targetType": "msg",
	"x": 870,
	"y": 2940,
	"wires": []
}, {
	"id": "87953373.c5eea",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "Error",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "err",
	"targetType": "msg",
	"x": 870,
	"y": 2980,
	"wires": []
}, {
	"id": "59e7c6ed.8d4408",
	"type": "forge-oss",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"forge": "",
	"operation": "CopyObject",
	"bucket": "cyrille-tests-buckets",
	"bucketType": "str",
	"policyKey": "transient",
	"key": "test-copy.json",
	"contentType": "application/octet-stream",
	"contentDisposition": "",
	"copySource": "test.json",
	"localFilename": "",
	"limit": 10,
	"startAt": "",
	"beginsWith": "",
	"with": null,
	"ifMatch": "",
	"ifNoneMatch": "",
	"ifModifiedSince": "",
	"range": "",
	"access": "read",
	"singleUse": false,
	"minutesExpiration": 60,
	"acceptEncoding": "",
	"SessionId": "",
	"guid": "autodesk",
	"region": "US",
	"x": 420,
	"y": 2940,
	"wires": [
		["96329a36.7041b8"],
		["87953373.c5eea"]
	]
}, {
	"id": "fa599a48.5ba858",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 100,
	"y": 2940,
	"wires": [
		["59e7c6ed.8d4408"]
	]
}, {
	"id": "319f22d1.7cc49e",
	"type": "comment",
	"z": "a66b3676.5a7038",
	"name": "Create Bucket",
	"info": "",
	"x": 90,
	"y": 860,
	"wires": []
}, {
	"id": "77f3b5c6.de21fc",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "Result",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"targetType": "msg",
	"x": 870,
	"y": 860,
	"wires": []
}, {
	"id": "a94f9cfb.c2967",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "Error",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "err",
	"targetType": "msg",
	"x": 870,
	"y": 900,
	"wires": []
}, {
	"id": "db59c1b8.12c98",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 100,
	"y": 900,
	"wires": [
		["3718ae4b.4f9bb2"]
	]
}, {
	"id": "3718ae4b.4f9bb2",
	"type": "forge-oss",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"forge": "",
	"operation": "CreateBucket",
	"bucket": "cyrille-tests-buckets",
	"bucketType": "str",
	"policyKey": "transient",
	"key": "",
	"contentType": "application/octet-stream",
	"contentDisposition": "",
	"copySource": "",
	"localFilename": "",
	"limit": 10,
	"startAt": "",
	"beginsWith": "",
	"with": null,
	"ifMatch": "",
	"ifNoneMatch": "",
	"ifModifiedSince": "",
	"range": "",
	"access": "read",
	"singleUse": false,
	"minutesExpiration": 60,
	"acceptEncoding": "",
	"SessionId": "",
	"guid": "autodesk",
	"region": "US",
	"x": 450,
	"y": 900,
	"wires": [
		["77f3b5c6.de21fc"],
		["a94f9cfb.c2967"]
	]
}, {
	"id": "23e896bc.60059a",
	"type": "forge-oss",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"forge": "",
	"operation": "DeleteObject",
	"bucket": "cyrille-tests-buckets",
	"bucketType": "str",
	"policyKey": "transient",
	"key": "test-copy.json",
	"contentType": "application/octet-stream",
	"contentDisposition": "",
	"copySource": "",
	"localFilename": "",
	"limit": 10,
	"startAt": "",
	"beginsWith": "",
	"with": null,
	"ifMatch": "",
	"ifNoneMatch": "",
	"ifModifiedSince": "",
	"range": "",
	"access": "read",
	"singleUse": false,
	"minutesExpiration": 60,
	"acceptEncoding": "",
	"SessionId": "",
	"guid": "autodesk",
	"region": "US",
	"x": 450,
	"y": 2280,
	"wires": [
		["d3786962.0d17a8"],
		["e2f352b7.0ea0f"]
	]
}, {
	"id": "19dcd7e3.8b7758",
	"type": "comment",
	"z": "a66b3676.5a7038",
	"name": "Delete Bucket",
	"info": "",
	"x": 90,
	"y": 960,
	"wires": []
}, {
	"id": "a28a0f.f3a975f",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "Result",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"targetType": "msg",
	"x": 870,
	"y": 960,
	"wires": []
}, {
	"id": "769598e0.60fd78",
	"type": "debug",
	"z": "a66b3676.5a7038",
	"name": "Error",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "err",
	"targetType": "msg",
	"x": 870,
	"y": 1000,
	"wires": []
}, {
	"id": "360d0081.3e45a",
	"type": "inject",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 100,
	"y": 1000,
	"wires": [
		["e5c03f4a.cb4e6"]
	]
}, {
	"id": "e5c03f4a.cb4e6",
	"type": "forge-oss",
	"z": "a66b3676.5a7038",
	"name": "",
	"topic": "",
	"forge": "",
	"operation": "DeleteBucket",
	"bucket": "cyrille-tests-buckets",
	"bucketType": "str",
	"policyKey": "transient",
	"key": "",
	"contentType": "application/octet-stream",
	"contentDisposition": "",
	"copySource": "",
	"localFilename": "",
	"limit": 10,
	"startAt": "",
	"beginsWith": "",
	"with": null,
	"ifMatch": "",
	"ifNoneMatch": "",
	"ifModifiedSince": "",
	"range": "",
	"access": "read",
	"singleUse": false,
	"minutesExpiration": 60,
	"acceptEncoding": "",
	"SessionId": "",
	"guid": "autodesk",
	"region": "US",
	"x": 450,
	"y": 1000,
	"wires": [
		["a28a0f.f3a975f"],
		["769598e0.60fd78"]
	]
}]