examples/commands_Flow.json
[{"id":"8de7b639.dbc058","type":"inject","z":"29a84368.a4ae2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["a8a8f0af.837a4"]]},{"id":"72d92890.190268","type":"comment","z":"29a84368.a4ae2c","name":"Invoke the consent page ","info":"Please refer [https://forge.autodesk.com/en/docs/oauth/v2/tutorials/get-3-legged-token/](Forge 3 Legged OAuth) for more information","x":150,"y":60,"wires":[]},{"id":"a8a8f0af.837a4","type":"exec","z":"29a84368.a4ae2c","command":"start chrome --incognito --new-window \"https://developer.api.autodesk.com/authentication/v1/authorize?response_type=code&client_id=45ddMrekwfdPkR7fzGScybKVUrsejpbQ&redirect_uri=http%3A%2F%2F127.0.0.1%3A1880%2Fcallback&scope=data:read\"","addpay":false,"append":"","useSpawn":"false","timer":"60","oldrc":false,"name":"open browser","x":383.00000381469727,"y":118.38888931274414,"wires":[["2b9f9be4.b0be04"],["2b9f9be4.b0be04"],["2b9f9be4.b0be04"]],"info":"This uses `exec` node to launch another browser window with Autodesk SSO login page.\n"},{"id":"2b9f9be4.b0be04","type":"debug","z":"29a84368.a4ae2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":802.6666717529297,"y":89.7777795791626,"wires":[]},{"id":"4654918b.81221","type":"http in","z":"29a84368.a4ae2c","name":"","url":"/callback","method":"get","upload":false,"swaggerDoc":"","x":142,"y":168,"wires":[["d21bfd9d.cce","5a801c6f.3bc1c4"]]},{"id":"5a801c6f.3bc1c4","type":"http response","z":"29a84368.a4ae2c","name":"","statusCode":"","headers":{},"x":190,"y":240,"wires":[]},{"id":"d21bfd9d.cce","type":"function","z":"29a84368.a4ae2c","name":"TokenBody","func":"let client_id = env.get(\"FORGE_CLIENT_ID\");\nlet client_secret = env.get(\"FORGE_CLIENT_SECRET\");\nglobal.set(\"authorize_code\",msg.payload.code);\nmsg.payload = `client_id=${client_id}&client_secret=${client_secret}&grant_type=authorization_code&code=${msg.payload.code}&redirect_uri=http://127.0.0.1:1880/callback`;\nmsg.headers = {};\nmsg.headers['Content-Type']='application/x-www-form-urlencoded';\nreturn msg;\n\n","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["a4a8e658.c1deb8"]]},{"id":"a4a8e658.c1deb8","type":"debug","z":"29a84368.a4ae2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":200,"wires":[]},{"id":"54fb2320.8ac0dc","type":"forge-commands","z":"29a84368.a4ae2c","name":"List-Hubs","topic":"","forge":"","operation":"ListHubs","x":360,"y":480,"wires":[["18b6e573.7290eb"],["2059f7ad.ffdde8"]]},{"id":"4f8c6411.27a6bc","type":"inject","z":"29a84368.a4ae2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":440,"wires":[["54fb2320.8ac0dc"]]},{"id":"18b6e573.7290eb","type":"debug","z":"29a84368.a4ae2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":420,"wires":[]},{"id":"2059f7ad.ffdde8","type":"debug","z":"29a84368.a4ae2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":520,"wires":[]},{"id":"efcf38c6.ec7a28","type":"forge-default-credentials","z":"29a84368.a4ae2c","name":"","forge":"","x":150,"y":340,"wires":[]},{"id":"3f94e6e5.1e1a8a","type":"comment","z":"29a84368.a4ae2c","name":"Three Legged Credentials","info":"","x":150,"y":300,"wires":[]},{"id":"f0b187cf.98af28","type":"comment","z":"29a84368.a4ae2c","name":"List Hubs ","info":"","x":100,"y":400,"wires":[]}]