examples/da-1.json
[{"id":"9040a323.9d0c3","type":"forge-da","z":"6575db26.1fa084","name":"Engines","topic":"","forge":"","operation":"ListEngines","raw":true,"page":"","all":false,"description":"","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[{"value":"","isEnvironmentVariable":false,"key":"key"}],"workitemId":"","x":420,"y":180,"wires":[["3b22eaf9.f61136"],["99af3027.f048b"]]},{"id":"3b22eaf9.f61136","type":"switch","z":"6575db26.1fa084","name":"","property":"payload.body.paginationToken","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":240,"wires":[["b1496434.a5a738","a237446.80448b8"],["2d03c57d.f28dea"]]},{"id":"b1496434.a5a738","type":"change","z":"6575db26.1fa084","name":"","rules":[{"t":"set","p":"payload.page","pt":"msg","to":"payload.body.paginationToken","tot":"msg"},{"t":"delete","p":"payload.body","pt":"msg"},{"t":"delete","p":"payload.headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":240,"wires":[["9040a323.9d0c3"]]},{"id":"99af3027.f048b","type":"debug","z":"6575db26.1fa084","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":180,"wires":[]},{"id":"a237446.80448b8","type":"join","z":"6575db26.1fa084","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":550,"y":300,"wires":[["6e7728fd.a76058"]]},{"id":"2d03c57d.f28dea","type":"function","z":"6575db26.1fa084","name":"Done","func":"msg.complete =true;\n// delete msg.payload\n// delete msg.op;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["a237446.80448b8"]]},{"id":"3dfe0e36.7f5b12","type":"debug","z":"6575db26.1fa084","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":300,"wires":[]},{"id":"6e7728fd.a76058","type":"function","z":"6575db26.1fa084","name":"Merge","func":"var results = msg.payload.reduce (\n    function (sum, elt) {\n        //return ([...sum, ...elt.body.data]);\n        return (sum.concat(elt.body.data));\n    },\n    []\n);\nreturn ({ results: results, op: \"Engines\" });","outputs":1,"noerr":0,"x":710,"y":300,"wires":[["3dfe0e36.7f5b12","6ef0c2f3.0299dc","801cf3f8.c0cbd"]]},{"id":"8d0e8b7.aafe578","type":"forge-da","z":"6575db26.1fa084","name":"Engine Health","topic":"","forge":"","operation":"GetHealth","raw":false,"page":"","all":false,"description":"","alias":"","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[{"value":"","isEnvironmentVariable":false,"key":"key"}],"engine":"","appbundlesId":"","package":"","nickname":"","exponent":"","modulus":"","workitemId":"","x":580,"y":360,"wires":[["a0bb2fa3.05a76"],["bddc0758.93fd98"]]},{"id":"1f18e4f4.5f16eb","type":"forge-da","z":"6575db26.1fa084","name":"Engine details","topic":"","forge":"","operation":"GetEngine","raw":false,"page":"","all":false,"description":"","alias":"","version":"","activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[],"settings":[],"engine":"","appbundlesId":"","package":"","nickname":"","exponent":"","modulus":"","workitemId":"","limitProcessingTimeSec":"","baseUrls":"","signature":"","arguments":[],"x":580,"y":400,"wires":[["b14fccfe.573d7"],["b892d768.49a278"]]},{"id":"6ef0c2f3.0299dc","type":"function","z":"6575db26.1fa084","name":"Engine","func":"let msg2 = {\n    engine: msg.results[2].split('.')[1].split('+')[0]\n};\nreturn (msg2);","outputs":1,"noerr":0,"x":410,"y":360,"wires":[["8d0e8b7.aafe578"]]},{"id":"a0bb2fa3.05a76","type":"debug","z":"6575db26.1fa084","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":360,"wires":[]},{"id":"b14fccfe.573d7","type":"debug","z":"6575db26.1fa084","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":400,"wires":[]},{"id":"bddc0758.93fd98","type":"debug","z":"6575db26.1fa084","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":360,"wires":[]},{"id":"b892d768.49a278","type":"debug","z":"6575db26.1fa084","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":400,"wires":[]},{"id":"3188906a.5afd1","type":"forge-da","z":"6575db26.1fa084","name":"All Engines","topic":"","forge":"","operation":"ListEngines","raw":false,"page":"","all":true,"description":"","alias":"","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[{"value":"","isEnvironmentVariable":false,"key":"key"}],"engine":"","appbundlesId":"","package":"","nickname":"","exponent":"","modulus":"","workitemId":"","limitProcessingTimeSec":"","baseUrls":"","signature":"","arguments":[],"limitPayloadSizeInKB":"","limitVersions":"","limitAliases":"","limitPublicAliases":"","limitAppUploadSizeInMB":"","limitMonthlyProcessingTimeInHours":"","backendLimits":[],"x":430,"y":140,"wires":[["91ec739c.9a5f4"],["99af3027.f048b"]]},{"id":"6e72e9cf.6361a8","type":"inject","z":"6575db26.1fa084","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":140,"wires":[["3188906a.5afd1"]]},{"id":"91ec739c.9a5f4","type":"debug","z":"6575db26.1fa084","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":140,"wires":[]},{"id":"edd0ca24.ae8e68","type":"inject","z":"6575db26.1fa084","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["9040a323.9d0c3"]]},{"id":"801cf3f8.c0cbd","type":"function","z":"6575db26.1fa084","name":"Engine","func":"let msg2 = {\n    engine: msg.results[2]\n};\nreturn (msg2);","outputs":1,"noerr":0,"x":410,"y":400,"wires":[["1f18e4f4.5f16eb"]]},{"id":"78f14c2b.019514","type":"forge-default-credentials","z":"6575db26.1fa084","name":"","forge":"","x":130,"y":40,"wires":[]},{"id":"75108f6b.9aa51","type":"inject","z":"6575db26.1fa084","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":500,"wires":[["dd9751b5.d8e72"]]},{"id":"320245c8.adb18a","type":"debug","z":"6575db26.1fa084","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":500,"wires":[]},{"id":"354e28e5.843568","type":"debug","z":"6575db26.1fa084","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":500,"wires":[]},{"id":"dd9751b5.d8e72","type":"forge-da","z":"6575db26.1fa084","name":"API Health","topic":"","forge":"","operation":"GetHealth","raw":false,"page":"","all":false,"description":"","alias":"","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[{"value":"","isEnvironmentVariable":false,"key":"key"}],"engine":"api","appbundlesId":"","package":"","nickname":"","exponent":"","modulus":"","workitemId":"","limitProcessingTimeSec":"","baseUrls":"","signature":"","arguments":[],"limitPayloadSizeInKB":"","limitVersions":"","limitAliases":"","limitPublicAliases":"","limitAppUploadSizeInMB":"","limitMonthlyProcessingTimeInHours":"","backendLimits":[],"x":370,"y":500,"wires":[["354e28e5.843568"],["320245c8.adb18a"]]},{"id":"53751b78.04b7d4","type":"forge-da","z":"6575db26.1fa084","name":"AutoCAD Engine Health","topic":"","forge":"","operation":"GetHealth","raw":false,"page":"","all":false,"description":"","alias":"","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[{"value":"","isEnvironmentVariable":false,"key":"key"}],"engine":"AutoCAD-V3","appbundlesId":"","package":"","nickname":"","exponent":"","modulus":"","workitemId":"","limitProcessingTimeSec":"","baseUrls":"","signature":"","arguments":[],"limitPayloadSizeInKB":"","limitVersions":"","limitPublicAliases":"","limitAppUploadSizeInMB":"","limitMonthlyProcessingTimeInHours":"","x":410,"y":540,"wires":[["1cd171c5.203c8e"],["407354cd.2dfe9c"]]},{"id":"80287333.4b976","type":"inject","z":"6575db26.1fa084","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":540,"wires":[["53751b78.04b7d4"]]},{"id":"1cd171c5.203c8e","type":"debug","z":"6575db26.1fa084","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":540,"wires":[]},{"id":"407354cd.2dfe9c","type":"debug","z":"6575db26.1fa084","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":540,"wires":[]},{"id":"10b2794e.05ba27","type":"comment","z":"6575db26.1fa084","name":"Engines","info":"","x":90,"y":100,"wires":[]},{"id":"31693374.23dd3c","type":"comment","z":"6575db26.1fa084","name":"Health","info":"","x":90,"y":460,"wires":[]}]