examples/da-3.json
[{"id":"934168e7.813db8","type":"tab","label":"DA - Activity","disabled":false,"info":""},{"id":"3f51ddc3.703d72","type":"forge-default-credentials","z":"934168e7.813db8","name":"","forge":"","x":130,"y":40,"wires":[]},{"id":"694df2b.15b110c","type":"debug","z":"934168e7.813db8","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":180,"wires":[]},{"id":"9c7b548e.f82d88","type":"forge-da","z":"934168e7.813db8","name":"Activities","topic":"","forge":"","operation":"ListActivities","raw":false,"page":"","all":false,"description":"","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[{"value":"","isEnvironmentVariable":false,"key":"key"}],"workitemId":"","x":420,"y":180,"wires":[["faad226e.2d35c","1ec31be2.013b04"],["694df2b.15b110c"]]},{"id":"faad226e.2d35c","type":"switch","z":"934168e7.813db8","name":"","property":"payload.paginationToken","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":240,"wires":[["8fbe4b90.c78368","a8c33f92.d789a"],["c4ca98ad.daeea8"]]},{"id":"8fbe4b90.c78368","type":"change","z":"934168e7.813db8","name":"","rules":[{"t":"set","p":"payload.page","pt":"msg","to":"payload.paginationToken","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":240,"wires":[["9c7b548e.f82d88"]]},{"id":"a8c33f92.d789a","type":"join","z":"934168e7.813db8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":550,"y":300,"wires":[["4999fbf0.3f4cb4"]]},{"id":"c4ca98ad.daeea8","type":"function","z":"934168e7.813db8","name":"Done","func":"msg.complete =true;\n// delete msg.payload\n// delete msg.op;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["a8c33f92.d789a"]]},{"id":"fa4a5116.0f84c","type":"debug","z":"934168e7.813db8","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":920,"wires":[]},{"id":"491f6efa.f470d","type":"debug","z":"934168e7.813db8","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":1100,"wires":[]},{"id":"edb04a20.4a2748","type":"debug","z":"934168e7.813db8","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":300,"wires":[]},{"id":"4999fbf0.3f4cb4","type":"function","z":"934168e7.813db8","name":"Merge","func":"var results = msg.payload.reduce (\n    function (sum, elt) {\n        //return ([...sum, ...elt.data]);\n        return (sum.concat(elt.data));\n    },\n    []\n);\nreturn ({ results: results, op: \"Activities\" });","outputs":1,"noerr":0,"x":710,"y":300,"wires":[["edb04a20.4a2748"]]},{"id":"6a6b727a.94f66c","type":"forge-da","z":"934168e7.813db8","name":"Aliases","topic":"","forge":"","operation":"ListActivityAliases","raw":true,"page":"","all":false,"description":"","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[{"value":"","isEnvironmentVariable":false,"key":"key"}],"workitemId":"","x":420,"y":440,"wires":[["26ceb26e.b5affe"],["d96262bd.070d2"]]},{"id":"26ceb26e.b5affe","type":"switch","z":"934168e7.813db8","name":"","property":"payload.body.paginationToken","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":500,"wires":[["e1b24b19.2a2758","95b6bca5.fe95e"],["40acf66a.0fcae8"]]},{"id":"e1b24b19.2a2758","type":"change","z":"934168e7.813db8","name":"","rules":[{"t":"set","p":"payload.page","pt":"msg","to":"payload.body.paginationToken","tot":"msg"},{"t":"delete","p":"payload.body","pt":"msg"},{"t":"delete","p":"payload.headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":500,"wires":[["6a6b727a.94f66c"]]},{"id":"95b6bca5.fe95e","type":"join","z":"934168e7.813db8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":550,"y":560,"wires":[["76463747.41e7e8"]]},{"id":"40acf66a.0fcae8","type":"function","z":"934168e7.813db8","name":"Done","func":"msg.complete =true;\n// delete msg.payload\n// delete msg.op;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":560,"wires":[["95b6bca5.fe95e"]]},{"id":"76463747.41e7e8","type":"function","z":"934168e7.813db8","name":"Merge","func":"var results = msg.payload.reduce (\n    function (sum, elt) {\n        //return ([...sum, ...elt.body.data]);\n        return (sum.concat(elt.body.data));\n    },\n    []\n);\nreturn ({ results: results, op: \"Aliases\" });","outputs":1,"noerr":0,"x":710,"y":560,"wires":[["f154218f.8ca37"]]},{"id":"f154218f.8ca37","type":"debug","z":"934168e7.813db8","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":560,"wires":[]},{"id":"d96262bd.070d2","type":"debug","z":"934168e7.813db8","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":440,"wires":[]},{"id":"c57acf38.f6fd2","type":"inject","z":"934168e7.813db8","name":"UpdateDWGParamActivity","topic":"","payload":"{\"activityId\":\"oZZ0CN7qXTGAiqSbmEhLlmYcKXt0YVoU.UpdateDWGParamActivity+dev\",\"version\":1,\"alias\":\"dev\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":400,"wires":[["6a6b727a.94f66c","ae86e599.ff6858"]]},{"id":"9bae1315.fdb6b","type":"forge-da","z":"934168e7.813db8","name":"Versions","topic":"","forge":"","operation":"ListActivityVersions","raw":true,"page":"","all":false,"description":"","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[{"value":"","isEnvironmentVariable":false,"key":"key"}],"workitemId":"","x":420,"y":680,"wires":[["63f81b24.85ebe4"],["acfd3504.eb50f8"]]},{"id":"63f81b24.85ebe4","type":"switch","z":"934168e7.813db8","name":"","property":"payload.body.paginationToken","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":740,"wires":[["4d491e76.5e1a4","2d9264ac.e7484c"],["bc70900.430c77"]]},{"id":"4d491e76.5e1a4","type":"change","z":"934168e7.813db8","name":"","rules":[{"t":"set","p":"payload.page","pt":"msg","to":"payload.body.paginationToken","tot":"msg"},{"t":"delete","p":"payload.body","pt":"msg"},{"t":"delete","p":"payload.headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":740,"wires":[["9bae1315.fdb6b"]]},{"id":"acfd3504.eb50f8","type":"debug","z":"934168e7.813db8","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":680,"wires":[]},{"id":"226a0b88.9a35f4","type":"debug","z":"934168e7.813db8","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":800,"wires":[]},{"id":"59f23faf.709a9","type":"function","z":"934168e7.813db8","name":"Merge","func":"var results = msg.payload.reduce (\n    function (sum, elt) {\n        //return ([...sum, ...elt.body.data]);\n        return (sum.concat(elt.body.data));\n    },\n    []\n);\nreturn ({ results: results, op: \"Versions\" });","outputs":1,"noerr":0,"x":710,"y":800,"wires":[["226a0b88.9a35f4"]]},{"id":"2d9264ac.e7484c","type":"join","z":"934168e7.813db8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":550,"y":800,"wires":[["59f23faf.709a9"]]},{"id":"bc70900.430c77","type":"function","z":"934168e7.813db8","name":"Done","func":"msg.complete =true;\n// delete msg.payload\n// delete msg.op;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":800,"wires":[["2d9264ac.e7484c"]]},{"id":"d6d96c62.daa8","type":"forge-da","z":"934168e7.813db8","name":"Details","topic":"","forge":"","operation":"GetActivity","raw":false,"page":"","all":false,"description":"","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[{"value":"","isEnvironmentVariable":false,"key":"key"}],"workitemId":"","x":410,"y":900,"wires":[["fa4a5116.0f84c"],["fccb401b.be9e1"]]},{"id":"fccb401b.be9e1","type":"debug","z":"934168e7.813db8","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":960,"wires":[]},{"id":"b82e4b4d.59c638","type":"forge-da","z":"934168e7.813db8","name":"Version","topic":"","forge":"","operation":"GetActivityVersion","raw":false,"page":"","all":false,"description":"","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[{"value":"","isEnvironmentVariable":false,"key":"key"}],"workitemId":"","x":420,"y":980,"wires":[["fa4a5116.0f84c"],["fccb401b.be9e1"]]},{"id":"d6573d01.ed47e","type":"forge-da","z":"934168e7.813db8","name":"Alias","topic":"","forge":"","operation":"GetActivityAlias","page":"","description":"","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[{"value":"","isEnvironmentVariable":false,"key":"key"}],"workitemId":"","x":410,"y":940,"wires":[["fa4a5116.0f84c"],["fccb401b.be9e1"]]},{"id":"14e43cdf.032553","type":"inject","z":"934168e7.813db8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1100,"wires":[["78c8bef4.1d9e2"]]},{"id":"78c8bef4.1d9e2","type":"forge-da","z":"934168e7.813db8","name":"Create Activity","topic":"","forge":"","operation":"CreateActivity","raw":true,"page":"","all":false,"description":"Cyrille Test","alias":"","version":"","activityId":"UpdateDWGParamActivity","receiver":"","appbundles":"oZZ0CN7qXTGAiqSbmEhLlmYcKXt0YVoU.UpdateDWGParamAppBundle+dev","commandline":"$(engine.path)\\accoreconsole.exe /i $(args[inputFile].path) /al $(appbundles[UpdateDWGParamAppBundle].path) /s $(settings[script].path)","parameters":[{"id":"inputFile","localName":"$(inputFile)","verb":"get","zip":false,"ondemand":false,"required":true,"description":"inputFile desc"},{"id":"inputJson","localName":"params.json","verb":"get","zip":false,"ondemand":false,"required":false,"description":"inputJson desc"},{"id":"outputFile","localName":"outputFile.dwg","verb":"get","zip":false,"ondemand":false,"required":true,"description":"outputFile desc"}],"settings":[{"value":"UpdateParams\\n","key":"script","type":"StringSetting"}],"engine":"Autodesk.AutoCAD+23","appbundlesId":"","package":"","nickname":"","exponent":"","modulus":"","workitemId":"","limitProcessingTimeSec":"","baseUrls":"","signature":"","arguments":[],"limitPayloadSizeInKB":"","limitVersions":"","limitAliases":"","limitPublicAliases":"","limitAppUploadSizeInMB":"","limitMonthlyProcessingTimeInHours":"","backendLimits":[],"x":320,"y":1100,"wires":[["2f98eef0.473822","f2191d3c.79391","399ddcab.898c04"],["491f6efa.f470d"]]},{"id":"f2191d3c.79391","type":"change","z":"934168e7.813db8","name":"","rules":[{"t":"set","p":"activityId","pt":"msg","to":"payload.body.id","tot":"msg"},{"t":"delete","p":"payload.statusCode","pt":"msg"},{"t":"delete","p":"payload.headers","pt":"msg"},{"t":"delete","p":"payload.body","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1160,"wires":[["5225f9b2.961858","65d77c6b.531ea4"]]},{"id":"5225f9b2.961858","type":"forge-da","z":"934168e7.813db8","name":"Create Alias","topic":"","forge":"","operation":"CreateActivityAlias","raw":true,"page":"","all":false,"description":"","alias":"dev","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[{"value":"","isEnvironmentVariable":false,"key":"key"}],"engine":"","appbundlesId":"","package":"","nickname":"","exponent":"","modulus":"","workitemId":"","limitProcessingTimeSec":"","baseUrls":"","signature":"","arguments":[],"limitPayloadSizeInKB":"","limitVersions":"","limitAliases":"","limitPublicAliases":"","limitAppUploadSizeInMB":"","limitMonthlyProcessingTimeInHours":"","backendLimits":[],"x":530,"y":1160,"wires":[["8b769c57.08db","3a3f894c.c0e366"],["ae69bfc1.c1f82"]]},{"id":"8b769c57.08db","type":"function","z":"934168e7.813db8","name":"activityId","func":"msg.activityId +='+' + msg.payload.body.id;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1260,"wires":[["9dbba27a.b846c"]]},{"id":"d3553614.3929b8","type":"forge-da","z":"934168e7.813db8","name":"Get Activity","topic":"","forge":"","operation":"GetActivity","raw":false,"page":"","all":false,"description":"","alias":"","version":"","activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[],"settings":[],"engine":"","appbundlesId":"","package":"","nickname":"","exponent":"","modulus":"","workitemId":"","x":590,"y":1260,"wires":[["d1856621.02bc78"],["b7fbca6b.1a8f98"]]},{"id":"2f98eef0.473822","type":"change","z":"934168e7.813db8","name":"","rules":[{"t":"set","p":"activityId","pt":"msg","to":"payload.body.id","tot":"msg"},{"t":"delete","p":"payload.statusCode","pt":"msg"},{"t":"delete","p":"payload.headers","pt":"msg"},{"t":"delete","p":"payload.body","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1340,"wires":[["688e0929.1ed168"]]},{"id":"688e0929.1ed168","type":"delay","z":"934168e7.813db8","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":1340,"wires":[["2948d2c5.d420be","b3da57e9.e54d18"]]},{"id":"b3da57e9.e54d18","type":"forge-da","z":"934168e7.813db8","name":"Delete activity","topic":"","forge":"","operation":"DeleteActivity","raw":false,"page":"","all":false,"description":"","alias":"","version":"","activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[],"engine":"","appbundlesId":"","package":"","nickname":"","exponent":"","modulus":"","workitemId":"","x":680,"y":1340,"wires":[["81596a2e.ddc328"],["57ce269d.60f178"]]},{"id":"f8ec1447.7761e8","type":"forge-da","z":"934168e7.813db8","name":"List Activities","topic":"","forge":"","operation":"ListActivities","page":"","all":true,"description":"","version":"4","activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[],"settings":[],"workitemId":"","x":670,"y":1400,"wires":[["33d10fdf.1313f"],["ec7b7c18.b1464"]]},{"id":"2948d2c5.d420be","type":"delay","z":"934168e7.813db8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":1400,"wires":[["f8ec1447.7761e8"]]},{"id":"46e6312f.3e58b","type":"inject","z":"934168e7.813db8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":1400,"wires":[["f8ec1447.7761e8"]]},{"id":"ae69bfc1.c1f82","type":"debug","z":"934168e7.813db8","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":1160,"wires":[]},{"id":"b7fbca6b.1a8f98","type":"debug","z":"934168e7.813db8","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":1260,"wires":[]},{"id":"57ce269d.60f178","type":"debug","z":"934168e7.813db8","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":1360,"wires":[]},{"id":"ec7b7c18.b1464","type":"debug","z":"934168e7.813db8","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":1440,"wires":[]},{"id":"d1856621.02bc78","type":"debug","z":"934168e7.813db8","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":1260,"wires":[]},{"id":"81596a2e.ddc328","type":"debug","z":"934168e7.813db8","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":1320,"wires":[]},{"id":"33d10fdf.1313f","type":"debug","z":"934168e7.813db8","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":1400,"wires":[]},{"id":"65d77c6b.531ea4","type":"forge-da","z":"934168e7.813db8","name":"Create Version","topic":"","forge":"","operation":"CreateActivityVersion","raw":true,"page":"","all":false,"description":"Cyrille prod","alias":"","version":1,"activityId":"","receiver":"","appbundles":"oZZ0CN7qXTGAiqSbmEhLlmYcKXt0YVoU.UpdateDWGParamAppBundle+dev","commandline":"$(engine.path)\\accoreconsole.exe /i test /al $(appbundles[UpdateDWGParamAppBundle].path) /s script","parameters":[{"id":"inputFile","localName":"$(inputFile)","verb":"get","zip":false,"ondemand":false,"required":true,"description":"inputFile file"},{"id":"inputJson","localName":"params.json","verb":"get","zip":false,"ondemand":false,"required":false,"description":"inputJson file"},{"id":"outputFile","localName":"outputFile.dwg","verb":"put","zip":false,"ondemand":false,"required":true,"description":"outputFile file"}],"settings":[{"value":"UpdateParam\\n","isEnvironmentVariable":false,"key":"script"}],"engine":"Autodesk.AutoCAD+23","appbundlesId":"","package":"","nickname":"","exponent":"","modulus":"","workitemId":"","limitProcessingTimeSec":"","baseUrls":"","signature":"","arguments":[],"limitPayloadSizeInKB":"","limitVersions":"","limitAliases":"","limitPublicAliases":"","limitAppUploadSizeInMB":"","limitMonthlyProcessingTimeInHours":"","backendLimits":[],"x":540,"y":1200,"wires":[["eb008cba.995d3"],["b4d72a05.5c5d98"]]},{"id":"eb008cba.995d3","type":"debug","z":"934168e7.813db8","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":1200,"wires":[]},{"id":"b4d72a05.5c5d98","type":"debug","z":"934168e7.813db8","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":1200,"wires":[]},{"id":"3a3f894c.c0e366","type":"debug","z":"934168e7.813db8","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":1160,"wires":[]},{"id":"399ddcab.898c04","type":"debug","z":"934168e7.813db8","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":1100,"wires":[]},{"id":"9dbba27a.b846c","type":"delay","z":"934168e7.813db8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":1260,"wires":[["d3553614.3929b8"]]},{"id":"f7e3e0ec.f2b6c","type":"forge-da","z":"934168e7.813db8","name":"All Activities","topic":"","forge":"","operation":"ListActivities","page":"","all":true,"description":"","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[{"value":"","isEnvironmentVariable":false,"key":"key"}],"workitemId":"","x":430,"y":140,"wires":[["1ec31be2.013b04"],["694df2b.15b110c"]]},{"id":"1ec31be2.013b04","type":"debug","z":"934168e7.813db8","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":140,"wires":[]},{"id":"312d85fb.31df3a","type":"forge-da","z":"934168e7.813db8","name":"All Versions","topic":"","forge":"","operation":"ListActivityVersions","page":"","all":true,"description":"","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[{"value":"","isEnvironmentVariable":false,"key":"key"}],"workitemId":"","x":430,"y":640,"wires":[["aee363ea.fd211"],["acfd3504.eb50f8"]]},{"id":"ae86e599.ff6858","type":"forge-da","z":"934168e7.813db8","name":"All Aliases","topic":"","forge":"","operation":"ListActivityAliases","raw":false,"page":"","all":true,"description":"","alias":"","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[{"value":"","isEnvironmentVariable":false,"key":"key"}],"engine":"","appbundlesId":"","package":"","nickname":"","exponent":"","modulus":"","workitemId":"","limitProcessingTimeSec":"","baseUrls":"","signature":"","arguments":[],"limitPayloadSizeInKB":"","limitVersions":"","limitAliases":"","limitPublicAliases":"","limitAppUploadSizeInMB":"","limitMonthlyProcessingTimeInHours":"","backendLimits":[],"x":430,"y":400,"wires":[["bed4b275.12044"],["d96262bd.070d2"]]},{"id":"aee363ea.fd211","type":"debug","z":"934168e7.813db8","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":640,"wires":[]},{"id":"bed4b275.12044","type":"debug","z":"934168e7.813db8","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":400,"wires":[]},{"id":"acf9fb15.b05e78","type":"inject","z":"934168e7.813db8","name":"UpdateDWGParamActivity","topic":"","payload":"{\"activityId\":\"oZZ0CN7qXTGAiqSbmEhLlmYcKXt0YVoU.UpdateDWGParamActivity+dev\",\"version\":1,\"alias\":\"dev\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":640,"wires":[["312d85fb.31df3a","9bae1315.fdb6b"]]},{"id":"d7b69ebb.e0439","type":"inject","z":"934168e7.813db8","name":"UpdateDWGParamActivity","topic":"","payload":"{\"activityId\":\"oZZ0CN7qXTGAiqSbmEhLlmYcKXt0YVoU.UpdateDWGParamActivity+dev\",\"version\":1,\"alias\":\"dev\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":900,"wires":[["d6d96c62.daa8","d6573d01.ed47e","b82e4b4d.59c638"]]},{"id":"59dc750a.efba2c","type":"inject","z":"934168e7.813db8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":140,"wires":[["f7e3e0ec.f2b6c"]]},{"id":"46deb911.ce62a8","type":"inject","z":"934168e7.813db8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["9c7b548e.f82d88"]]},{"id":"6efb25ae.a7251c","type":"comment","z":"934168e7.813db8","name":"AppBundles","info":"","x":110,"y":100,"wires":[]}]