examples/da-4.json
[{"id":"92eae4e4.d44c68","type":"forge-default-credentials","z":"bd840cb8.2f259","name":"","forge":"","x":130,"y":60,"wires":[]},{"id":"86b4b08.cf9d85","type":"forge-da","z":"bd840cb8.2f259","name":"All Shares","topic":"","forge":"","operation":"ListShares","raw":false,"page":"","all":false,"description":"","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[{"value":"","isEnvironmentVariable":false,"key":"key"}],"workitemId":"","x":360,"y":180,"wires":[["f9be0513.c169b8"],["6523a8ed.0231c8"]]},{"id":"f9be0513.c169b8","type":"debug","z":"bd840cb8.2f259","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":180,"wires":[]},{"id":"6523a8ed.0231c8","type":"debug","z":"bd840cb8.2f259","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":220,"wires":[]},{"id":"e1b74d91.d699a","type":"forge-da","z":"bd840cb8.2f259","name":"Shares","topic":"","forge":"","operation":"ListShares","raw":false,"page":"","all":false,"description":"","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[{"value":"","isEnvironmentVariable":false,"key":"key"}],"workitemId":"","x":350,"y":220,"wires":[["a4c965d3.389a48"],["6523a8ed.0231c8"]]},{"id":"a4c965d3.389a48","type":"switch","z":"bd840cb8.2f259","name":"","property":"payload.paginationToken","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":280,"wires":[["bc69fe83.7f33b","30389c51.ffde54"],["32460f7c.fc11"]]},{"id":"bc69fe83.7f33b","type":"change","z":"bd840cb8.2f259","name":"","rules":[{"t":"set","p":"payload.page","pt":"msg","to":"payload.paginationToken","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":280,"wires":[["e1b74d91.d699a"]]},{"id":"30389c51.ffde54","type":"join","z":"bd840cb8.2f259","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":490,"y":340,"wires":[["5899f4b6.76335c"]]},{"id":"32460f7c.fc11","type":"function","z":"bd840cb8.2f259","name":"Done","func":"msg.complete =true;\n// delete msg.payload\n// delete msg.op;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":340,"wires":[["30389c51.ffde54"]]},{"id":"5899f4b6.76335c","type":"function","z":"bd840cb8.2f259","name":"Merge","func":"var results = msg.payload.reduce (\n    function (sum, elt) {\n        //return ([...sum, ...elt.data]);\n        return (sum.concat(elt.data));\n    },\n    []\n);\nreturn ({ results: results, op: \"Shares\" });","outputs":1,"noerr":0,"x":610,"y":340,"wires":[["ed7cd10f.58c2a"]]},{"id":"ed7cd10f.58c2a","type":"debug","z":"bd840cb8.2f259","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":340,"wires":[]},{"id":"4ffc16b5.97e628","type":"inject","z":"bd840cb8.2f259","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["86b4b08.cf9d85"]]},{"id":"20271ae1.c0a206","type":"inject","z":"bd840cb8.2f259","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":520,"wires":[["f159b733.2ca358"]]},{"id":"9d5a196c.d75f18","type":"debug","z":"bd840cb8.2f259","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":440,"wires":[]},{"id":"8d7a36c.4d254c8","type":"debug","z":"bd840cb8.2f259","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":480,"wires":[]},{"id":"8b7723dd.43387","type":"debug","z":"bd840cb8.2f259","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":660,"wires":[]},{"id":"7b45c3ef.78f93c","type":"inject","z":"bd840cb8.2f259","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":440,"wires":[["5c252112.f3dde"]]},{"id":"1c91f8f4.b76407","type":"inject","z":"bd840cb8.2f259","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":220,"wires":[["e1b74d91.d699a"]]},{"id":"ce86b5c6.b740b8","type":"inject","z":"bd840cb8.2f259","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":480,"wires":[["a5445d1b.8fcb"]]},{"id":"2370b9ee.10a736","type":"inject","z":"bd840cb8.2f259","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":640,"wires":[["c1818f10.41e15"]]},{"id":"7dcce91a.15f6d8","type":"debug","z":"bd840cb8.2f259","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":700,"wires":[]},{"id":"5c252112.f3dde","type":"forge-da","z":"bd840cb8.2f259","name":"","topic":"","forge":"","operation":"GetForgeApps","raw":false,"page":"","all":false,"description":"","alias":"","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[{"value":"","isEnvironmentVariable":false,"key":"key"}],"engine":"","appbundlesId":"","package":"","nickname":"","exponent":"","modulus":"","workitemId":"","limitProcessingTimeSec":"","baseUrls":"","signature":"","arguments":[],"limitPayloadSizeInKB":"","limitVersions":"","limitPublicAliases":"","limitAppUploadSizeInMB":"","limitMonthlyProcessingTimeInHours":"","x":390,"y":440,"wires":[["9d5a196c.d75f18"],["8d7a36c.4d254c8"]]},{"id":"a5445d1b.8fcb","type":"forge-da","z":"bd840cb8.2f259","name":"","topic":"","forge":"","operation":"DeleteForgeApps","raw":false,"page":"","all":false,"description":"","alias":"","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[{"value":"","isEnvironmentVariable":false,"key":"key"}],"engine":"","appbundlesId":"","package":"","nickname":"","exponent":"","modulus":"","workitemId":"","limitProcessingTimeSec":"","baseUrls":"","signature":"","arguments":[],"x":400,"y":480,"wires":[["9d5a196c.d75f18"],["8d7a36c.4d254c8"]]},{"id":"f159b733.2ca358","type":"forge-da","z":"bd840cb8.2f259","name":"","topic":"","forge":"","operation":"UpdateForgeApps","raw":false,"page":"","all":false,"description":"","alias":"","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[{"value":"","isEnvironmentVariable":false,"key":"key"}],"engine":"","appbundlesId":"","package":"","nickname":"","exponent":"","modulus":"","workitemId":"","limitProcessingTimeSec":"","baseUrls":"","signature":"","arguments":[],"limitPayloadSizeInKB":"","limitVersions":"","limitAliases":"","limitPublicAliases":"","limitAppUploadSizeInMB":"","limitMonthlyProcessingTimeInHours":"","backendLimits":[],"x":400,"y":520,"wires":[["9d5a196c.d75f18"],["8d7a36c.4d254c8"]]},{"id":"c1818f10.41e15","type":"forge-da","z":"bd840cb8.2f259","name":"","topic":"","forge":"","operation":"GetServiceLimits","raw":false,"page":"","all":false,"description":"","alias":"","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[{"value":"","isEnvironmentVariable":false,"key":"key"}],"engine":"","appbundlesId":"","package":"","nickname":"me","exponent":"","modulus":"","workitemId":"","limitProcessingTimeSec":"","baseUrls":"","signature":"","arguments":[],"limitPayloadSizeInKB":"","limitVersions":"","limitPublicAliases":"","limitAppUploadSizeInMB":"","limitMonthlyProcessingTimeInHours":"","x":400,"y":640,"wires":[["8b7723dd.43387"],["7dcce91a.15f6d8"]]},{"id":"40c350f5.86731","type":"forge-da","z":"bd840cb8.2f259","name":"","topic":"","forge":"","operation":"DeleteServiceLimits","raw":false,"page":"","all":false,"description":"","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[{"value":"","isEnvironmentVariable":false,"key":"key"}],"appbundlesId":"","package":"","nickname":"me","exponent":"","modulus":"","workitemId":"","x":400,"y":720,"wires":[["8b7723dd.43387"],["7dcce91a.15f6d8"]]},{"id":"e3c2825f.e4b7c","type":"inject","z":"bd840cb8.2f259","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":680,"wires":[["6ebf043b.d653fc"]]},{"id":"b835d0d8.9fc67","type":"inject","z":"bd840cb8.2f259","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":720,"wires":[["40c350f5.86731"]]},{"id":"30163122.46c9fe","type":"comment","z":"bd840cb8.2f259","name":"Shares","info":"","x":90,"y":140,"wires":[]},{"id":"17591a00.a74b06","type":"comment","z":"bd840cb8.2f259","name":"ForgeApps","info":"","x":100,"y":400,"wires":[]},{"id":"6ebf043b.d653fc","type":"forge-da","z":"bd840cb8.2f259","name":"","topic":"","forge":"","operation":"SetServiceLimits","raw":false,"page":"","all":false,"description":"","alias":"","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[],"engine":"","appbundlesId":"","package":"","nickname":"me","exponent":"","modulus":"","workitemId":"","limitProcessingTimeSec":"","baseUrls":"","signature":"","arguments":[],"limitPayloadSizeInKB":"","limitVersions":"","limitAliases":"","limitPublicAliases":"","limitAppUploadSizeInMB":"","limitMonthlyProcessingTimeInHours":"90","backendLimits":[{"id":"AutoCAD-V3","limitProcessingTimeSec":"50"}],"x":400,"y":680,"wires":[["8b7723dd.43387"],["7dcce91a.15f6d8"]]},{"id":"55fd7e47.9e257","type":"comment","z":"bd840cb8.2f259","name":"ServiceLimits","info":"","x":110,"y":600,"wires":[]}]