examples/da-5.json
[{"id":"71d8f4cd.ccfb3c","type":"forge-default-credentials","z":"d3c424fc.948088","name":"","forge":"","x":130,"y":40,"wires":[]},{"id":"efaac95b.49faa8","type":"forge-da","z":"d3c424fc.948088","name":"","topic":"","forge":"","operation":"GetWorkitems","raw":false,"page":"","all":false,"description":"","alias":"","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[{"value":"","isEnvironmentVariable":false,"key":"key"}],"engine":"","appbundlesId":"","package":"","nickname":"me","exponent":"","modulus":"","workitemId":"","limitProcessingTimeSec":"","baseUrls":"","signature":"","arguments":[],"limitPayloadSizeInKB":"","limitVersions":"","limitAliases":"","limitPublicAliases":"","limitAppUploadSizeInMB":"","limitMonthlyProcessingTimeInHours":"","backendLimits":[],"x":430,"y":140,"wires":[["c3374ec8.a4f8f"],["f67c69bb.9061a8"]]},{"id":"5ea00030.05eac","type":"inject","z":"d3c424fc.948088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":140,"wires":[["efaac95b.49faa8"]]},{"id":"7ac07f98.1b1c6","type":"inject","z":"d3c424fc.948088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":200,"wires":[["4a6573ff.52a92c"]]},{"id":"517f6cea.ec8384","type":"inject","z":"d3c424fc.948088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":280,"wires":[["5870acc9.30f8d4"]]},{"id":"f67c69bb.9061a8","type":"debug","z":"d3c424fc.948088","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":240,"wires":[]},{"id":"c3374ec8.a4f8f","type":"debug","z":"d3c424fc.948088","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":200,"wires":[]},{"id":"4a6573ff.52a92c","type":"forge-da","z":"d3c424fc.948088","name":"","topic":"","forge":"","operation":"DeleteWorkitems","raw":false,"page":"","all":false,"description":"","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[{"value":"","isEnvironmentVariable":false,"key":"key"}],"appbundlesId":"","package":"","nickname":"me","exponent":"","modulus":"","workitemId":"","x":440,"y":200,"wires":[["c3374ec8.a4f8f"],["f67c69bb.9061a8"]]},{"id":"5870acc9.30f8d4","type":"forge-da","z":"d3c424fc.948088","name":"","topic":"","forge":"","operation":"CreateWorkitems","raw":false,"page":"","all":false,"description":"","alias":"","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[{"value":"","isEnvironmentVariable":false,"key":"key"}],"engine":"","appbundlesId":"","package":"","nickname":"me","exponent":"","modulus":"","workitemId":"","limitProcessingTimeSec":"","baseUrls":"","signature":"","arguments":[{"optional":false,"localName":"","pathInZip":"","url":"https://developer.api.autodesk.com/oss/v2/buckets/${bucketKey}/objects/${inputFileNameOSS}","verb":"get","headers":"","multiparts":"","parent":"","key":"key"}],"x":440,"y":280,"wires":[["c3374ec8.a4f8f"],["f67c69bb.9061a8"]]},{"id":"7731b6bb.7dc498","type":"forge-da","z":"d3c424fc.948088","name":"","topic":"","forge":"","operation":"CreateBatchWorkitems","raw":false,"page":"","all":false,"description":"","alias":"","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":"","verb":"get","zip":false,"ondemand":false,"required":false,"description":""}],"settings":[{"value":"","isEnvironmentVariable":false,"key":"key"}],"engine":"","appbundlesId":"","package":"","nickname":"me","exponent":"","modulus":"","workitemId":"","limitProcessingTimeSec":"","baseUrls":"","signature":"","arguments":[],"x":460,"y":340,"wires":[["c3374ec8.a4f8f"],["f67c69bb.9061a8"]]},{"id":"7acaf52c.af56ac","type":"inject","z":"d3c424fc.948088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":340,"wires":[["7731b6bb.7dc498"]]},{"id":"13bb2e95.33baa1","type":"comment","z":"d3c424fc.948088","name":"WorkItems","info":"","x":100,"y":100,"wires":[]}]