examples/Data-management.json
[{"id":"a1af2747.f39408","type":"tab","label":"Data Management","disabled":false,"info":""},{"id":"43d316ed.3185b8","type":"forge-dm","z":"a1af2747.f39408","name":"ListHubs","topic":"","forge":"","hub":"","hubType":"str","project":"","projectType":"str","operation":"ListHubs","x":380,"y":580,"wires":[["453a3480.6e287c"],["f6cdf08d.f2b0b"]]},{"id":"f50323ab.a97ac","type":"inject","z":"a1af2747.f39408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":580,"wires":[["43d316ed.3185b8"]]},{"id":"453a3480.6e287c","type":"debug","z":"a1af2747.f39408","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":540,"wires":[]},{"id":"f6cdf08d.f2b0b","type":"debug","z":"a1af2747.f39408","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":640,"wires":[]},{"id":"8716b5c2.881748","type":"inject","z":"a1af2747.f39408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":240,"wires":[["fbd1838e.14bd2"]]},{"id":"bbcf6f5f.7ac57","type":"comment","z":"a1af2747.f39408","name":"GetAuthorize and Exchange The Authorization Code For An Access Token","info":"Please refer [https://forge.autodesk.com/en/docs/oauth/v2/tutorials/get-3-legged-token/](Forge 3 Legged OAuth) for more information","x":299,"y":204,"wires":[]},{"id":"fbd1838e.14bd2","type":"exec","z":"a1af2747.f39408","command":"start chrome --incognito --new-window \"https://developer.api.autodesk.com/authentication/v1/authorize?response_type=code&client_id=WA04tbDfH4vcMiUc59igr235HXdWLYsq&redirect_uri=http%3A%2F%2F127.0.0.1%3A1880%2Fcallback&scope=data:read\"","addpay":false,"append":"","useSpawn":"false","timer":"60","oldrc":false,"name":"open browser","x":363.00000381469727,"y":258.38888931274414,"wires":[["8e0e899c.927c68"],["8e0e899c.927c68"],["8e0e899c.927c68"]],"info":"This uses `exec` node to launch another browser window with Autodesk SSO login page.\n"},{"id":"8e0e899c.927c68","type":"debug","z":"a1af2747.f39408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":782.6666717529297,"y":229.7777795791626,"wires":[]},{"id":"50a7d44b.a1214c","type":"http in","z":"a1af2747.f39408","name":"","url":"/callback","method":"get","upload":false,"swaggerDoc":"","x":122,"y":308,"wires":[["4ad3e9e7.6a0688","e92e0c6f.254fe"]]},{"id":"e92e0c6f.254fe","type":"http response","z":"a1af2747.f39408","name":"","statusCode":"","headers":{},"x":130,"y":380,"wires":[]},{"id":"4ad3e9e7.6a0688","type":"function","z":"a1af2747.f39408","name":"TokenBody","func":"let client_id = env.get(\"FORGE_CLIENT_ID\");\nlet client_secret = env.get(\"FORGE_CLIENT_SECRET\");\nglobal.set(\"authorize_code\",msg.payload.code);\nmsg.payload = `client_id=${client_id}&client_secret=${client_secret}&grant_type=authorization_code&code=${msg.payload.code}&redirect_uri=http://127.0.0.1:1880/callback`;\nmsg.headers = {};\nmsg.headers['Content-Type']='application/x-www-form-urlencoded';\nreturn msg;\n\n","outputs":1,"noerr":0,"x":410,"y":380,"wires":[["434fee98.f4361"]]},{"id":"434fee98.f4361","type":"debug","z":"a1af2747.f39408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":340,"wires":[]},{"id":"ff22ef9d.3ea19","type":"forge-dm","z":"a1af2747.f39408","name":"HubDetails","topic":"","forge":"","hub":"HUB_ID","hubType":"env","project":"","projectType":"str","operation":"HubDetails","x":370,"y":760,"wires":[["a45cb272.9009d"],["10fa0537.97089b"]]},{"id":"b2b43c73.6984c","type":"inject","z":"a1af2747.f39408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":760,"wires":[["ff22ef9d.3ea19"]]},{"id":"a45cb272.9009d","type":"debug","z":"a1af2747.f39408","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":700,"wires":[]},{"id":"10fa0537.97089b","type":"debug","z":"a1af2747.f39408","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":800,"wires":[]},{"id":"fe53d8f7.39e828","type":"inject","z":"a1af2747.f39408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":940,"wires":[["96508294.410b2"]]},{"id":"21e89868.83fa68","type":"debug","z":"a1af2747.f39408","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":880,"wires":[]},{"id":"96508294.410b2","type":"forge-dm","z":"a1af2747.f39408","name":"ListProjects","topic":"","forge":"","hub":"HUB_ID","hubType":"env","project":"","projectType":"str","operation":"ListProjects","x":370,"y":940,"wires":[["21e89868.83fa68"],["d4969c1a.6cae9"]]},{"id":"d4969c1a.6cae9","type":"debug","z":"a1af2747.f39408","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":980,"wires":[]},{"id":"bfd3bac6.468ed8","type":"inject","z":"a1af2747.f39408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1080,"wires":[["8c183f6c.17ee4"]]},{"id":"c13edb56.860d68","type":"debug","z":"a1af2747.f39408","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":1035,"wires":[]},{"id":"9eacaf15.1a6c5","type":"debug","z":"a1af2747.f39408","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":591,"y":1120,"wires":[]},{"id":"8c183f6c.17ee4","type":"forge-dm","z":"a1af2747.f39408","name":"ProjectDetails","topic":"","forge":"","hub":"b.cf8a157b-cff6-47e1-a406-c05b861d6b34","hubType":"str","project":"b.b3b43b72-aeda-4595-8df0-7c96c06cb498","projectType":"str","operation":"ProjectDetails","x":380,"y":1080,"wires":[["c13edb56.860d68"],["9eacaf15.1a6c5"]]},{"id":"9f82202a.f854","type":"inject","z":"a1af2747.f39408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1220,"wires":[["e6b41815.aa6058"]]},{"id":"88184cdf.dd676","type":"debug","z":"a1af2747.f39408","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":580,"y":1180,"wires":[]},{"id":"850a18c9.44a668","type":"debug","z":"a1af2747.f39408","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":580,"y":1280,"wires":[]},{"id":"e6b41815.aa6058","type":"forge-dm","z":"a1af2747.f39408","name":"ProjectHubDetails","topic":"","forge":"","hub":"HUB_ID","hubType":"env","project":"PROJECT_ID","projectType":"env","operation":"ProjectHubDetails","x":390,"y":1220,"wires":[["88184cdf.dd676"],["850a18c9.44a668"]]},{"id":"b6835b59.564008","type":"inject","z":"a1af2747.f39408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1400,"wires":[["e307241.d7c59d8"]]},{"id":"a5d9a228.3ca03","type":"debug","z":"a1af2747.f39408","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":1360,"wires":[]},{"id":"910e7917.a55398","type":"debug","z":"a1af2747.f39408","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":1460,"wires":[]},{"id":"e307241.d7c59d8","type":"forge-dm","z":"a1af2747.f39408","name":"ListFolders","topic":"","forge":"","hub":"HUB_ID","hubType":"env","project":"PROJECT_ID","projectType":"env","operation":"ListFolders","x":330,"y":1400,"wires":[["a5d9a228.3ca03"],["910e7917.a55398"]]}]