examples/fda-workflow.json
[{"id":"c0cbaf77.414fa","type":"forge-da","z":"f91f234.7ac5de","name":"Create Activity","topic":"","forge":"","operation":"CreateorUpdateActivity","engine":"Autodesk.AutoCAD+23","bundleId":"madfpdupdateparams","bundleAlias":"dev","bundleFile":"","bundleDesc":"","bundleVersion":-1,"activityId":"ActivityUpdateParameters","activityAlias":"dev","activityDesc":"Forge Design Automation For AutoCAD","bucket":"","inputFile":"","inputObjectKey":"","outputObjectKey":"","workitemId":"","x":432.6666946411133,"y":411.6667423248291,"wires":[["ea8431df.5fec1"],["766f593f.cd7588"]]},{"id":"553a4c67.06d9b4","type":"inject","z":"f91f234.7ac5de","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160.6666717529297,"y":248.55562591552734,"wires":[["adbce897.667a58"]]},{"id":"ea8431df.5fec1","type":"debug","z":"f91f234.7ac5de","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":663.6666870117188,"y":256.8889617919922,"wires":[]},{"id":"766f593f.cd7588","type":"debug","z":"f91f234.7ac5de","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":672.666669845581,"y":321.8889579772949,"wires":[]},{"id":"adbce897.667a58","type":"function","z":"f91f234.7ac5de","name":"Activity Parameters","func":"let activityInputs = [\n  {\n    name: \"inputFile\",\n    description: \"Host Drawing\",\n    zip: false,\n    ondemand: false,\n    verb: \"get\",\n    localName: \"$(inputFile)\"\n  },\n  {\n    name: \"inputJson\",\n    description: \"input json\",\n    zip: false,\n    ondemand: false,\n    verb: \"get\",\n    localName: \"params.json\"\n  }\n];\nlet activityOutputs = [\n  {\n    name: \"outputFile\",\n    description: \"output file\",\n    zip: false,\n    ondemand: false,\n    verb: \"put\",\n    localName: \"outputFile.dwg\",\n    required: true\n  }\n];\nlet script = \"UpdateParam \";\nmsg.payload = { activityInputs, activityOutputs, script };\nreturn msg;","outputs":1,"noerr":0,"x":318.6666564941406,"y":330.4445114135742,"wires":[["c0cbaf77.414fa"]]},{"id":"458d01df.ff5b8","type":"comment","z":"f91f234.7ac5de","name":"Create Bucket","info":"","x":134,"y":475.0000686645508,"wires":[]},{"id":"59c0906e.6c7e9","type":"debug","z":"f91f234.7ac5de","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":631.0000057220459,"y":487.0000705718994,"wires":[]},{"id":"750606d3.222c98","type":"debug","z":"f91f234.7ac5de","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"err","targetType":"msg","x":617.0000038146973,"y":547.0000705718994,"wires":[]},{"id":"6905f68c.1de698","type":"inject","z":"f91f234.7ac5de","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":144,"y":515.0000686645508,"wires":[["8d223f22.b6608"]]},{"id":"8d223f22.b6608","type":"forge-oss","z":"f91f234.7ac5de","name":"CreateBucket","topic":"","forge":"","operation":"CreateBucket","bucket":"madhu-tests-buckets","bucketType":"str","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":"","copySource":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":null,"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","SessionId":"","guid":"autodesk","region":"US","x":399,"y":483.0000705718994,"wires":[["59c0906e.6c7e9"],["750606d3.222c98"]]},{"id":"640c9b62.456634","type":"forge-da","z":"f91f234.7ac5de","name":"CreateWorkItem","topic":"","forge":"","operation":"CreateWorkitem","engine":"","bundleId":"","bundleAlias":"","bundleFile":"","bundleDesc":"","bundleVersion":-1,"activityId":"noderedtest","activityAlias":"trail","activityDesc":"","bucket":"mad-tests-buckets","inputFile":"D:\\Work\\nodecrap\\fda-node\\drawing\\AutoCADSample.dwg","inputObjectKey":"input.dwg","outputObjectKey":"output.dwg","x":680.6666717529297,"y":2182.555618286133,"wires":[["7df5e326.14594c"],["e5c98e2f.a3b7e"]]},{"id":"1eb59dff.b59a82","type":"function","z":"f91f234.7ac5de","name":"storeInputs","func":" let workitemInputs = [\n      { name: \"inputFile\", url: msg.payload.signedUrl },\n      {\n        name: \"inputJson\",\n        url: 'data:application/json,{\"Width\":\"40\",\"Height\":\"80\"}'\n      }\n    ];\nglobal.set(\"workitemInputs\",workitemInputs);\nmsg.payload = {workitemInputs};\n\nreturn msg;","outputs":1,"noerr":0,"x":469.6667785644531,"y":1891.7780570983887,"wires":[["d3e34dbc.6d105"]]},{"id":"ed458ebf.0ca1e","type":"forge-oss","z":"f91f234.7ac5de","name":"CreateSignedUrl -Input","topic":"","forge":"","operation":"CreateSignature","bucket":"mad-tests-buckets","bucketType":"str","policyKey":"transient","key":"input.dwg","contentType":"application/octet-stream","contentDisposition":"","copySource":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":null,"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"readwrite","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","SessionId":"","guid":"autodesk","region":"US","x":318.00000381469727,"y":1695.7780485153198,"wires":[["1eb59dff.b59a82","18f38d3f.d54b73"],["e5c98e2f.a3b7e"]]},{"id":"e5c98e2f.a3b7e","type":"debug","z":"f91f234.7ac5de","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":922.6666717529297,"y":1743.4446077346802,"wires":[]},{"id":"72f9eb05.41c974","type":"forge-oss","z":"f91f234.7ac5de","name":"CreateSignedUrl -OutPut","topic":"","forge":"","operation":"CreateSignature","bucket":"mad-tests-buckets","bucketType":"str","policyKey":"transient","key":"output.dwg","contentType":"application/octet-stream","contentDisposition":"","copySource":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":null,"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"readwrite","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","SessionId":"","guid":"autodesk","region":"US","x":296,"y":2015.8893852233887,"wires":[["154143c3.354edc"],["e5c98e2f.a3b7e"]]},{"id":"18f38d3f.d54b73","type":"change","z":"f91f234.7ac5de","name":"GUID & Region","rules":[{"t":"set","p":"topic","pt":"msg","to":"guid","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1755.777946472168,"wires":[["3c75afba.fc82"]]},{"id":"f99a29d4.715898","type":"function","z":"f91f234.7ac5de","name":"Go","func":"msg.complete =true;\nreturn msg;","outputs":1,"noerr":0,"x":325.00000190734863,"y":1841.8888759613037,"wires":[["3c75afba.fc82"]]},{"id":"3c75afba.fc82","type":"join","z":"f91f234.7ac5de","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":495,"y":1831.8891611099243,"wires":[["fc6eb673.063708"]]},{"id":"fc6eb673.063708","type":"function","z":"f91f234.7ac5de","name":"GUID & Region","func":"var p =msg.payload.guid.body;\nmsg.payload = {\n    guid: p.guid,\n    region: p.region\n};\nreturn msg;","outputs":1,"noerr":0,"x":627.0000038146973,"y":1762.8890581130981,"wires":[["b68238ed.7bffe8"]]},{"id":"b68238ed.7bffe8","type":"forge-oss","z":"f91f234.7ac5de","name":"Put Drawing","topic":"","forge":"","operation":"PutSignedObject","bucket":"FORGE_BUCKET","bucketType":"env","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":"","copySource":"","localFilename":"D:\\Work\\nodecrap\\fda-node\\drawing\\AutoCADSample.dwg","limit":10,"startAt":"","beginsWith":"","with":null,"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","SessionId":"","guid":"autodesk","region":"US","x":722.0000038146973,"y":1949.8890590667725,"wires":[["7df5e326.14594c"],["e5c98e2f.a3b7e"]]},{"id":"67fc4e5a.b9cee","type":"inject","z":"f91f234.7ac5de","name":"Upload to Last","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":202,"y":1798.888949394226,"wires":[["f99a29d4.715898"]]},{"id":"44e2772b.f3eff8","type":"inject","z":"f91f234.7ac5de","name":"Start Here!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1649.666829109192,"wires":[["ed458ebf.0ca1e"]]},{"id":"92169162.7f5c8","type":"inject","z":"f91f234.7ac5de","name":"OutputTrigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":218,"y":1880.0000610351562,"wires":[["72f9eb05.41c974"]]},{"id":"d3e34dbc.6d105","type":"function","z":"f91f234.7ac5de","name":"Workitempayload","func":"var workitemInputs = global.get(\"workitemInputs\");\nvar workitemOutputs = global.get(\"workitemOutputs\");\nmsg.payload ={workitemInputs,workitemOutputs};\nreturn msg;","outputs":1,"noerr":0,"x":590.6666717529297,"y":2030.4448318481445,"wires":[["640c9b62.456634"]]},{"id":"154143c3.354edc","type":"function","z":"f91f234.7ac5de","name":"storeOutputs","func":" let workitemOutputs = [\n      { name: \"outputFile\", url: msg.payload.signedUrl }\n    ];\nglobal.set(\"workitemOutputs\",workitemOutputs);\nmsg.payload = {workitemOutputs};\nreturn msg;","outputs":1,"noerr":0,"x":353.6666679382324,"y":2106.444507598877,"wires":[["d3e34dbc.6d105"]]},{"id":"7df5e326.14594c","type":"debug","z":"f91f234.7ac5de","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":905.666618347168,"y":1955.0000562667847,"wires":[]},{"id":"e008490b.a6f818","type":"comment","z":"f91f234.7ac5de","name":"Preparing Workitem Parameters","info":"","x":600,"y":1666.666711807251,"wires":[]},{"id":"703793cd.e2acdc","type":"forge-da","z":"f91f234.7ac5de","name":"CreateWorkItem","topic":"","forge":"","operation":"CreateWorkitem","engine":"","bundleId":"","bundleAlias":"","bundleFile":"","bundleDesc":"","bundleVersion":-1,"activityId":"ActivityUpdateParameters","activityAlias":"dev","activityDesc":"","bucket":"mad-tests-buckets","inputFile":"D:\\Work\\nodecrap\\fda-node\\drawing\\AutoCADSample.dwg","inputObjectKey":"input.dwg","outputObjectKey":"output.dwg","workitemId":"","x":349,"y":738.5556020736694,"wires":[["5112d9ae.afaf48"],["2ef878ba.6c7818"]]},{"id":"5112d9ae.afaf48","type":"debug","z":"f91f234.7ac5de","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":577.6666717529297,"y":642.6667129993439,"wires":[]},{"id":"2ef878ba.6c7818","type":"debug","z":"f91f234.7ac5de","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590.6666717529297,"y":786.666713476181,"wires":[]},{"id":"3fc0e938.dffe56","type":"inject","z":"f91f234.7ac5de","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":165.66667556762695,"y":702.6667327880859,"wires":[["703793cd.e2acdc"]]},{"id":"5f446fdf.7adf3","type":"comment","z":"f91f234.7ac5de","name":"Create WorkItem","info":"","x":143,"y":645.1111831665039,"wires":[]},{"id":"aaf1da42.47d528","type":"forge-model-derivative","z":"f91f234.7ac5de","name":"Translate Model","topic":"","forge":"","operation":"Translate","urn":"dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6bWFkLXRlc3RzLWJ1Y2tldHMvb3V0cHV0LmR3Zw==","derivativeurn":"","guid":"","objectid":"","xAdsForce":false,"forceget":false,"rootFilename":"","range":"","width":200,"height":200,"jobs":[{"type":"svf","views":["2d","3d"],"advanced":{"switchLoader":false}}],"checkReferences":false,"references":"[]","noerr":0,"ifModifiedSince":"","acceptEncoding":"","region":"US","x":323.6666679382324,"y":1073.0000553131104,"wires":[["b4d528b9.32e9c8"],["94988dc2.42178"]]},{"id":"d5ae1214.46af","type":"forge-oss","z":"f91f234.7ac5de","name":"Get Bucket Objects","topic":"","forge":"","operation":"ListObjects","bucket":"mad-tests-buckets","bucketType":"str","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":"","copySource":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":null,"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","SessionId":"","guid":"","region":"US","x":332.6666564941406,"y":864.0001068115234,"wires":[["b87d411e.a7266"],["94988dc2.42178"]]},{"id":"75ecb05a.f8a4c","type":"inject","z":"f91f234.7ac5de","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":146.6666717529297,"y":847.8889417648315,"wires":[["d5ae1214.46af"]]},{"id":"94988dc2.42178","type":"debug","z":"f91f234.7ac5de","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":695.6666717529297,"y":881.4444980621338,"wires":[]},{"id":"73da8d25.e9a5b4","type":"debug","z":"f91f234.7ac5de","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":702.666669845581,"y":1066.4445056915283,"wires":[]},{"id":"b87d411e.a7266","type":"function","z":"f91f234.7ac5de","name":"Extract Source URN","func":"var sourceUrn = msg.payload.body.items[1].objectId;\nvar base64Urn = Buffer.from(sourceUrn).toString('base64');\nmsg.payload = base64Urn;\nreturn msg;","outputs":1,"noerr":0,"x":329.6666717529297,"y":956.7778854370117,"wires":[["73da8d25.e9a5b4"]]},{"id":"840f3b3a.471b38","type":"inject","z":"f91f234.7ac5de","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1028.333381652832,"wires":[["aaf1da42.47d528"]]},{"id":"fa957ac0.a69538","type":"ui_template","z":"f91f234.7ac5de","group":"e7c7aefc.b2d398","name":"Viewer","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"ie=edge\">\n    <title>Autodesk Forge Viewer Basic</title>\n    <link rel=\"stylesheet\" href=\"https://developer.api.autodesk.com/modelderivative/v2/viewers/6.*/style.css\">\n    <script src=\"https://developer.api.autodesk.com/modelderivative/v2/viewers/6.*/viewer3D.js\"></script>\n    <script src=\"https://petrbroz.github.io/forge-viewer-utils/0.7.0/Utilities.js\"></script>\n    <style>\n        html, body { margin: 0; padding: 0; }\n        #viewer { width: 100%; height: 100%; }\n    </style>\n</head>\n<body>\n    <div id=\"viewer\"></div>\n    <script>\n    //We will user Runkit to get OAuth Token, refer https://runkit.com/madhukarmoogala/forgeoauth\n\nasync function getAccessToken(callback) {\n    const resp = await fetch('https://forgeoauth-bt0j6hn4fv3y.runkit.sh/');\n    const json = await resp.json();\n    callback(json.access_token, json.expires_in);\n}\nasync function run() {\n    try {\n        const utils = await Autodesk.Viewing.Utilities.Initialize(document.getElementById('viewer'), getAccessToken);\n        const viewable = await utils.load(ROBOTARM);\n        console.log('Viewable loaded successfully', viewable);\n    } catch(err) {\n        console.error(err);\n    }\n}\n//To generate an URN for your model refer https://forge.autodesk.com/en/docs/model-derivative/v2/tutorials/prepare-file-for-viewer/\n//Heck , I just want to fiddle with viewer source, just tell me how can I get an URN if I've model and forge developer credentials\n//Ok boss!, refer- https://models.autodesk.io/\nconst ROBOTARM={{msg.payload}};\nrun();\n</script>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":663.6666717529297,"y":1271.6667289733887,"wires":[["73da8d25.e9a5b4"]]},{"id":"b4d528b9.32e9c8","type":"function","z":"f91f234.7ac5de","name":"Pump Translated URN","func":"msg.payload =msg.payload.body.urn;\nreturn msg;","outputs":1,"noerr":0,"x":330.6667022705078,"y":1159.5556182861328,"wires":[["73da8d25.e9a5b4"]]},{"id":"bfcbd9e0.cafa78","type":"forge-model-derivative","z":"f91f234.7ac5de","name":"Get Manifest","topic":"","forge":"","operation":"GetManifest","urn":"dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6bWFkLXRlc3RzLWJ1Y2tldHMvb3V0cHV0LmR3Zw","derivativeurn":"","guid":"","objectid":"","xAdsForce":false,"forceget":false,"rootFilename":"","range":"","width":200,"height":200,"jobs":[{"type":"svf","views":["2d","3d"],"advanced":{"switchLoader":false}}],"checkReferences":false,"references":"[]","noerr":0,"ifModifiedSince":"","acceptEncoding":"","region":"US","x":332.6666564941406,"y":1255.1111736297607,"wires":[["73da8d25.e9a5b4","776787f4.3d0db8"],["94988dc2.42178"]]},{"id":"97685aec.ba4508","type":"inject","z":"f91f234.7ac5de","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":142,"y":1224.444507598877,"wires":[["bfcbd9e0.cafa78"]]},{"id":"776787f4.3d0db8","type":"function","z":"f91f234.7ac5de","name":"To Base64","func":"var sourceUrn = msg.payload.body.derivatives[0].children[1].children[3].urn;\nvar base64Urn = Buffer.from(sourceUrn).toString('base64');\nmsg.payload =base64Urn;\nreturn msg;","outputs":1,"noerr":0,"x":392.6666564941406,"y":1326.4445266723633,"wires":[["fa957ac0.a69538"]]},{"id":"e7c7aefc.b2d398","type":"ui_group","z":"","name":"Default","tab":"f60c9c16.cb8238","disp":true,"width":"6","collapse":false},{"id":"f60c9c16.cb8238","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]