examples/fda-workflow.json
[{"id":"c0cbaf77.414fa","type":"forge-da","z":"f91f234.7ac5de","name":"Create Activity","topic":"","forge":"","operation":"CreateorUpdateActivity","engine":"Autodesk.AutoCAD+23","bundleId":"fdaupdateParams","bundleAlias":"dev","bundleFile":"","bundleDesc":"","bundleVersion":-1,"activityId":"noderedtest","activityAlias":"trail","activityDesc":"this is a test","x":392.6666946411133,"y":209.66667366027832,"wires":[["ea8431df.5fec1"],["766f593f.cd7588"]]},{"id":"553a4c67.06d9b4","type":"inject","z":"f91f234.7ac5de","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120.66667175292969,"y":46.55555725097656,"wires":[["adbce897.667a58"]]},{"id":"ea8431df.5fec1","type":"debug","z":"f91f234.7ac5de","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":623.6666870117188,"y":54.888893127441406,"wires":[]},{"id":"766f593f.cd7588","type":"debug","z":"f91f234.7ac5de","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":632.666669845581,"y":119.88888931274414,"wires":[]},{"id":"adbce897.667a58","type":"function","z":"f91f234.7ac5de","name":"Activity Parameters","func":"let activityInputs = [\n  {\n    name: \"inputFile\",\n    description: \"Host Drawing\",\n    zip: false,\n    ondemand: false,\n    verb: \"get\",\n    localName: \"$(inputFile)\"\n  },\n  {\n    name: \"inputJson\",\n    description: \"input json\",\n    zip: false,\n    ondemand: false,\n    verb: \"get\",\n    localName: \"params.json\"\n  }\n];\nlet activityOutputs = [\n  {\n    name: \"outputFile\",\n    description: \"output file\",\n    zip: false,\n    ondemand: false,\n    verb: \"put\",\n    localName: \"outputFile.dwg\",\n    required: true\n  }\n];\nlet script = \"UpdateParam\\n\";\nmsg.payload = { activityInputs, activityOutputs, script };\nreturn msg;","outputs":1,"noerr":0,"x":278.6666564941406,"y":128.44444274902344,"wires":[["c0cbaf77.414fa"]]}]