examples/model-derivative.json
[{"id":"8db45654.8c7fd8","type":"debug","z":"bed67092.3a07e","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":540,"wires":[]},{"id":"97321549.092218","type":"debug","z":"bed67092.3a07e","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"err","targetType":"msg","x":890,"y":580,"wires":[]},{"id":"39fea247.b7d9ce","type":"debug","z":"bed67092.3a07e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":500,"wires":[]},{"id":"63862b9b.3211c4","type":"forge-model-derivative","z":"bed67092.3a07e","name":"","topic":"","forge":"","operation":"GetManifest","urn":"dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6Y3lyaWxsZS1tb2RlbHMvUDlfTWFjaGluZVNob3BfRmluYWwucnZ0","derivativeurn":"","guid":"autodesk","objectid":"","xAdsForce":false,"forceget":false,"rootFilename":"","range":"","jobs":[{"type":"svf","views":["2d","3d"],"advanced":{"switchLoader":false}}],"checkReferences":false,"references":"","noerr":0,"ifModifiedSince":"","acceptEncoding":"","region":"US","x":400,"y":300,"wires":[["8db45654.8c7fd8","ea903d08.03643"],["97321549.092218"]]},{"id":"6578f87e.9b4008","type":"inject","z":"bed67092.3a07e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":240,"wires":[["63862b9b.3211c4","4d87cbba.128154"]]},{"id":"292b3860.82a678","type":"inject","z":"bed67092.3a07e","name":"Au.zip / Au.obj","topic":"","payload":"{\"urn\":\"dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6Y3lyaWxsZS1tb2RlbHMvQXUuemlw\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":280,"wires":[["63862b9b.3211c4","4d87cbba.128154"]]},{"id":"a71b35d6.ea8c68","type":"inject","z":"bed67092.3a07e","name":"Pier9","topic":"","payload":"{\"urn\":\"dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6Y3lyaWxsZS1tb2RlbHMvUDlfTWFjaGluZVNob3BfRmluYWwucnZ0\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":320,"wires":[["63862b9b.3211c4","4d87cbba.128154"]]},{"id":"10ccb93e.e91a47","type":"inject","z":"bed67092.3a07e","name":"rac.dwfx","topic":"","payload":"{\"urn\":\"dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6Y3lyaWxsZS1tb2RlbHMvcmFjX2Jhc2ljX3NhbXBsZV9wcm9qZWN0LmR3Zng\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":360,"wires":[["63862b9b.3211c4","4d87cbba.128154"]]},{"id":"189c215f.7f508f","type":"inject","z":"bed67092.3a07e","name":"Au.zip / Au.obj","topic":"","payload":"{\"urn\":\"dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6Y3lyaWxsZS1tb2RlbHMvQXUuemlw\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":440,"wires":[["ac41e0bd.8ae01"]]},{"id":"745d4ef8.a7481","type":"inject","z":"bed67092.3a07e","name":"Pier9","topic":"","payload":"{\"urn\":\"dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6Y3lyaWxsZS1tb2RlbHMvUDlfTWFjaGluZVNob3BfRmluYWwucnZ0\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":480,"wires":[["c5271301.0a679","eae50f1f.6de75"]]},{"id":"7fb82227.733fcc","type":"inject","z":"bed67092.3a07e","name":"rac.dwfx","topic":"","payload":"{\"urn\":\"dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6Y3lyaWxsZS1tb2RlbHMvcmFjX2Jhc2ljX3NhbXBsZV9wcm9qZWN0LmR3Zng\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":560,"wires":[["7ba7baa8.a55ed4"]]},{"id":"624708d3.e27cb8","type":"inject","z":"bed67092.3a07e","name":"Au.zip / Au.obj","topic":"","payload":"{\"urn\":\"dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6Y3lyaWxsZS1tb2RlbHMvQXUuemlw\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":640,"wires":[["e9011666.f17e18"]]},{"id":"c1b75bb8.cf47f8","type":"inject","z":"bed67092.3a07e","name":"Pier9","topic":"","payload":"{\"urn\":\"dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6Y3lyaWxsZS1tb2RlbHMvUDlfTWFjaGluZVNob3BfRmluYWwucnZ0\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":680,"wires":[["e9011666.f17e18"]]},{"id":"1bdb1f71.3a6081","type":"inject","z":"bed67092.3a07e","name":"rac.dwfx","topic":"","payload":"{\"urn\":\"dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6Y3lyaWxsZS1tb2RlbHMvcmFjX2Jhc2ljX3NhbXBsZV9wcm9qZWN0LmR3Zng\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":720,"wires":[["e9011666.f17e18"]]},{"id":"e9011666.f17e18","type":"forge-model-derivative","z":"bed67092.3a07e","name":"","topic":"","forge":"","operation":"DeleteManifest","urn":"","derivativeurn":"","guid":"autodesk","objectid":"","xAdsForce":false,"forceget":false,"rootFilename":"","range":"","jobs":[{"type":"svf","views":["2d","3d"],"advanced":{"switchLoader":false}}],"checkReferences":false,"references":"","noerr":0,"ifModifiedSince":"","acceptEncoding":"","region":"US","x":410,"y":680,"wires":[["8db45654.8c7fd8"],["97321549.092218"]]},{"id":"ac41e0bd.8ae01","type":"forge-model-derivative","z":"bed67092.3a07e","name":"","topic":"","forge":"","operation":"Translate","urn":"","derivativeurn":"","guid":"autodesk","objectid":"","xAdsForce":false,"forceget":false,"rootFilename":"Au.obj","range":"","jobs":[{"type":"svf","views":["2d","3d"],"advanced":{"switchLoader":false}}],"checkReferences":false,"references":"","noerr":0,"ifModifiedSince":"","acceptEncoding":"","region":"US","x":390,"y":440,"wires":[["8db45654.8c7fd8"],["97321549.092218"]]},{"id":"c5271301.0a679","type":"forge-model-derivative","z":"bed67092.3a07e","name":"","topic":"","forge":"","operation":"Translate","urn":"","derivativeurn":"","guid":"autodesk","objectid":"","xAdsForce":false,"forceget":false,"rootFilename":"","range":"","jobs":[{"type":"svf","views":["2d","3d"],"advanced":{"switchLoader":false}}],"checkReferences":false,"references":"","noerr":0,"ifModifiedSince":"","acceptEncoding":"","region":"US","x":390,"y":480,"wires":[["8db45654.8c7fd8"],["97321549.092218"]]},{"id":"ea903d08.03643","type":"change","z":"bed67092.3a07e","name":"Get Progress","rules":[{"t":"set","p":"payload.progress","pt":"msg","to":"payload.body.progress","tot":"msg"},{"t":"set","p":"payload.status","pt":"msg","to":"payload.body.status","tot":"msg"},{"t":"delete","p":"payload.body","pt":"msg"},{"t":"delete","p":"payload.headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":260,"wires":[["8db45654.8c7fd8"]]},{"id":"7ba7baa8.a55ed4","type":"forge-model-derivative","z":"bed67092.3a07e","name":"","topic":"","forge":"","operation":"Translate","urn":"","derivativeurn":"","guid":"autodesk","objectid":"","xAdsForce":true,"forceget":false,"rootFilename":"","range":"","jobs":[{"type":"svf","views":["2d","3d"],"advanced":{"switchLoader":false}}],"checkReferences":false,"references":"","noerr":0,"ifModifiedSince":"","acceptEncoding":"","region":"US","x":390,"y":560,"wires":[["8db45654.8c7fd8"],["97321549.092218"]]},{"id":"4d87cbba.128154","type":"forge-model-derivative","z":"bed67092.3a07e","name":"","topic":"","forge":"","operation":"GetMetadata","urn":"dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6Y3lyaWxsZS1tb2RlbHMvUDlfTWFjaGluZVNob3BfRmluYWwucnZ0","derivativeurn":"","guid":"autodesk","objectid":"","xAdsForce":false,"forceget":false,"rootFilename":"","range":"","jobs":[{"type":"svf","views":["2d","3d"],"advanced":{"switchLoader":false}}],"checkReferences":false,"references":"","noerr":0,"ifModifiedSince":"","acceptEncoding":"","region":"US","x":410,"y":340,"wires":[["8db45654.8c7fd8","28ce903e.b525c"],["97321549.092218"]]},{"id":"28ce903e.b525c","type":"change","z":"bed67092.3a07e","name":"Get 1st GUID","rules":[{"t":"set","p":"payload.guid","pt":"msg","to":"payload.body.data.metadata[0].guid","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"guid","tot":"str"},{"t":"delete","p":"payload.body","pt":"msg"},{"t":"delete","p":"payload.headers","pt":"msg"},{"t":"delete","p":"payload.statusCode","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":380,"wires":[["8db45654.8c7fd8"]]},{"id":"eae50f1f.6de75","type":"forge-model-derivative","z":"bed67092.3a07e","name":"","topic":"","forge":"","operation":"Translate","urn":"","derivativeurn":"","guid":"autodesk","objectid":"","xAdsForce":true,"forceget":false,"rootFilename":"","range":"","jobs":[{"type":"obj","advanced":{"exportFileStructure":"single","unit":"millimeter","modelGuid":"ee578c34-41d4-83e7-fd72-1c18a453c3b9","objectIds":[-1]}}],"checkReferences":false,"references":"","noerr":0,"ifModifiedSince":"","acceptEncoding":"","region":"US","x":390,"y":520,"wires":[["8db45654.8c7fd8"],["8db45654.8c7fd8"]]},{"id":"80054084.dd77d","type":"forge-model-derivative","z":"bed67092.3a07e","name":"","topic":"","forge":"","operation":"GetFormats","urn":"","derivativeurn":"","guid":"autodesk","objectid":"","xAdsForce":false,"forceget":false,"rootFilename":"","range":"","jobs":[{"type":"svf","views":["2d","3d"],"advanced":{"switchLoader":false}}],"checkReferences":false,"references":"","noerr":0,"ifModifiedSince":"","acceptEncoding":"","region":"US","x":400,"y":160,"wires":[["8db45654.8c7fd8"],["97321549.092218"]]},{"id":"3e77f8a9.f08cc8","type":"inject","z":"bed67092.3a07e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":160,"wires":[["80054084.dd77d"]]},{"id":"bf6b2202.741f1","type":"inject","z":"bed67092.3a07e","name":"Pier9","topic":"","payload":"{\"urn\":\"dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6Y3lyaWxsZS1tb2RlbHMvUDlfTWFjaGluZVNob3BfRmluYWwucnZ0\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":820,"wires":[["48cefb94.5bf434","8decdff.ee0082"]]},{"id":"48cefb94.5bf434","type":"forge-model-derivative","z":"bed67092.3a07e","name":"","topic":"","forge":"","operation":"GetObjectTree","urn":"","derivativeurn":"","guid":"ee578c34-41d4-83e7-fd72-1c18a453c3b9","objectid":"","xAdsForce":false,"forceget":true,"rootFilename":"","range":"","jobs":[{"type":"svf","views":["2d","3d"],"advanced":{"switchLoader":false}}],"checkReferences":false,"references":"","noerr":0,"ifModifiedSince":"","acceptEncoding":"","region":"US","x":410,"y":800,"wires":[["8db45654.8c7fd8"],["97321549.092218"]]},{"id":"8decdff.ee0082","type":"forge-model-derivative","z":"bed67092.3a07e","name":"","topic":"","forge":"","operation":"GetProperties","urn":"","derivativeurn":"","guid":"ee578c34-41d4-83e7-fd72-1c18a453c3b9","objectid":"","xAdsForce":false,"forceget":false,"rootFilename":"","range":"","jobs":[{"type":"svf","views":["2d","3d"],"advanced":{"switchLoader":false}}],"checkReferences":false,"references":"","noerr":0,"ifModifiedSince":"","acceptEncoding":"","region":"US","x":410,"y":840,"wires":[["8db45654.8c7fd8"],["97321549.092218"]]},{"id":"5acdd836.60cec8","type":"inject","z":"bed67092.3a07e","name":"Pier9","topic":"","payload":"{\"urn\":\"dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6Y3lyaWxsZS1tb2RlbHMvUDlfTWFjaGluZVNob3BfRmluYWwucnZ0\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":920,"wires":[["b8011e06.b82dc"]]},{"id":"c9d85337.cd077","type":"inject","z":"bed67092.3a07e","name":"Pier9","topic":"","payload":"{\"urn\":\"dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6Y3lyaWxsZS1tb2RlbHMvUDlfTWFjaGluZVNob3BfRmluYWwucnZ0\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1000,"wires":[["16116bba.cc1cd4"]]},{"id":"b8011e06.b82dc","type":"forge-model-derivative","z":"bed67092.3a07e","name":"","topic":"","forge":"","operation":"GetDerivativeManifest","urn":"","derivativeurn":"urn:adsk.viewing:fs.file:dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6Y3lyaWxsZS1tb2RlbHMvUDlfTWFjaGluZVNob3BfRmluYWwucnZ0/output/Resource/3D_View/_3D_ 309457/_3D_.svf","guid":"autodesk","objectid":"","xAdsForce":false,"forceget":false,"rootFilename":"","range":"","jobs":[{"type":"svf","views":["2d","3d"],"advanced":{"switchLoader":false}}],"checkReferences":false,"references":"","noerr":0,"ifModifiedSince":"","acceptEncoding":"","region":"US","x":430,"y":920,"wires":[["8db45654.8c7fd8"],["97321549.092218"]]},{"id":"16116bba.cc1cd4","type":"forge-model-derivative","z":"bed67092.3a07e","name":"","topic":"","forge":"","operation":"GetThumbnail","urn":"","derivativeurn":"","guid":"autodesk","objectid":"","xAdsForce":false,"forceget":false,"rootFilename":"","range":"","width":"400","height":"200","jobs":[{"type":"svf","views":["2d","3d"],"advanced":{"switchLoader":false}}],"checkReferences":false,"references":"","noerr":0,"ifModifiedSince":"","acceptEncoding":"","region":"US","x":410,"y":1000,"wires":[["8db45654.8c7fd8"],["97321549.092218"]]},{"id":"2456e315.692c5c","type":"inject","z":"bed67092.3a07e","name":"Au.zip / Au.obj","topic":"","payload":"{\"urn\":\"dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6Y3lyaWxsZS1tb2RlbHMvQXUuemlw\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1080,"wires":[["a346dda4.a1f38"]]},{"id":"74eb7a8d.e4ea94","type":"inject","z":"bed67092.3a07e","name":"Au.zip / Au.obj","topic":"","payload":"{\"urn\":\"dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6Y3lyaWxsZS1tb2RlbHMvQXUuemlw\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1120,"wires":[["58f02ab.5fd7dd4"]]},{"id":"58f02ab.5fd7dd4","type":"forge-model-derivative","z":"bed67092.3a07e","name":"","topic":"","forge":"","operation":"Translate","urn":"","derivativeurn":"","guid":"autodesk","objectid":"","xAdsForce":true,"forceget":false,"rootFilename":"","range":"","width":200,"height":200,"jobs":[{"type":"svf","views":["2d","3d"],"advanced":{"switchLoader":false}}],"checkReferences":true,"references":"","noerr":0,"ifModifiedSince":"","acceptEncoding":"","region":"US","x":390,"y":1120,"wires":[["8db45654.8c7fd8"],["97321549.092218"]]},{"id":"a346dda4.a1f38","type":"forge-model-derivative","z":"bed67092.3a07e","name":"","topic":"","forge":"","operation":"SetReferences","urn":"","derivativeurn":"","guid":"autodesk","objectid":"","xAdsForce":false,"forceget":false,"rootFilename":"Au.zip","range":"","width":200,"height":200,"jobs":[{"type":"svf","views":["2d","3d"],"advanced":{"switchLoader":false}}],"checkReferences":false,"references":"[\n    {\n        \"urn\": \"urn:adsk.objects:os.object:cyrille-models/Au.mtl\",\n        \"relativePath\": \"Au.mtl\",\n        \"filename\": \"Au.mtl\",\n        \"references\": [{\n            \"urn\": \"urn:adsk.objects:os.object:cyrille-models/Au.jpg\",\n            \"relativePath\": \"Au.jpg\",\n            \"filename\": \"Au.jpg\",\n            \"metadata\": {\n                \"myField1\": \"Some Data1\",\n                \"myField2\": \"Some Data2\",\n                \"myField3\": \"Some Data3\"\n            }\n        }]\n    }\n]","noerr":0,"ifModifiedSince":"","acceptEncoding":"","region":"US","x":410,"y":1080,"wires":[["8db45654.8c7fd8"],["97321549.092218"]]},{"id":"7774bf39.8df43","type":"comment","z":"bed67092.3a07e","name":"Model Derivative","info":"","x":120,"y":60,"wires":[]},{"id":"8812c59e.222ca8","type":"comment","z":"bed67092.3a07e","name":"Get Formats","info":"","x":110,"y":120,"wires":[]},{"id":"3bb49c21.09c004","type":"comment","z":"bed67092.3a07e","name":"Manifest & Metadata","info":"","x":130,"y":200,"wires":[]},{"id":"3fc64501.75df4a","type":"comment","z":"bed67092.3a07e","name":"Translate","info":"","x":100,"y":400,"wires":[]},{"id":"1ad197e9.680238","type":"comment","z":"bed67092.3a07e","name":"Delete Manifest","info":"","x":120,"y":600,"wires":[]},{"id":"4b85c45d.de0f6c","type":"comment","z":"bed67092.3a07e","name":"Object Tree & Properties","info":"","x":150,"y":780,"wires":[]},{"id":"3d6b5628.bfd30a","type":"comment","z":"bed67092.3a07e","name":"Derivative Manisfest","info":"","x":130,"y":880,"wires":[]},{"id":"f4d949c3.5b0c38","type":"comment","z":"bed67092.3a07e","name":"Thumbnail","info":"","x":100,"y":960,"wires":[]},{"id":"bf068fa0.1f512","type":"comment","z":"bed67092.3a07e","name":"References & Translate","info":"","x":140,"y":1040,"wires":[]}]