examples/oss.json
[{"id":"c93aef0f.c6081","type":"subflow","name":"Upload to OSS","info":"Upload an object. If the specified object name already exists in \nthe bucket, the uploaded content will overwrite the existing content \nfor the bucket name/object name combination.\n\n### Parameters\n\n* **bucket**: bucket to upload object into\n\n* **key**: object name being uploaded\n\n* **contentType** [optional]: media type\n\n* **contentDisposition** [optional]: suggested default filename when downloading this object to a file after it has been uploaded\n\n* **ifMatch** [optional]: When overwriting an object, use the latest SHA-1 hash \n  to verify that you are overwriting the latest data.\n  A SHA-1 hash is returned every time you upload or overwrite an object. \n  If the SHA-1 hash in the header does not match the current SHA-1 hash \n  stored for this object in OSS, the request fails (status code 412).\n\n### Outputs\n\n* **response**: the object details\n  The node will add the ```objectId```, ```base64``` and ```safe base64``` **```urn```** to the message.\n\n* **error**: an error occured","category":"forge","in":[{"x":100,"y":180,"wires":[{"id":"3e0684d2.fdf95c"}]}],"out":[{"x":880,"y":460,"wires":[{"id":"23ff6b3.d21ac94","port":0}]},{"x":880,"y":240,"wires":[{"id":"67c9a760.2b60d8","port":1},{"id":"8457e7df.678948","port":1}]}],"env":[{"name":"bucket","type":"str","value":""},{"name":"key","type":"str","value":""},{"name":"contentType","type":"str","value":""},{"name":"contentDisposition","type":"str","value":""},{"name":"ifMatch","type":"str","value":""}],"outputLabels":["response","error"],"icon":"node-red-node-forge/forge.png","status":{"x":360,"y":60,"wires":[{"id":"5524a60f.f3f968","port":0}]}},{"id":"dd35521f.f8b18","type":"switch","z":"c93aef0f.c6081","name":"","property":"filename","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":340,"wires":[["805d7a22.305ae8"],["485d2c2b.21f7d4"]]},{"id":"805d7a22.305ae8","type":"change","z":"c93aef0f.c6081","name":"Buffer","rules":[{"t":"set","p":"payload","pt":"msg","to":"data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":320,"wires":[["67c9a760.2b60d8"]]},{"id":"485d2c2b.21f7d4","type":"change","z":"c93aef0f.c6081","name":"local filename","rules":[{"t":"set","p":"payload.localFilename","pt":"msg","to":"filename","tot":"msg"},{"t":"delete","p":"err","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":360,"wires":[["67c9a760.2b60d8"]]},{"id":"67c9a760.2b60d8","type":"forge-oss","z":"c93aef0f.c6081","name":"Upload file","topic":"details","forge":"","operation":"PutObject","raw":false,"all":false,"bucket":"","bucketType":"str","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":"","copy":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":null,"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","guid":"autodesk","region":"US","x":630,"y":340,"wires":[["22c9fe1b.97fb72"],[]]},{"id":"22c9fe1b.97fb72","type":"change","z":"c93aef0f.c6081","name":"Add Force Translation","rules":[{"t":"set","p":"xAdsForce","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":400,"wires":[["bea009e.c90c9f8"]]},{"id":"bea009e.c90c9f8","type":"function","z":"c93aef0f.c6081","name":"Get URN","func":"msg.objectId = msg.payload.objectId;\nmsg.urn = msg.payload.objectId;\nreturn (msg);","outputs":1,"noerr":0,"x":280,"y":460,"wires":[["50bff6f3.e779c8"]]},{"id":"50bff6f3.e779c8","type":"base64","z":"c93aef0f.c6081","name":"base64 urn","action":"str","property":"urn","x":430,"y":460,"wires":[["23ff6b3.d21ac94"]]},{"id":"23ff6b3.d21ac94","type":"function","z":"c93aef0f.c6081","name":"safe base64","func":"msg.base64 = msg.urn;\nmsg.urn = msg.urn\n\t\t\t\t.replace (/\\+/g, '-') // Convert '+' to '-'\n\t\t\t\t.replace (/\\//g, '_') // Convert '/' to '_'\n\t\t\t\t.replace (/=+$/, '');\nreturn (msg);","outputs":1,"noerr":0,"x":590,"y":460,"wires":[[]]},{"id":"5524a60f.f3f968","type":"status","z":"c93aef0f.c6081","name":"","scope":null,"x":200,"y":60,"wires":[[]]},{"id":"3e0684d2.fdf95c","type":"function","z":"c93aef0f.c6081","name":"Inject","func":"if ( msg.err )\n    delete msg.err;\n    \n//context.set / .get\n\n// Priority: payload, msg, env, default\nif ( msg.payload ) {\n    msg.bucket =msg.payload.bucket || msg.bucket || env.get('bucket');\n    msg.key =msg.payload.key || msg.key || env.get('key');\n    msg.contentType =msg.payload.contentType || msg.contentType || env.get('contentType') || '';\n    msg.contentDisposition =msg.payload.contentDisposition || msg.contentDisposition || env.get('contentDisposition') || '';\n    msg.ifMatch =msg.payload.ifMatch || msg.ifMatch || env.get('ifMatch') || '';\n} else {\n    msg.bucket =msg.bucket || env.get('bucket');\n    msg.key =msg.key || env.get('key');\n    msg.contentType =msg.contentType || env.get('contentType') || '';\n    msg.contentDisposition =msg.contentDisposition || env.get('contentDisposition') || '';\n    msg.ifMatch =msg.ifMatch || env.get('ifMatch') || '';\n}\n\nnode.status ({});\nif ( !msg.bucket || msg.bucket === '' || !/^[-_.a-z0-9]{3,128}$/.test(msg.bucket) ) {\n    node.status ({\n        fill: 'red',\n        shape: 'dot',\n        text: 'Invalid bucket name!'});\n    node.error('Provide a valid bucket name!');\n    delete msg.payload;\n    msg.err ={\n        reason: \"Valid field 'bucket' must be of the form  [-_.a-z0-9]{3,128}\"\n    };\n    return (null);\n} else if ( !msg.key || msg.key === '' ) {\n    node.status ({\n        fill: 'red',\n        shape: 'dot',\n        text: 'Invalid key name!'});\n    node.error('Provide a valid key name!');\n    delete msg.payload;\n    msg.err ={\n        reason: \"Valid field 'key' cannot be empty\"\n    };\n    return (null);\n}\n\nreturn (msg);","outputs":1,"noerr":0,"x":230,"y":180,"wires":[["8457e7df.678948"]],"info":"Upload an object. If the specified object name already exists in \nthe bucket, the uploaded content will overwrite the existing content \nfor the bucket name/object name combination.\n\n### Parameters\n\n* **bucket**: bucket to upload object into\n\n* **key**: object name being uploaded\n\n* **contentType** [optional]: indicate the media type of the resource\n\n* **contentDisposition** [optional]: suggested default filename when \n  downloading this object\n\n* **ifMatch** [optional]: When overwriting an object, use the latest SHA-1 \n  hash to verify that you are overwriting the latest data.\n  A SHA-1 hash is returned every time you upload or overwrite an object. \n  If the SHA-1 hash in the header does not match the current SHA-1 hash \n  stored for this object in OSS, the request fails (status code 412).\n\n### Outputs: "},{"id":"8457e7df.678948","type":"switch","z":"c93aef0f.c6081","name":"Params Ok?","property":"err","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":240,"wires":[["dd35521f.f8b18"],[]]},{"id":"3f75d555.5599aa","type":"subflow","name":"Check or Create OSS Bucket","info":"Check and Create OSS Bucket\n\n### Parameters\n\n* **bucket**: A unique name you assign to a bucket. It must be globally \n  unique across all applications and regions, otherwise the call will \n  fail. Possible values: -_.a-z0-9 (between 3-128 characters in\n  length). Note that you cannot change a bucket key.\n\n* **region** [optional]: The region where the bucket resides Acceptable values: \n  ```US```, ```EMEA``` Default: ```US```\n\n* **policyKey** [optional]: Data retention policy - Acceptable values: transient, temporary, persistent.\n  Default: ```transient```.\n\n* **forceBucketCreation** [optional] : In case the bucketKey is already used by another\n  application, you can force the node to iterate and find a name. The \n  node will append 6 random characters to the given key until it finds\n  one. Default: ```false```\n\n### Outputs\n\n* **response**: the bucket details\n\n* **error**: an error occured","category":"forge","in":[{"x":60,"y":340,"wires":[{"id":"16a24040.2a12a"}]}],"out":[{"x":920,"y":260,"wires":[{"id":"3cdeb2c8.928e2e","port":0},{"id":"b331344f.d4c458","port":0}]},{"x":920,"y":520,"wires":[{"id":"b331344f.d4c458","port":1},{"id":"29a66b9d.032624","port":1},{"id":"cb381637.2c08b8","port":2},{"id":"2f78371.5b87ac8","port":1}]}],"env":[{"name":"bucket","type":"str","value":""},{"name":"region","type":"str","value":""},{"name":"policyKey","type":"str","value":""},{"name":"forceBucketCreation","type":"bool","value":"false"}],"outputLabels":["response","errors"],"icon":"node-red-node-forge/forge.png","status":{"x":360,"y":60,"wires":[{"id":"9e9d5cb.1a203a","port":0}]}},{"id":"3cdeb2c8.928e2e","type":"forge-oss","z":"3f75d555.5599aa","name":"Bucket Exists?","topic":"","forge":"","operation":"BucketDetails","raw":false,"all":false,"bucket":"","bucketType":"str","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":"","copy":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":null,"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","guid":"autodesk","region":"US","x":440,"y":380,"wires":[[],["cb381637.2c08b8"]]},{"id":"29a66b9d.032624","type":"switch","z":"3f75d555.5599aa","name":"","property":"forceBucketCreation","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":260,"wires":[["f9e5b5d9.40e6a8"],[]]},{"id":"f9e5b5d9.40e6a8","type":"function","z":"3f75d555.5599aa","name":"Change Bucket Name","func":"msg.originalbucket = msg.originalbucket || msg.bucket,\nmsg.bucket = \n    msg.originalbucket + \n    Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 5);\nreturn (msg);","outputs":1,"noerr":0,"x":580,"y":260,"wires":[["3cdeb2c8.928e2e"]]},{"id":"cb381637.2c08b8","type":"switch","z":"3f75d555.5599aa","name":"Bucket Taken/Missing","property":"err.statusCode","propertyType":"msg","rules":[{"t":"eq","v":"403","vt":"num"},{"t":"eq","v":"404","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":680,"y":380,"wires":[["29a66b9d.032624"],["5fca92da.ce863c"],[]]},{"id":"5fca92da.ce863c","type":"change","z":"3f75d555.5599aa","name":"Inject","rules":[{"t":"delete","p":"err","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":500,"wires":[["b331344f.d4c458"]]},{"id":"b331344f.d4c458","type":"forge-oss","z":"3f75d555.5599aa","name":"","topic":"bucket-ok","forge":"","operation":"CreateBucket","raw":false,"all":false,"bucket":"","bucketType":"str","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":"","copy":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":null,"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","guid":"autodesk","region":"US","x":430,"y":500,"wires":[[],[]]},{"id":"9e9d5cb.1a203a","type":"status","z":"3f75d555.5599aa","name":"","scope":null,"x":240,"y":60,"wires":[[]]},{"id":"2f78371.5b87ac8","type":"switch","z":"3f75d555.5599aa","name":"Params Ok?","property":"err","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":400,"wires":[["3cdeb2c8.928e2e"],[]]},{"id":"16a24040.2a12a","type":"function","z":"3f75d555.5599aa","name":"Inject","func":"if ( msg.err )\n    delete msg.err;\n    \n//context.set / .get\n\n// Priority: payload, msg, env, default\nif ( msg.payload ) {\n    msg.bucket =msg.payload.bucket || msg.bucket || env.get ('bucket');\n    msg.region =msg.payload.region || msg.region || env.get ('region') || 'US';\n    msg.policyKey =msg.payload.policyKey || msg.policyKey || env.get ('policyKey') || 'transient';\n    msg.forceBucketCreation =false;\n    if (typeof msg.payload.forceBucketCreation === 'boolean')\n        msg.forceBucketCreation =msg.payload.forceBucketCreation === true;\n    else if (typeof msg.forceBucketCreation === 'boolean')\n        msg.forceBucketCreation =msg.forceBucketCreation === true;\n    else if (typeof env.get('forceBucketCreation') === 'boolean')\n        msg.forceBucketCreation =env.get('bucket') === true ;    \n} else {\n    msg.bucket =msg.bucket || env.get ('bucket');\n    msg.region =msg.region || env.get ('region') || 'US';\n    msg.policyKey =msg.policyKey || env.get ('policyKey') || 'transient';\n    if (typeof msg.forceBucketCreation === 'boolean')\n        msg.forceBucketCreation =msg.forceBucketCreation === true;\n    else if (typeof env.get('forceBucketCreation') === 'boolean')\n        msg.forceBucketCreation =env.get('bucket') === true ;    \n    else\n        msg.forceBucketCreation =false;\n}\n\nnode.status ({});\nif ( !msg.bucket || msg.bucket === '' || !/^[-_.a-z0-9]{3,128}$/.test(msg.bucket) ) {\n    node.status ({\n        fill: 'red',\n        shape: 'dot',\n        text: 'Invalid bucket name!'});\n    node.error('Provide a valid bucket name!');\n    delete msg.payload;\n    msg.err ={\n        reason: \"Valid field 'bucket' must be of the form  [-_.a-z0-9]{3,128}\"\n    };\n}\n    \nreturn (msg);","outputs":1,"noerr":0,"x":170,"y":340,"wires":[["2f78371.5b87ac8"]]},{"id":"4aecadf2.352044","type":"subflow","name":"OSS Object Exists?","info":"Check if an object exists\n\n### Parameters\n\n* **bucket**: bucket key\n\n* **key**: object name to get details for\n\n* **sha1** [optional]: use the SHA-1 hash to know if the file is the same\n\n* **ifModifiedSince** [optional]: If the requested object has not been modified \n  since the time specified in this field, an entity will not be returned \n  from the server; instead, a 304 (not modified) response will be \n  returned without any message body. (HTTP date - UTC format)\n\n### Outputs\n\n* **sameObject**: SHA-1 code was provided and the object on the server match that code\n  The node will add the ```objectId```, ```base64``` and ```safe base64``` **```urn```** to the message.\n\n* **needsUpdate**:  SHA-1 code was provided and the object on the server does not match that code\n  The node will add the ```objectId```, ```base64``` and ```safe base64``` **```urn```** to the message.\n\n* **notFound**: the object was not found on the server\n\n* **error**: an error occured\n","category":"forge","in":[{"x":80,"y":240,"wires":[{"id":"cd4ca6bf.a91398"}]}],"out":[{"x":960,"y":160,"wires":[{"id":"f378191f.bb72c8","port":0}]},{"x":960,"y":280,"wires":[{"id":"5760de98.b3949","port":0}]},{"x":960,"y":400,"wires":[{"id":"8d6819c6.ca4368","port":0}]},{"x":960,"y":500,"wires":[{"id":"a30f5db5.f98de","port":1},{"id":"2fc8f4fa.244c3c","port":1}]}],"env":[{"name":"bucket","type":"str","value":""},{"name":"key","type":"str","value":""},{"name":"sha1","type":"str","value":""},{"name":"ifModifiedSince","type":"str","value":""}],"outputLabels":["sameObject","needUpdate","notFound","error"],"icon":"node-red-node-forge/forge.png","status":{"x":420,"y":80,"wires":[{"id":"b48d897a.c9d238","port":0}]}},{"id":"519554b5.c479ac","type":"forge-oss","z":"4aecadf2.352044","name":"File Exists?","topic":"","forge":"","operation":"ObjectDetails","raw":false,"all":false,"bucket":"","bucketType":"str","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":"","copy":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":["createdDate","lastModifiedDate"],"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","guid":"autodesk","region":"US","x":450,"y":360,"wires":[["267a56b1.29195a"],["2fc8f4fa.244c3c"]]},{"id":"2fc8f4fa.244c3c","type":"switch","z":"4aecadf2.352044","name":"File Missing","property":"err.statusCode","propertyType":"msg","rules":[{"t":"eq","v":"404","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":380,"wires":[["8d6819c6.ca4368"],[]]},{"id":"267a56b1.29195a","type":"switch","z":"4aecadf2.352044","name":"sha1?","property":"payload.sha1","propertyType":"msg","rules":[{"t":"eq","v":"sha1","vt":"msg"},{"t":"else"}],"checkall":"true","repair":true,"outputs":2,"x":430,"y":160,"wires":[["d7e513f3.2c9c1"],["7658925d.5f746c"]]},{"id":"b48d897a.c9d238","type":"status","z":"4aecadf2.352044","name":"","scope":null,"x":280,"y":80,"wires":[[]]},{"id":"cd4ca6bf.a91398","type":"function","z":"4aecadf2.352044","name":"Inject","func":"if ( msg.err )\n    delete msg.err;\n    \n//context.set / .get\n\n// Priority: payload, msg, env, default\nif ( msg.payload ) {\n    msg.bucket =msg.payload.bucket || msg.bucket || env.get('bucket');\n    msg.key =msg.payload.key || msg.key || env.get('key');\n    msg.sha1 =msg.payload.sha1 || msg.sha1 || env.get('sha1') || '';\n    msg.ifModifiedSince =msg.payload.ifModifiedSince || msg.ifModifiedSince || env.get('ifModifiedSince') || '';\n} else {\n    msg.bucket =msg.bucket || env.get('bucket');\n    msg.key =msg.key || env.get('key');\n    msg.sha1 =msg.sha1 || env.get('sha1') || '';\n    msg.ifModifiedSince =msg.ifModifiedSince || env.get('ifModifiedSince') || '';\n}\n\nnode.status ({});\nif ( !msg.bucket || msg.bucket === '' || !/^[-_.a-z0-9]{3,128}$/.test(msg.bucket) ) {\n    node.status ({\n        fill: 'red',\n        shape: 'dot',\n        text: 'Invalid bucket name!'});\n    node.error('Provide a valid bucket name!');\n    delete msg.payload;\n    msg.err ={\n        reason: \"Valid field 'bucket' must be of the form  [-_.a-z0-9]{3,128}\"\n    };\n} else if ( !msg.key || msg.key === '' ) {\n    node.status ({\n        fill: 'red',\n        shape: 'dot',\n        text: 'Invalid key name!'});\n    node.error('Provide a valid key name!');\n    delete msg.payload;\n    msg.err ={\n        reason: \"Valid field 'key' cannot be empty\"\n    };\n}\n\nreturn (msg);","outputs":1,"noerr":0,"x":130,"y":380,"wires":[["a30f5db5.f98de"]]},{"id":"a30f5db5.f98de","type":"switch","z":"4aecadf2.352044","name":"Params Ok?","property":"err","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":380,"wires":[["519554b5.c479ac"],[]]},{"id":"8d6819c6.ca4368","type":"change","z":"4aecadf2.352044","name":"Remove err","rules":[{"t":"delete","p":"err","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":340,"wires":[[]]},{"id":"d7e513f3.2c9c1","type":"function","z":"4aecadf2.352044","name":"Get URN","func":"msg.objectId = msg.payload.objectId;\nmsg.urn = msg.payload.objectId;\nreturn (msg);","outputs":1,"noerr":0,"x":580,"y":100,"wires":[["ab4a41e3.e383"]]},{"id":"ab4a41e3.e383","type":"base64","z":"4aecadf2.352044","name":"base64 urn","action":"str","property":"urn","x":730,"y":100,"wires":[["f378191f.bb72c8"]]},{"id":"f378191f.bb72c8","type":"function","z":"4aecadf2.352044","name":"safe base64","func":"msg.base64 = msg.urn;\nmsg.urn = msg.urn\n\t\t\t\t.replace (/\\+/g, '-') // Convert '+' to '-'\n\t\t\t\t.replace (/\\//g, '_') // Convert '/' to '_'\n\t\t\t\t.replace (/=+$/, '');\nreturn (msg);","outputs":1,"noerr":0,"x":890,"y":100,"wires":[[]]},{"id":"7658925d.5f746c","type":"function","z":"4aecadf2.352044","name":"Get URN","func":"msg.objectId = msg.payload.objectId;\nmsg.urn = msg.payload.objectId;\nreturn (msg);","outputs":1,"noerr":0,"x":580,"y":220,"wires":[["6d3d3bd0.cea6f4"]]},{"id":"6d3d3bd0.cea6f4","type":"base64","z":"4aecadf2.352044","name":"base64 urn","action":"str","property":"urn","x":730,"y":220,"wires":[["5760de98.b3949"]]},{"id":"5760de98.b3949","type":"function","z":"4aecadf2.352044","name":"safe base64","func":"msg.base64 = msg.urn;\nmsg.urn = msg.urn\n\t\t\t\t.replace (/\\+/g, '-') // Convert '+' to '-'\n\t\t\t\t.replace (/\\//g, '_') // Convert '/' to '_'\n\t\t\t\t.replace (/=+$/, '');\nreturn (msg);","outputs":1,"noerr":0,"x":890,"y":220,"wires":[[]]},{"id":"d911f7c6.bf0d68","type":"subflow:4aecadf2.352044","z":"7e3b5b86.0e98d4","name":"","env":[],"x":450,"y":1520,"wires":[["1e82a4c0.9d285b"],["127b4027.6345f"],["532411b1.4d00b"],["e9ed7bca.3f44d8"]]},{"id":"5265b1b8.d75a2","type":"inject","z":"7e3b5b86.0e98d4","name":"robot.f3d 404","topic":"","payload":"{\"bucket\":\"cyrille-models\",\"key\":\"robot.f3d\",\"sha1\":\"669c20f8f5c0e85b1141a98a660f471455f7c281\",\"filename\":\"/Users/cyrille/Box Sync/Models/robot.f3d\",\"region\":\"US\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1540,"wires":[["d911f7c6.bf0d68"]]},{"id":"532411b1.4d00b","type":"debug","z":"7e3b5b86.0e98d4","name":"404","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":1540,"wires":[]},{"id":"127b4027.6345f","type":"debug","z":"7e3b5b86.0e98d4","name":"Different","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":1500,"wires":[]},{"id":"1e82a4c0.9d285b","type":"debug","z":"7e3b5b86.0e98d4","name":"Equal","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":1460,"wires":[]},{"id":"e9ed7bca.3f44d8","type":"debug","z":"7e3b5b86.0e98d4","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":1580,"wires":[]},{"id":"c4158575.bdec88","type":"forge-default-credentials","z":"7e3b5b86.0e98d4","name":"","forge":"","x":130,"y":60,"wires":[]},{"id":"a078b8f3.7c3c48","type":"forge-oss","z":"7e3b5b86.0e98d4","name":"","topic":"","operation":"GetObject","raw":false,"all":false,"bucket":"FORGE_BUCKET","bucketType":"env","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":null,"localFilename":"","limit":10,"startAt":null,"beginsWith":null,"with":null,"ifMatch":null,"ifNoneMatch":null,"ifModifiedSince":null,"range":null,"access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":null,"guid":null,"region":"US","x":1260,"y":1020,"wires":[[],[]]},{"id":"3f502372.d55c4c","type":"forge-da","z":"7e3b5b86.0e98d4","name":"","topic":"","forge":"","operation":"CreateAppbundlesAlias","raw":false,"page":"","all":false,"description":"","alias":"","version":1,"activityId":"","receiver":"","appbundles":"","commandline":"","parameters":[{"id":"","localName":null,"verb":"get","zip":false,"ondemand":false,"required":false,"description":null}],"settings":[],"engine":"","appbundlesId":"","package":"","nickname":"me","exponent":"","modulus":"","workitemId":"","limitProcessingTimeSec":"","baseUrls":"","signature":"","arguments":[],"limitPayloadSizeInKB":"","limitVersions":"","limitAliases":"","limitPublicAliases":"","limitAppUploadSizeInMB":"","limitMonthlyProcessingTimeInHours":"","backendLimits":[{"id":"","limitProcessingTimeSec":null}],"x":1280,"y":1100,"wires":[[],[]]},{"id":"99bfbfaf.e51eb","type":"debug","z":"7e3b5b86.0e98d4","name":"Results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":160,"wires":[]},{"id":"939eb68e.d070d8","type":"debug","z":"7e3b5b86.0e98d4","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":160,"wires":[]},{"id":"fb79bc43.0f7d2","type":"debug","z":"7e3b5b86.0e98d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2070,"y":400,"wires":[]},{"id":"a0156198.52a7a","type":"debug","z":"7e3b5b86.0e98d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2070,"y":440,"wires":[]},{"id":"8a356751.a6cbd8","type":"forge-oss","z":"7e3b5b86.0e98d4","name":"","topic":"","forge":"","operation":"ListBuckets","raw":true,"all":true,"bucket":"FORGE_BUCKET","bucketType":"env","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":"","copy":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":null,"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","guid":"autodesk","region":"US","x":440,"y":160,"wires":[["99bfbfaf.e51eb"],["939eb68e.d070d8"]]},{"id":"c9e7e570.686558","type":"inject","z":"7e3b5b86.0e98d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":160,"wires":[["8a356751.a6cbd8"]]},{"id":"518a2574.06ad6c","type":"debug","z":"7e3b5b86.0e98d4","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":240,"wires":[]},{"id":"a3882203.4a918","type":"switch","z":"7e3b5b86.0e98d4","name":"","property":"payload.next","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":300,"wires":[["f564fd4b.3df6f","4a5aca3a.2221a4"],["7eb79d83.953354"]]},{"id":"f564fd4b.3df6f","type":"change","z":"7e3b5b86.0e98d4","name":"","rules":[{"t":"set","p":"payload.startAt","pt":"msg","to":"$match(payload.next, /startAt=([-_.a-z0-9]{3,128})/).groups[0]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":300,"wires":[["c559eca8.baf08"]]},{"id":"4a5aca3a.2221a4","type":"join","z":"7e3b5b86.0e98d4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":550,"y":360,"wires":[["5cd113d4.fed8ac"]]},{"id":"7eb79d83.953354","type":"function","z":"7e3b5b86.0e98d4","name":"Done","func":"msg.complete =true;\n// delete msg.payload\n// delete msg.op;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":360,"wires":[["4a5aca3a.2221a4"]]},{"id":"c84b01f9.844d5","type":"debug","z":"7e3b5b86.0e98d4","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":360,"wires":[]},{"id":"5cd113d4.fed8ac","type":"function","z":"7e3b5b86.0e98d4","name":"Merge","func":"var results = msg.payload.reduce (\n    function (sum, elt) {\n        //return ([...sum, ...elt.items]);\n        return (sum.concat(elt.items));\n    },\n    []\n);\nreturn ({ results: results, op: \"ListBuckets\" });","outputs":1,"noerr":0,"x":670,"y":360,"wires":[["c84b01f9.844d5"]]},{"id":"58c78827.aabb18","type":"debug","z":"7e3b5b86.0e98d4","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":200,"wires":[]},{"id":"7bc7e069.b29a","type":"inject","z":"7e3b5b86.0e98d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":200,"wires":[["b4d0167.a8604e8"]]},{"id":"2df90291.83189e","type":"inject","z":"7e3b5b86.0e98d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":240,"wires":[["c559eca8.baf08"]]},{"id":"b4d0167.a8604e8","type":"forge-oss","z":"7e3b5b86.0e98d4","name":"","topic":"","forge":"","operation":"ListBuckets","raw":false,"all":true,"bucket":"FORGE_BUCKET","bucketType":"env","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":null,"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","guid":"autodesk","region":"US","x":440,"y":200,"wires":[["58c78827.aabb18"],["518a2574.06ad6c"]]},{"id":"c559eca8.baf08","type":"forge-oss","z":"7e3b5b86.0e98d4","name":"","topic":"","forge":"","operation":"ListBuckets","raw":false,"all":false,"bucket":"FORGE_BUCKET","bucketType":"env","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":null,"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","guid":"autodesk","region":"US","x":440,"y":240,"wires":[["a3882203.4a918"],["518a2574.06ad6c"]]},{"id":"f7ed5200.161d2","type":"comment","z":"7e3b5b86.0e98d4","name":"OSS","info":"","x":90,"y":120,"wires":[]},{"id":"de709a3.a7f8068","type":"forge-oss","z":"7e3b5b86.0e98d4","name":"","topic":"","forge":"","operation":"BucketDetails","raw":false,"all":false,"bucket":"","bucketType":"str","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":"","copy":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":null,"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","guid":"autodesk","region":"US","x":450,"y":600,"wires":[["7a33544a.41850c","6e8c4933.3f02e8"],["58ecbe92.e5791"]]},{"id":"7a33544a.41850c","type":"debug","z":"7e3b5b86.0e98d4","name":"Results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":600,"wires":[]},{"id":"58ecbe92.e5791","type":"debug","z":"7e3b5b86.0e98d4","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":600,"wires":[]},{"id":"495a8ab7.c9bc64","type":"forge-oss","z":"7e3b5b86.0e98d4","name":"","topic":"","forge":"","operation":"CreateBucket","raw":false,"all":false,"bucket":"","bucketType":"str","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":null,"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","guid":"autodesk","region":"US","x":450,"y":460,"wires":[["2f768c7b.a8d1a4","de709a3.a7f8068"],["e05257ea.0d7f68"]]},{"id":"2f768c7b.a8d1a4","type":"debug","z":"7e3b5b86.0e98d4","name":"Results","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":460,"wires":[]},{"id":"db807b3.d0d6f88","type":"debug","z":"7e3b5b86.0e98d4","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":460,"wires":[]},{"id":"475f92cb.dab12c","type":"debug","z":"7e3b5b86.0e98d4","name":"Results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":640,"wires":[]},{"id":"2f01a8ee.3d5908","type":"debug","z":"7e3b5b86.0e98d4","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":640,"wires":[]},{"id":"d2969826.d4c4d8","type":"forge-oss","z":"7e3b5b86.0e98d4","name":"","topic":"","forge":"","operation":"DeleteBucket","raw":false,"all":false,"bucket":"","bucketType":"str","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":null,"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","guid":"autodesk","region":"US","x":450,"y":1120,"wires":[["ee1a99a4.a3a9c8"],["68453caa.2a0164"]]},{"id":"ee1a99a4.a3a9c8","type":"debug","z":"7e3b5b86.0e98d4","name":"Results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":1120,"wires":[]},{"id":"68453caa.2a0164","type":"debug","z":"7e3b5b86.0e98d4","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":1120,"wires":[]},{"id":"927ca5fd.8edfd8","type":"inject","z":"7e3b5b86.0e98d4","name":"robot.f3d","topic":"","payload":"{\"bucket\":\"cyrille-test-bucket-node-red\",\"key\":\"robot.f3d\",\"sha1\":\"669c20f8f5c0e85b1141a98a660f471455f7c281\",\"filename\":\"/Users/cyrille/Box Sync/Models/robot.f3d\",\"region\":\"US\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1080,"wires":[["4a75cb8c.a5d534"]]},{"id":"98eb6a1f.18a538","type":"function","z":"7e3b5b86.0e98d4","name":"","func":"msg = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":460,"wires":[["495a8ab7.c9bc64"]]},{"id":"6e8c4933.3f02e8","type":"forge-oss","z":"7e3b5b86.0e98d4","name":"","topic":"","forge":"","operation":"PutObject","raw":false,"all":false,"bucket":"","bucketType":"str","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":null,"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","guid":"autodesk","region":"US","x":440,"y":640,"wires":[["475f92cb.dab12c","3af04926.f16d66"],["2f01a8ee.3d5908"]]},{"id":"e05257ea.0d7f68","type":"switch","z":"7e3b5b86.0e98d4","name":"","property":"err.statusCode","propertyType":"msg","rules":[{"t":"eq","v":"409","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":520,"wires":[["3a2611d4.41028e"],["db807b3.d0d6f88"]]},{"id":"3a2611d4.41028e","type":"change","z":"7e3b5b86.0e98d4","name":"","rules":[{"t":"delete","p":"err","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":560,"wires":[["de709a3.a7f8068"]]},{"id":"3af04926.f16d66","type":"forge-oss","z":"7e3b5b86.0e98d4","name":"","topic":"","forge":"","operation":"ObjectDetails","raw":false,"all":false,"bucket":"","bucketType":"str","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":"","copy":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":null,"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","guid":"autodesk","region":"US","x":450,"y":700,"wires":[["e3157657.960a98","61fae604.99e9b8","eb4bd21a.e7447","1c868ddf.ebf672"],["6c2d6d6c.245034"]]},{"id":"e3157657.960a98","type":"debug","z":"7e3b5b86.0e98d4","name":"Results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":700,"wires":[]},{"id":"6c2d6d6c.245034","type":"debug","z":"7e3b5b86.0e98d4","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":700,"wires":[]},{"id":"eb4bd21a.e7447","type":"forge-oss","z":"7e3b5b86.0e98d4","name":"","topic":"","forge":"","operation":"CreateSignature","raw":false,"all":false,"bucket":"","bucketType":"str","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":null,"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","guid":"autodesk","region":"US","x":460,"y":940,"wires":[["44964661.67e9a8","d36853ad.ef898"],["998e7272.e0908"]]},{"id":"44964661.67e9a8","type":"debug","z":"7e3b5b86.0e98d4","name":"Results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":940,"wires":[]},{"id":"998e7272.e0908","type":"debug","z":"7e3b5b86.0e98d4","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":940,"wires":[]},{"id":"f67a8a56.cf2748","type":"forge-oss","z":"7e3b5b86.0e98d4","name":"","topic":"","forge":"","operation":"GetSignedObject","raw":false,"all":false,"bucket":"","bucketType":"str","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":null,"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","guid":"","region":"US","x":460,"y":980,"wires":[["f6294da0.1e2f7","502f5052.b725a"],["fcaee84f.6ff438"]]},{"id":"613a52a3.9553ec","type":"inject","z":"7e3b5b86.0e98d4","name":"robot.f3d","topic":"","payload":"{\"bucket\":\"cyrille-test-bucket-node-red\",\"key\":\"robot.f3d\",\"sha1\":\"669c20f8f5c0e85b1141a98a660f471455f7c281\",\"filename\":\"/Users/cyrille/Box Sync/Models/robot.f3d\",\"region\":\"US\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":620,"wires":[["6bfc3b16.b020d4"]]},{"id":"6bfc3b16.b020d4","type":"function","z":"7e3b5b86.0e98d4","name":"","func":"msg = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":660,"wires":[["3af04926.f16d66"]]},{"id":"d36853ad.ef898","type":"change","z":"7e3b5b86.0e98d4","name":"","rules":[{"t":"set","p":"guid","pt":"msg","to":"payload.guid","tot":"msg"},{"t":"set","p":"signedUrl","pt":"msg","to":"payload.signedUrl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":980,"wires":[["f67a8a56.cf2748"]]},{"id":"f6294da0.1e2f7","type":"debug","z":"7e3b5b86.0e98d4","name":"Results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":980,"wires":[]},{"id":"fcaee84f.6ff438","type":"debug","z":"7e3b5b86.0e98d4","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":980,"wires":[]},{"id":"61fae604.99e9b8","type":"forge-oss","z":"7e3b5b86.0e98d4","name":"","topic":"","forge":"","operation":"GetObject","raw":false,"all":false,"bucket":"","bucketType":"str","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":null,"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","guid":"autodesk","region":"US","x":440,"y":740,"wires":[["ab9fbaa0.4a64c8"],["85efb7e8.cf18a8"]]},{"id":"ab9fbaa0.4a64c8","type":"debug","z":"7e3b5b86.0e98d4","name":"Results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":740,"wires":[]},{"id":"85efb7e8.cf18a8","type":"debug","z":"7e3b5b86.0e98d4","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":740,"wires":[]},{"id":"6b7d0993.8bb738","type":"forge-oss","z":"7e3b5b86.0e98d4","name":"","topic":"","forge":"","operation":"CopyObject","raw":false,"all":false,"bucket":"","bucketType":"str","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":"","copy":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":null,"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","guid":"autodesk","region":"US","x":441,"y":780,"wires":[["c25cf472.47a988","b71edc1a.ef5db"],["d471ce1c.3d983"]]},{"id":"14de76af.0d3a49","type":"change","z":"7e3b5b86.0e98d4","name":"","rules":[{"t":"set","p":"copy","pt":"msg","to":"\"copy-\" & msg.key","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":780,"wires":[["6b7d0993.8bb738"]]},{"id":"c25cf472.47a988","type":"debug","z":"7e3b5b86.0e98d4","name":"Results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":780,"wires":[]},{"id":"d471ce1c.3d983","type":"debug","z":"7e3b5b86.0e98d4","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":780,"wires":[]},{"id":"9c1b08a6.4c2e08","type":"forge-oss","z":"7e3b5b86.0e98d4","name":"","topic":"","forge":"","operation":"ObjectDetails","raw":false,"all":false,"bucket":"","bucketType":"str","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":"","copy":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":null,"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","guid":"autodesk","region":"US","x":450,"y":840,"wires":[["656b3a41.6e2504","9586dc6b.b3a34"],["e5e7b4e5.3babc8"]]},{"id":"b71edc1a.ef5db","type":"change","z":"7e3b5b86.0e98d4","name":"","rules":[{"t":"set","p":"key","pt":"msg","to":"copy","tot":"msg"},{"t":"delete","p":"copy","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":840,"wires":[["9c1b08a6.4c2e08"]]},{"id":"656b3a41.6e2504","type":"debug","z":"7e3b5b86.0e98d4","name":"Results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":840,"wires":[]},{"id":"e5e7b4e5.3babc8","type":"debug","z":"7e3b5b86.0e98d4","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":840,"wires":[]},{"id":"9586dc6b.b3a34","type":"forge-oss","z":"7e3b5b86.0e98d4","name":"","topic":"","forge":"","operation":"DeleteObject","raw":false,"all":false,"bucket":"","bucketType":"str","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":"","copy":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":null,"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","guid":"autodesk","region":"US","x":450,"y":880,"wires":[["fe2eea46.0bb028"],["9c6fdd85.fcd1c"]]},{"id":"fe2eea46.0bb028","type":"debug","z":"7e3b5b86.0e98d4","name":"Results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":880,"wires":[]},{"id":"9c6fdd85.fcd1c","type":"debug","z":"7e3b5b86.0e98d4","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":880,"wires":[]},{"id":"502f5052.b725a","type":"forge-oss","z":"7e3b5b86.0e98d4","name":"","topic":"","forge":"","operation":"DeleteSignedObject","raw":false,"all":false,"bucket":"","bucketType":"str","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":"","copy":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":null,"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","guid":"","region":"US","x":470,"y":1020,"wires":[["6a6d84b6.67935c"],["1d0ea44f.7bcc7c"]]},{"id":"6a6d84b6.67935c","type":"debug","z":"7e3b5b86.0e98d4","name":"Results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":1020,"wires":[]},{"id":"1d0ea44f.7bcc7c","type":"debug","z":"7e3b5b86.0e98d4","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":1020,"wires":[]},{"id":"c9de9f3f.89dd8","type":"forge-oss","z":"7e3b5b86.0e98d4","name":"","topic":"","forge":"","operation":"ListObjects","raw":false,"all":false,"bucket":"","bucketType":"str","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":"","copy":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":null,"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","guid":"autodesk","region":"US","x":440,"y":1080,"wires":[["4c5af147.7933d","d2969826.d4c4d8"],["ba381d9c.e6e95"]]},{"id":"4c5af147.7933d","type":"debug","z":"7e3b5b86.0e98d4","name":"Results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":1080,"wires":[]},{"id":"ba381d9c.e6e95","type":"debug","z":"7e3b5b86.0e98d4","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":1080,"wires":[]},{"id":"608c5a5e.673374","type":"inject","z":"7e3b5b86.0e98d4","name":"robot.f3d","topic":"","payload":"{\"bucket\":\"cyrille-test-bucket-node-red\",\"key\":\"robot.f3d\",\"sha1\":\"669c20f8f5c0e85b1141a98a660f471455f7c281\",\"filename\":\"/Users/cyrille/Box Sync/Models/robot.f3d\",\"region\":\"US\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":720,"wires":[["c0af6bc.4f77398"]]},{"id":"c0af6bc.4f77398","type":"function","z":"7e3b5b86.0e98d4","name":"","func":"msg = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":780,"wires":[["14de76af.0d3a49"]]},{"id":"4a75cb8c.a5d534","type":"function","z":"7e3b5b86.0e98d4","name":"","func":"msg = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1080,"wires":[["c9de9f3f.89dd8"]]},{"id":"1c868ddf.ebf672","type":"delay","z":"7e3b5b86.0e98d4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":680,"wires":[["14de76af.0d3a49"]]},{"id":"d9ab5d23.d90bb","type":"inject","z":"7e3b5b86.0e98d4","name":"404","topic":"","payload":"{\"bucket\":\"cyrille-models\",\"key\":\"unknow.f3d\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1580,"wires":[["d911f7c6.bf0d68"]]},{"id":"f2c58cd2.4e899","type":"inject","z":"7e3b5b86.0e98d4","name":"Xray.fbx","topic":"","payload":"{\"bucket\":\"cyrille-models\",\"key\":\"Xray.fbx\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1460,"wires":[["d911f7c6.bf0d68"]]},{"id":"c35711a7.d8192","type":"inject","z":"7e3b5b86.0e98d4","name":"Xray.fbx ==","topic":"","payload":"{\"bucket\":\"cyrille-models\",\"key\":\"Xray.fbx\",\"sha1\":\"a3d59ff64b0333e0e304d3a78c2e087c87722d28\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1500,"wires":[["d911f7c6.bf0d68"]]},{"id":"9840c864.ad9658","type":"function","z":"7e3b5b86.0e98d4","name":"","func":"return (msg.payload);","outputs":1,"noerr":0,"x":270,"y":1300,"wires":[["b4144267.18cb"]]},{"id":"b4144267.18cb","type":"subflow:3f75d555.5599aa","z":"7e3b5b86.0e98d4","name":"","env":[],"x":480,"y":1300,"wires":[["935896ff.c4ad08"],["2b27351b.335a9a"]]},{"id":"64d76a08.952814","type":"inject","z":"7e3b5b86.0e98d4","name":"robot.f3d","topic":"config","payload":"{\"bucket\":\"cyrille-tests-buckets\",\"key\":\"robot.f3d\",\"sha1\":\"669c20f8f5c0e85b1141a98a660f471455f7c281\",\"filename\":\"/Users/cyrille/Box Sync/Models/robot.f3d\",\"region\":\"US\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1620,"wires":[["d911f7c6.bf0d68"]]},{"id":"bcef615c.63f1c","type":"inject","z":"7e3b5b86.0e98d4","name":"robot.f3d","topic":"","payload":"{\"bucket\":\"cyrille-test-bucket-node-red\",\"key\":\"robot.f3d\",\"sha1\":\"669c20f8f5c0e85b1141a98a660f471455f7c281\",\"filename\":\"/Users/cyrille/Box Sync/Models/robot.f3d\",\"region\":\"US\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":460,"wires":[["98eb6a1f.18a538"]]},{"id":"935896ff.c4ad08","type":"debug","z":"7e3b5b86.0e98d4","name":"Results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":1300,"wires":[]},{"id":"2b27351b.335a9a","type":"debug","z":"7e3b5b86.0e98d4","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":1300,"wires":[]},{"id":"298061be.a8704e","type":"inject","z":"7e3b5b86.0e98d4","name":"bucket","topic":"config","payload":"{\"bucket\":\"cyrille-tests-buckets\" }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1300,"wires":[["9840c864.ad9658"]]},{"id":"a12574c.0bda788","type":"inject","z":"7e3b5b86.0e98d4","name":"404","topic":"config","payload":"{\"bucket\":\"cyrille-tests-buckets-missing\",\"key\":\"robot.f3d\",\"sha1\":\"669c20f8f5c0e85b1141a98a660f471455f7c281\",\"filename\":\"/Users/cyrille/Box Sync/Models/robot.f3d\",\"region\":\"US\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1260,"wires":[["9840c864.ad9658"]]},{"id":"7b13ecb1.888324","type":"inject","z":"7e3b5b86.0e98d4","name":"404 - forced","topic":"config","payload":"{\"bucket\":\"cyrille-tests-buckets-missing\",\"forceBucketCreation\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1220,"wires":[["9840c864.ad9658"]]},{"id":"7b28da14.d78a04","type":"inject","z":"7e3b5b86.0e98d4","name":"403","topic":"config","payload":"{\"bucket\":\"test1234\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1340,"wires":[["9840c864.ad9658"]]},{"id":"4c7e9699.3ec1d8","type":"inject","z":"7e3b5b86.0e98d4","name":"403 - forced","topic":"config","payload":"{\"bucket\":\"test1234\",\"forceBucketCreation\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1380,"wires":[["9840c864.ad9658"]]},{"id":"d21167.16ac6e98","type":"subflow:c93aef0f.c6081","z":"7e3b5b86.0e98d4","name":"","env":[],"x":440,"y":1700,"wires":[["3b19f7ac.c22f08"],["eb1cd7a1.c33c28"]]},{"id":"3b19f7ac.c22f08","type":"debug","z":"7e3b5b86.0e98d4","name":"Results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":1700,"wires":[]},{"id":"eb1cd7a1.c33c28","type":"debug","z":"7e3b5b86.0e98d4","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":1700,"wires":[]},{"id":"a2171b7c.0b1378","type":"function","z":"7e3b5b86.0e98d4","name":"","func":"return (msg.payload);","outputs":1,"noerr":0,"x":270,"y":1700,"wires":[["d21167.16ac6e98"]]},{"id":"b13911d0.35b65","type":"inject","z":"7e3b5b86.0e98d4","name":"robot.f3d","topic":"config","payload":"{\"bucket\":\"cyrille-tests-buckets\",\"key\":\"robot.f3d\",\"sha1\":\"669c20f8f5c0e85b1141a98a660f471455f7c281\",\"filename\":\"/Users/cyrille/Box Sync/Models/robot.f3d\",\"region\":\"US\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1700,"wires":[["a2171b7c.0b1378"]]},{"id":"17542b64.5a7f75","type":"forge-oss","z":"7e3b5b86.0e98d4","name":"","topic":"","forge":"","operation":"DeleteObject","raw":false,"all":false,"bucket":"","bucketType":"str","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":"","copy":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":null,"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","guid":"autodesk","region":"US","x":450,"y":1760,"wires":[["b9bf0f72.c389a"],["6279cd99.c303d4"]]},{"id":"b9bf0f72.c389a","type":"debug","z":"7e3b5b86.0e98d4","name":"Results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":1760,"wires":[]},{"id":"6279cd99.c303d4","type":"debug","z":"7e3b5b86.0e98d4","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":1760,"wires":[]},{"id":"58ef31cc.09665","type":"inject","z":"7e3b5b86.0e98d4","name":"robot.f3d","topic":"config","payload":"{\"bucket\":\"cyrille-tests-buckets\",\"key\":\"robot.f3d\",\"sha1\":\"669c20f8f5c0e85b1141a98a660f471455f7c281\",\"filename\":\"/Users/cyrille/Box Sync/Models/robot.f3d\",\"region\":\"US\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1760,"wires":[["72dd1dea.b8f294"]]},{"id":"72dd1dea.b8f294","type":"function","z":"7e3b5b86.0e98d4","name":"","func":"return (msg.payload);","outputs":1,"noerr":0,"x":270,"y":1760,"wires":[["17542b64.5a7f75"]]}]