examples/ViewerFlow.json
[{"id":"0fb4d381edb684cd","type":"subflow","name":"Translate and Wait","info":"\n\n### Parameters\n\n* **urn**: The design URN; returned when uploading the file to Forge. The URN needs to be safe base64 encoded.\n\n* **region** [optional]: Region in which to store outputs. Possible values: ```US```, ```EMEA```. By default, it is set to ```US```.\n\n* **xAdsForce** [optional]: ```true```: the endpoint replaces previously translated output file types with the newly generated derivatives\n  ```false``` (default): previously created derivatives are not replaced\n    \n## Outputs\n\n* **response**: the final manifest\n\n* **progress**: an object containing a status and progress field.\n  * status: Overall status for translation jobs in the “manifest”. Possible values: pending, ```success```, ```inprogress```, ```failed```, ```timeout```\n  * progress: Overall progress for all translation jobs in the “manifest”. Possible values: ```complete```, ```##% complete```\n\n\n* **error**: an error occured\n","category":"forge","in":[{"x":80,"y":180,"wires":[{"id":"c92acc66e60b524e"}]}],"out":[{"x":920,"y":520,"wires":[{"id":"12dd37ea11b85405","port":0}]},{"x":920,"y":660,"wires":[{"id":"1cf2a227bc456468","port":0}]},{"x":920,"y":360,"wires":[{"id":"12dd37ea11b85405","port":1},{"id":"f925bb46529984a7","port":1},{"id":"17e77d86901b17b1","port":1},{"id":"6a0929fb2acd2e82","port":1}]}],"env":[],"meta":{},"color":"#DDAA99","outputLabels":["response","progress","error"],"icon":"node-red-node-forge/forge.png","status":{"x":280,"y":80,"wires":[{"id":"5071af37b91b3203","port":0}]}},{"id":"2b31347df0723a6f","type":"change","z":"0fb4d381edb684cd","name":"Inject","rules":[{"t":"delete","p":"err","pt":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":340,"wires":[["6a0929fb2acd2e82"]]},{"id":"6a0929fb2acd2e82","type":"forge-model-derivative","z":"0fb4d381edb684cd","name":"","topic":"","forge":"","operation":"Translate","raw":false,"all":false,"urn":"","derivativeurn":"","guid":"autodesk","objectid":"","xAdsForce":false,"forceget":false,"rootFilename":"","range":"","width":200,"height":200,"jobs":[{"type":"svf","views":["2d","3d"],"advanced":{"switchLoader":false}}],"checkReferences":false,"references":"[]","noerr":0,"ifModifiedSince":"","acceptEncoding":"","region":"US","workflow":"","workflowAttribute":"","x":330,"y":340,"wires":[["f9d2acd928326f75","783ac33476b19521"],[]]},{"id":"f9d2acd928326f75","type":"delay","z":"0fb4d381edb684cd","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":500,"y":400,"wires":[["f925bb46529984a7"]]},{"id":"f925bb46529984a7","type":"forge-model-derivative","z":"0fb4d381edb684cd","name":"Manifest","topic":"","forge":"","operation":"GetManifest","raw":false,"all":false,"urn":"","derivativeurn":"","guid":"autodesk","objectid":"","xAdsForce":false,"forceget":false,"rootFilename":"","range":"","width":200,"height":200,"jobs":[{"type":"svf","views":[],"advanced":{"switchLoader":false}}],"checkReferences":false,"references":"[]","noerr":0,"ifModifiedSince":"","acceptEncoding":"","region":"US","workflow":"","workflowAttribute":"","x":680,"y":420,"wires":[["12dd37ea11b85405"],[]]},{"id":"4482e690b32dbfb1","type":"delay","z":"0fb4d381edb684cd","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":500,"y":440,"wires":[["f925bb46529984a7"]]},{"id":"12dd37ea11b85405","type":"switch","z":"0fb4d381edb684cd","name":"Ready?","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"success","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":760,"y":520,"wires":[["1cf2a227bc456468"],["4482e690b32dbfb1"]]},{"id":"5071af37b91b3203","type":"status","z":"0fb4d381edb684cd","name":"","scope":null,"x":120,"y":80,"wires":[[]]},{"id":"c92acc66e60b524e","type":"function","z":"0fb4d381edb684cd","name":"Inject","func":"if ( msg.err )\n    delete msg.err;\n    \n//context.set / .get\n\n// Priority: payload, msg, env, default\nif ( msg.payload ) {\n    msg.urn =msg.payload.urn || msg.urn || env.get('urn');\n    msg.region =msg.payload.region || msg.region || env.get('region') || 'US';\n    msg.xAdsForce =false;\n    if (typeof msg.payload.xAdsForce === 'boolean')\n        msg.xAdsForce =msg.payload.xAdsForce === true;\n    else if (typeof msg.xAdsForce === 'boolean')\n        msg.xAdsForce =msg.xAdsForce === true;\n    else if (typeof env.get('bucket') === 'boolean')\n        msg.xAdsForce =env.get('bucket') === true ;\n} else {\n    msg.urn =msg.urn || env.get('urn');\n    msg.region =msg.region || env.get('region') || 'US';\n    if (typeof msg.xAdsForce === 'boolean')\n        msg.xAdsForce =msg.xAdsForce === true;\n    else if (typeof env.get('bucket') === 'boolean')\n        msg.xAdsForce =env.get('bucket') === true ;\n    else\n        msg.xAdsForce =false;\n}\n\nnode.status ({});\nif ( !msg.bucket || msg.bucket === '' ) {\n    node.status ({\n        fill: 'red',\n        shape: 'dot',\n        text: 'Invalid urn!'});\n    node.error('Provide a urn!');\n    delete msg.payload;\n    msg.err ={\n        reason: \"The parameter 'urn' should be a nonempty string.\"\n    };\n}\n    \nreturn (msg);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":180,"wires":[["17e77d86901b17b1"]]},{"id":"17e77d86901b17b1","type":"switch","z":"0fb4d381edb684cd","name":"Params Ok?","property":"err","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":180,"wires":[["2b31347df0723a6f"],[]]},{"id":"783ac33476b19521","type":"function","z":"0fb4d381edb684cd","name":"Requested","func":"msg.payload ={\n    status: 'pending',\n    progress: '0% complete'\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":660,"wires":[["1cf2a227bc456468"]]},{"id":"1cf2a227bc456468","type":"function","z":"0fb4d381edb684cd","name":"","func":"node.status ({\n    fill: 'yellow',\n    shape: 'square',\n    text: msg.payload.progress\n});\n\nreturn (msg);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":660,"wires":[[]]},{"id":"c0dd0cf59255e60e","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"a19bd595eb24a118","type":"forge-default-credentials","z":"c0dd0cf59255e60e","name":"Dev Credentials","forge":"","x":140,"y":40,"wires":[]},{"id":"eef4c39f.22e7b","type":"debug","z":"c0dd0cf59255e60e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2270,"y":620,"wires":[]},{"id":"e07c596c.0f2418","type":"debug","z":"c0dd0cf59255e60e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2270,"y":660,"wires":[]},{"id":"56158633.ab0618","type":"forge-oss","z":"c0dd0cf59255e60e","name":"","topic":"","forge":"","operation":"BucketDetails","raw":false,"all":false,"bucket":"","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":"","copy":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":[],"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","guid":"autodesk","region":"US","x":730,"y":200,"wires":[["b1cd7aa4.687c68"],["ec68041295fef6b9"]]},{"id":"9f2967b1.213358","type":"forge-oss","z":"c0dd0cf59255e60e","name":"","topic":"","forge":"","operation":"CreateBucket","raw":true,"all":false,"bucket":"viewertest","policyKey":"persistent","key":"","contentType":"application/octet-stream","contentDisposition":"","copy":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":[],"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","guid":"autodesk","region":"US","x":450,"y":160,"wires":[["56158633.ab0618"],["3586ad1c.4d2942"]]},{"id":"98adc4c.7f3dd38","type":"function","z":"c0dd0cf59255e60e","name":"","func":"msg = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":260,"wires":[["9f2967b1.213358"]]},{"id":"b1cd7aa4.687c68","type":"forge-oss","z":"c0dd0cf59255e60e","name":"","topic":"","forge":"","operation":"PutObject","raw":false,"all":false,"bucket":"node-red-bucket-viewer","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":"","copy":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":[],"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","guid":"autodesk","region":"US","x":480,"y":380,"wires":[["3f5b61ee.2e222e"],["ec68041295fef6b9"]]},{"id":"3586ad1c.4d2942","type":"switch","z":"c0dd0cf59255e60e","name":"if 409","property":"err.statusCode","propertyType":"msg","rules":[{"t":"eq","v":"409","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":220,"wires":[["fc6b16f0.449ba8"],["ec68041295fef6b9"]]},{"id":"fc6b16f0.449ba8","type":"change","z":"c0dd0cf59255e60e","name":"","rules":[{"t":"delete","p":"err","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":280,"wires":[["56158633.ab0618"]]},{"id":"3f5b61ee.2e222e","type":"forge-oss","z":"c0dd0cf59255e60e","name":"","topic":"","forge":"","operation":"ObjectDetails","raw":false,"all":false,"bucket":"","policyKey":"transient","key":"","contentType":"application/octet-stream","contentDisposition":"","copy":"","localFilename":"","limit":10,"startAt":"","beginsWith":"","with":[],"ifMatch":"","ifNoneMatch":"","ifModifiedSince":"","range":"","access":"read","singleUse":false,"minutesExpiration":60,"acceptEncoding":"","guid":"autodesk","region":"US","x":490,"y":440,"wires":[["f8c17e5326cabcc1"],["ec68041295fef6b9"]]},{"id":"f8c17e5326cabcc1","type":"debug","z":"c0dd0cf59255e60e","name":"Results","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":960,"y":420,"wires":[]},{"id":"ec68041295fef6b9","type":"debug","z":"c0dd0cf59255e60e","name":"Error","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":960,"y":320,"wires":[]},{"id":"9a154dcefa1225f6","type":"comment","z":"c0dd0cf59255e60e","name":"Setup - Readme","info":"\nThe node below contains information to setup your environment. If you have a file already loaded and translate, you can skip that step.\n\n{\n    \"bucket\": \"your bucket name\",\n    \"key\": \"object name you want to use on OSS\",\n    \"localFilename\": \"full path to the file you want to uplaod\",\n    \"region\": \"US or EMEA - defines the region where you want to post the file\"\n    \n    \"sha1\": \"optional parameter to verify file content after upload\"\n}\n\nOnce the file is uploaded on OSS, you need to translate it, if this is not yet the case.","x":140,"y":120,"wires":[]},{"id":"4ec8f7b0f4e25327","type":"inject","z":"c0dd0cf59255e60e","name":"Hook Model","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"bucket\":\"node-red-bucket-viewer\",\"key\":\"Hook.stp\",\"localFilename\":\"Hook.stp\",\"region\":\"US\"}","payloadType":"json","x":150,"y":160,"wires":[["98adc4c.7f3dd38"]]},{"id":"8b81da3869806de8","type":"subflow:0fb4d381edb684cd","z":"c0dd0cf59255e60e","name":"","env":[],"x":730,"y":600,"wires":[["690be77431a1273e"],["70eaa37b15cdc815"],["fb8fcf6a6d466ba6"]]},{"id":"690be77431a1273e","type":"debug","z":"c0dd0cf59255e60e","name":"Results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":960,"y":540,"wires":[]},{"id":"70eaa37b15cdc815","type":"debug","z":"c0dd0cf59255e60e","name":"Progress","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":960,"y":600,"wires":[]},{"id":"fb8fcf6a6d466ba6","type":"debug","z":"c0dd0cf59255e60e","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":660,"wires":[]},{"id":"c3cc7f74af9a4e79","type":"inject","z":"c0dd0cf59255e60e","name":"Hook Model","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"bucket\":\"node-red-bucket-viewer\",\"key\":\"Hook.stp\",\"localFilename\":\"Hook.stp\",\"region\":\"US\"}","payloadType":"json","x":150,"y":540,"wires":[["57d6f14b7e848b83"]]},{"id":"57d6f14b7e848b83","type":"function","z":"c0dd0cf59255e60e","name":"","func":"msg = msg.payload;\nmsg.urn = `urn:adsk.objects:os.object:${msg.bucket}/${msg.key}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":600,"wires":[["2e399df834310f4d"]]},{"id":"2e399df834310f4d","type":"base64","z":"c0dd0cf59255e60e","name":"","action":"","property":"urn","x":420,"y":600,"wires":[["8b81da3869806de8"]]},{"id":"d1a90291d50cfab0","type":"comment","z":"c0dd0cf59255e60e","name":"View my file","info":"","x":130,"y":740,"wires":[]},{"id":"ed1e378fa53239f8","type":"http in","z":"c0dd0cf59255e60e","name":"/","url":"/","method":"get","upload":false,"swaggerDoc":"","x":110,"y":780,"wires":[["0f574efdf65e2857"]]},{"id":"8846abe00f154629","type":"http response","z":"c0dd0cf59255e60e","name":"","statusCode":"200","headers":{"content-type":"text/html"},"x":960,"y":780,"wires":[]},{"id":"ac96b5d7f27ebafb","type":"template","z":"c0dd0cf59255e60e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n\n<head>\n\t<title>Sample</title>\n\t<meta charset=\"utf-8\" />\n\n\t<!-- Autodesk Forge Viewer files -->\n\t<link rel=\"stylesheet\" href=\"https://developer.api.autodesk.com/modelderivative/v2/viewers/7.*/style.min.css\"\n\t\ttype=\"text/css\">\n\t<script src=\"https://developer.api.autodesk.com/modelderivative/v2/viewers/7.*/viewer3D.min.js\"></script>\n\n\t<script>\n\t\tvar viewer = null;\n\n\t\tfunction launchViewer() {\n\t\t\tconst options = {\n\t\t\t\tenv: 'AutodeskProduction',\n\t\t\t\tgetAccessToken: getForgeToken\n\t\t\t};\n\n\t\t\tAutodesk.Viewing.Initializer(options, () => {\n\t\t\t\tviewer = new Autodesk.Viewing.GuiViewer3D(document.getElementById('forgeViewer'));\n\t\t\t\tviewer.start();\n\t\t\t\tconst documentId = 'urn:{{payload.urn}}';\n\t\t\t\tAutodesk.Viewing.Document.load(documentId, onDocumentLoadSuccess, onDocumentLoadFailure);\n\t\t\t});\n\t\t}\n\n\t\tfunction onDocumentLoadSuccess(doc) {\n\t\t\tconst viewables = doc.getRoot().getDefaultGeometry();\n\t\t\tviewer.loadDocumentNode(doc, viewables).then(i => {\n\t\t\t\t// documented loaded, any action?\n\t\t\t});\n\t\t}\n\n\t\tfunction onDocumentLoadFailure(viewerErrorCode) {\n\t\t\tconsole.error('onDocumentLoadFailure() - errorCode:' + viewerErrorCode);\n\t\t}\n\n\t\tfunction getForgeToken(callback) {\n\t\t\tfetch('/api/forge/oauth/token').then(res => {\n\t\t\t\tres.json().then(data => {\n\t\t\t\t    console.log (JSON.stringify(data));\n\t\t\t\t\tcallback(data.access_token, data.expires_in);\n\t\t\t\t});\n\t\t\t});\n\t\t}\n\n\t</script>\n</head>\n\n<body onload=\"launchViewer()\">\n\t<div id=\"forgeViewer\"></div>\n</body>\n\n</html>","output":"str","x":760,"y":780,"wires":[["8846abe00f154629"]]},{"id":"cbe4cbe572f6e33f","type":"http in","z":"c0dd0cf59255e60e","name":"Get Token","url":"/api/forge/oauth/token","method":"get","upload":false,"swaggerDoc":"","x":120,"y":880,"wires":[["8da4b50a7ddd4b07"]]},{"id":"ab03e519bf95cb91","type":"http response","z":"c0dd0cf59255e60e","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":960,"y":880,"wires":[]},{"id":"181ffdf1eef26825","type":"function","z":"c0dd0cf59255e60e","name":"","func":"msg.payload = msg.payload.token;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":880,"wires":[["ab03e519bf95cb91"]]},{"id":"8da4b50a7ddd4b07","type":"forge-get-token","z":"c0dd0cf59255e60e","name":"","topic":"","forge":"","x":470,"y":880,"wires":[["181ffdf1eef26825"]]},{"id":"0f574efdf65e2857","type":"function","z":"c0dd0cf59255e60e","name":"","func":"var obj = {\n    \"bucket\": \"node-red-bucket-viewer\",\n    \"key\": \"Hook.stp\"\n};\n\nmsg.payload = {\n    urn: `urn:adsk.objects:os.object:${obj.bucket}/${obj.key}`\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":780,"wires":[["9fdeeeacae8e3def"]]},{"id":"9fdeeeacae8e3def","type":"base64","z":"c0dd0cf59255e60e","name":"","action":"","property":"payload.urn","x":440,"y":780,"wires":[["53c9e205ff5e076f"]]},{"id":"7231f07128524783","type":"http in","z":"c0dd0cf59255e60e","name":"/index.html","url":"/index.html","method":"get","upload":false,"swaggerDoc":"","x":120,"y":820,"wires":[["0f574efdf65e2857"]]},{"id":"53c9e205ff5e076f","type":"function","z":"c0dd0cf59255e60e","name":"","func":"msg.payload.urn = msg.payload.urn\n    .replace(/\\+/g, '-') // Convert '+' to '-'\n\t.replace(/\\//g, '_') // Convert '/' to '_'\n\t.replace(/=+$/, '')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":780,"wires":[["ac96b5d7f27ebafb"]]}]