examples/waitandgo.json
[
	{
		"id": "f0868b74.9cc9f8",
		"type": "forge-wait-and-go",
		"z": "ec371daf.c7d11",
		"name": "",
		"topic": "my-topic",
		"combine": true,
		"x": 550,
		"y": 180,
		"wires": [
			[
				"bbb000c9.18f67"
			]
		]
	},
	{
		"id": "2b711b81.396504",
		"type": "comment",
		"z": "ec371daf.c7d11",
		"name": "Wait & Go",
		"info": "",
		"x": 100,
		"y": 60,
		"wires": []
	},
	{
		"id": "b25939b0.de0498",
		"type": "inject",
		"z": "ec371daf.c7d11",
		"name": "",
		"topic": "",
		"payload": "test1",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 110,
		"y": 120,
		"wires": [
			[
				"f0868b74.9cc9f8"
			]
		]
	},
	{
		"id": "846cb59c.907db8",
		"type": "inject",
		"z": "ec371daf.c7d11",
		"name": "",
		"topic": "",
		"payload": "1234",
		"payloadType": "num",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 110,
		"y": 160,
		"wires": [
			[
				"f0868b74.9cc9f8"
			]
		]
	},
	{
		"id": "5aadc522.c8fadc",
		"type": "inject",
		"z": "ec371daf.c7d11",
		"name": "",
		"topic": "",
		"payload": "{\"one\":1,\"two\":\"two\"}",
		"payloadType": "json",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 160,
		"y": 200,
		"wires": [
			[
				"f0868b74.9cc9f8"
			]
		]
	},
	{
		"id": "9a28023a.eb393",
		"type": "inject",
		"z": "ec371daf.c7d11",
		"name": "Go",
		"topic": "my-topic",
		"payload": "my-topic-string",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 110,
		"y": 300,
		"wires": [
			[
				"f0868b74.9cc9f8"
			]
		]
	},
	{
		"id": "bbb000c9.18f67",
		"type": "debug",
		"z": "ec371daf.c7d11",
		"name": "Result",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"targetType": "full",
		"x": 870,
		"y": 180,
		"wires": []
	},
	{
		"id": "8a8d240f.f25658",
		"type": "forge-wait-and-go",
		"z": "ec371daf.c7d11",
		"name": "",
		"topic": "my-topic",
		"combine": false,
		"x": 550,
		"y": 440,
		"wires": [
			[
				"81c5d04d.811e1"
			]
		]
	},
	{
		"id": "79f2f8d.0d93108",
		"type": "inject",
		"z": "ec371daf.c7d11",
		"name": "",
		"topic": "",
		"payload": "test1",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 110,
		"y": 380,
		"wires": [
			[
				"8a8d240f.f25658"
			]
		]
	},
	{
		"id": "f54c02f0.c753f",
		"type": "inject",
		"z": "ec371daf.c7d11",
		"name": "",
		"topic": "",
		"payload": "1234",
		"payloadType": "num",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 110,
		"y": 420,
		"wires": [
			[
				"8a8d240f.f25658"
			]
		]
	},
	{
		"id": "adf008be.98c918",
		"type": "inject",
		"z": "ec371daf.c7d11",
		"name": "",
		"topic": "",
		"payload": "{\"one\":1,\"two\":\"two\"}",
		"payloadType": "json",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 160,
		"y": 460,
		"wires": [
			[
				"8a8d240f.f25658"
			]
		]
	},
	{
		"id": "ab4faa5.0704358",
		"type": "inject",
		"z": "ec371daf.c7d11",
		"name": "Go",
		"topic": "my-topic",
		"payload": "my-topic-string",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 110,
		"y": 560,
		"wires": [
			[
				"8a8d240f.f25658"
			]
		]
	},
	{
		"id": "81c5d04d.811e1",
		"type": "debug",
		"z": "ec371daf.c7d11",
		"name": "Result",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"targetType": "full",
		"x": 870,
		"y": 440,
		"wires": []
	}
]