examples/legacy/fda.json
[{"id":"2d4765d1.4d9eaa","type":"http request","z":"e72670ff.86fc9","name":"Download","method":"GET","ret":"bin","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":566,"y":493.7778072357178,"wires":[["a271054.29112f8"]]},{"id":"c2a5d527.8afd68","type":"forge-da","z":"e72670ff.86fc9","name":"ListEngines","topic":"","forge":"","operation":"ListEngines","engine":"","bundleId":"","bundleAlias":"","x":345.0000228881836,"y":69.11111450195312,"wires":[["1187fee4.1a5231"],["ae11fdf1.a9cc9"]]},{"id":"473dc701.b968e8","type":"inject","z":"e72670ff.86fc9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":109.99998092651367,"y":133.55555534362793,"wires":[["c2a5d527.8afd68"]]},{"id":"1187fee4.1a5231","type":"debug","z":"e72670ff.86fc9","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":573,"y":59,"wires":[]},{"id":"ae11fdf1.a9cc9","type":"debug","z":"e72670ff.86fc9","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":572,"y":105.11111259460449,"wires":[]},{"id":"68aeddaf.0853d4","type":"comment","z":"e72670ff.86fc9","name":"List Engines","info":"","x":105,"y":81.22222137451172,"wires":[]},{"id":"cfcb7013.189aa","type":"forge-da","z":"e72670ff.86fc9","name":"GetEngineDetails","topic":"","forge":"","operation":"GetEngine","engine":"Autodesk.AutoCAD+23","bundleId":"","bundleAlias":"","x":326.99999618530273,"y":229.1111125946045,"wires":[["20642d0e.e34232"],["2fe07f81.6eca"]]},{"id":"20642d0e.e34232","type":"debug","z":"e72670ff.86fc9","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":571,"y":145.22222328186035,"wires":[]},{"id":"2fe07f81.6eca","type":"debug","z":"e72670ff.86fc9","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":579,"y":179.1111125946045,"wires":[]},{"id":"85eb4d15.58455","type":"inject","z":"e72670ff.86fc9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":118.00000381469727,"y":246.55558395385742,"wires":[["cfcb7013.189aa"]]},{"id":"3a042f20.e48cf","type":"comment","z":"e72670ff.86fc9","name":"Get Engine Details","info":"","x":119.33332824707031,"y":187.00000190734863,"wires":[]},{"id":"716b9b9d.97e104","type":"forge-da","z":"e72670ff.86fc9","name":"List Appbundles","topic":"","forge":"","operation":"ListAppbundles","engine":"","bundleId":"","bundleAlias":"","x":344.99999618530273,"y":297.1111145019531,"wires":[["c96b4904.4044d8"],["3f4cf30f.59ae4c"]]},{"id":"c96b4904.4044d8","type":"debug","z":"e72670ff.86fc9","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":579,"y":218.22222518920898,"wires":[]},{"id":"3f4cf30f.59ae4c","type":"debug","z":"e72670ff.86fc9","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":582,"y":257.222225189209,"wires":[]},{"id":"42447f69.85387","type":"inject","z":"e72670ff.86fc9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":119.00000381469727,"y":352.55558586120605,"wires":[["716b9b9d.97e104"]]},{"id":"4dc30262.499e1c","type":"comment","z":"e72670ff.86fc9","name":"List All App Bundles","info":"","x":119.33332824707031,"y":305.00000286102295,"wires":[]},{"id":"546220.a5dd1de","type":"forge-da","z":"e72670ff.86fc9","name":"Get Appbundle","topic":"","forge":"","operation":"GetAppbundle","engine":"","bundleId":"fdaupdateParams","bundleAlias":"dev","x":299,"y":466.1111135482788,"wires":[["317be73c.98db88","12c57a93.4fc335"],["6a8ff401.35308c"]]},{"id":"acd14fc2.df419","type":"comment","z":"e72670ff.86fc9","name":"Get Details of App Bundle and Download AppPackage","info":"","x":229.3333282470703,"y":398,"wires":[]},{"id":"c6116ed5.62195","type":"inject","z":"e72670ff.86fc9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":116,"y":511.55558586120605,"wires":[["546220.a5dd1de"]]},{"id":"6a8ff401.35308c","type":"debug","z":"e72670ff.86fc9","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":385.3333320617676,"y":526.000002861023,"wires":[]},{"id":"317be73c.98db88","type":"debug","z":"e72670ff.86fc9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":605,"y":640.222225189209,"wires":[]},{"id":"12c57a93.4fc335","type":"function","z":"e72670ff.86fc9","name":"Extract URL","func":"msg.url = `${msg.payload.package}`;\nreturn msg;","outputs":1,"noerr":0,"x":517,"y":429.7777795791626,"wires":[["2d4765d1.4d9eaa"]]},{"id":"a271054.29112f8","type":"file","z":"e72670ff.86fc9","name":"","filename":"D:\\Trash\\package.zip","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":600.9999465942383,"y":547.5555591583252,"wires":[["317be73c.98db88"]]},{"id":"efa2bf9.b7f894","type":"forge-da","z":"e72670ff.86fc9","name":"CreateOrUpdateAppBundle","topic":"","forge":"","operation":"CreateOrUpdateAppbundle","engine":"Autodesk.AutoCAD+23","bundleId":"madfpdupdateparams","bundleAlias":"dev","bundleFile":"D:\\Work\\nodecrap\\fda-node\\bundles\\UpdateDWGParam.zip","bundleDesc":"this is test package","x":172.6666717529297,"y":744.1111240386963,"wires":[["485c0eff.41ede"],["82abcaea.478898"]]},{"id":"39e31a7b.c11aa6","type":"inject","z":"e72670ff.86fc9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":92.66666412353516,"y":683.0000381469727,"wires":[["efa2bf9.b7f894"]]},{"id":"485c0eff.41ede","type":"debug","z":"e72670ff.86fc9","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":417.6666717529297,"y":676.5555400848389,"wires":[]},{"id":"fdd8c0f.720dd4","type":"comment","z":"e72670ff.86fc9","name":"Creates or Update App Bundle","info":"","x":125,"y":605.3333129882812,"wires":[]},{"id":"e7c03703.a922b8","type":"comment","z":"e72670ff.86fc9","name":"List AppBundle Versions","info":"","x":115,"y":824.4444646835327,"wires":[]},{"id":"b522c715.95f818","type":"forge-da","z":"e72670ff.86fc9","name":"List Appbundle Versions","topic":"","forge":"","operation":"ListAppbundleVersions","engine":"","bundleId":"madfpdupdateparams","bundleAlias":"","bundleFile":"","bundleDesc":"","x":286.6666717529297,"y":925.1111850738525,"wires":[["339f80c.a2add8"],["82abcaea.478898"]]},{"id":"122d351d.15d00b","type":"inject","z":"e72670ff.86fc9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":115,"y":884.4444646835327,"wires":[["b522c715.95f818"]]},{"id":"339f80c.a2add8","type":"debug","z":"e72670ff.86fc9","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":471.00000381469727,"y":867.4444646835327,"wires":[]},{"id":"c786eddd.d1714","type":"inject","z":"e72670ff.86fc9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135,"y":1069.5555419921875,"wires":[["31c8462b.e8eaca"]]},{"id":"31c8462b.e8eaca","type":"forge-da","z":"e72670ff.86fc9","name":"List Appbundle Aliases","topic":"","forge":"","operation":"ListAppbundleAliases","engine":"","bundleId":"madfpdupdateparams","bundleAlias":"","bundleFile":"","bundleDesc":"","x":296.6666717529297,"y":1110.2222623825073,"wires":[["1b79bb51.196245"],["82abcaea.478898"]]},{"id":"82abcaea.478898","type":"debug","z":"e72670ff.86fc9","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":825.0000057220459,"y":831.555549621582,"wires":[]},{"id":"1b79bb51.196245","type":"debug","z":"e72670ff.86fc9","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":491.00000381469727,"y":1052.5555419921875,"wires":[]},{"id":"5bf0eb84.e9bcb4","type":"comment","z":"e72670ff.86fc9","name":"List AppBundle Aliases","info":"","x":105,"y":1015.5555419921875,"wires":[]},{"id":"44b64b0f.a26df4","type":"forge-da","z":"e72670ff.86fc9","name":"List Activities","topic":"","forge":"","operation":"ListActivities","engine":"","bundleId":"","bundleAlias":"","bundleFile":"","bundleDesc":"","bundleVersion":-1,"activityId":"","activityAlias":"","x":249.66666793823242,"y":1297.444507598877,"wires":[["1b79bb51.196245","38ca5d47.17cd32"],["82abcaea.478898"]]},{"id":"d9623611.e4a0e8","type":"inject","z":"e72670ff.86fc9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":104.66667556762695,"y":1214.333396911621,"wires":[["44b64b0f.a26df4"]]},{"id":"99feeae5.5fcd68","type":"forge-da","z":"e72670ff.86fc9","name":"Get Activity","topic":"","forge":"","operation":"GetActivity","engine":"","bundleId":"","bundleAlias":"","bundleFile":"","bundleDesc":"","bundleVersion":-1,"activityId":"ActivityUpdateParameters","activityAlias":"dev","x":557.6666717529297,"y":1254.4445085525513,"wires":[["a6447e11.b7d73"],["82abcaea.478898"]]},{"id":"a6447e11.b7d73","type":"debug","z":"e72670ff.86fc9","name":"ActivityDetail","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":681.6666717529297,"y":1455.5556182861328,"wires":[]},{"id":"38ca5d47.17cd32","type":"function","z":"e72670ff.86fc9","name":"ActivityId","func":"var qualifiedId = msg.payload[1];\nmsg.payload =qualifiedId;\nreturn msg;","outputs":1,"noerr":0,"x":381.66669845581055,"y":1369.1111755371094,"wires":[["99feeae5.5fcd68"]]},{"id":"59d3920d.f3389c","type":"comment","z":"e72670ff.86fc9","name":"List Activities and Get details of particular Activity","info":"","x":191,"y":1159.7778396606445,"wires":[]}]