examples/legacy/threelegged.json
[{"id":"cdba74c2.7b9e38","type":"inject","z":"5eaf168.421e8e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":164,"y":82,"wires":[["52bdf59f.6b90cc"]]},{"id":"d737a83e.f75b58","type":"comment","z":"5eaf168.421e8e8","name":"GetAuthorize and Exchange The Authorization Code For An Access Token","info":"Please refer [https://forge.autodesk.com/en/docs/oauth/v2/tutorials/get-3-legged-token/](Forge 3 Legged OAuth) for more information","x":343,"y":46,"wires":[]},{"id":"445a22be.6b8c3c","type":"exec","z":"5eaf168.421e8e8","command":"start chrome --incognito --new-window","addpay":true,"append":"","useSpawn":"false","timer":"60","oldrc":false,"name":"open browser","x":731.0000076293945,"y":55.5,"wires":[["e15fb4e4.838fc8"],["e15fb4e4.838fc8"],["e15fb4e4.838fc8"]],"info":"This uses `exec` node to launch another browser window with Autodesk SSO login page.\n\nPlease read and edit the command definition of `exec` or OpenBrowser node, you need to edit the clientId with yours\n"},{"id":"e15fb4e4.838fc8","type":"debug","z":"5eaf168.421e8e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":908.6666717529297,"y":121.77777767181396,"wires":[]},{"id":"8c518e53.1c43d","type":"http in","z":"5eaf168.421e8e8","name":"","url":"/admin","method":"get","upload":false,"swaggerDoc":"","x":160.66667938232422,"y":116.55559062957764,"wires":[["6add5b09.c3ef94","621bc41e.c9744c"]]},{"id":"621bc41e.c9744c","type":"http response","z":"5eaf168.421e8e8","name":"","statusCode":"","headers":{},"x":160.66669464111328,"y":171.88889122009277,"wires":[]},{"id":"6add5b09.c3ef94","type":"function","z":"5eaf168.421e8e8","name":"TokenBody","func":"let client_id = env.get(\"FORGE_CLIENT_ID\");\nlet client_secret = env.get(\"FORGE_CLIENT_SECRET\");\nmsg.payload = `client_id=${client_id}&client_secret=${client_secret}&grant_type=authorization_code&code=${msg.payload.code}&redirect_uri=http://127.0.0.1:1880/admin`;\nmsg.headers = {};\nmsg.headers['Content-Type']='application/x-www-form-urlencoded';\nreturn msg;\n\n","outputs":1,"noerr":0,"x":413.6666946411133,"y":163.00000190734863,"wires":[["29be5754.94d4c8"]]},{"id":"eabc05c5.0a8148","type":"debug","z":"5eaf168.421e8e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":513.6666965484619,"y":335.7777805328369,"wires":[]},{"id":"29be5754.94d4c8","type":"http request","z":"5eaf168.421e8e8","name":"GetToken","method":"POST","ret":"obj","paytoqs":false,"url":"https://developer.api.autodesk.com/authentication/v1/gettoken","tls":"","proxy":"","authType":"","x":702.6666717529297,"y":129.66666793823242,"wires":[["8464da32.75bef8"]]},{"id":"20b669c8.47ff46","type":"function","z":"5eaf168.421e8e8","name":"HubPayload","func":"//var access_token = flow.get(\"access_token\");\nvar access_token = global.get(\"access_token\");\nmsg.headers = {\n    Authorization: \"Bearer \"+ access_token\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":303.6666946411133,"y":318.66666984558105,"wires":[["2253e257.955cae"]]},{"id":"2253e257.955cae","type":"http request","z":"5eaf168.421e8e8","name":"[get]Hubs","method":"GET","ret":"obj","paytoqs":false,"url":"https://developer.api.autodesk.com/project/v1/hubs","tls":"","proxy":"","authType":"","x":330.6666946411133,"y":393.6666965484619,"wires":[["eabc05c5.0a8148"]]},{"id":"691a8ed8.94ede","type":"comment","z":"5eaf168.421e8e8","name":"Example: Using 3 Legged OAuth to Get Hubs","info":"","x":243.6666717529297,"y":268.22222423553467,"wires":[]},{"id":"f5830b7d.9f0178","type":"debug","z":"5eaf168.421e8e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":879.6666717529297,"y":240.00000190734863,"wires":[]},{"id":"8464da32.75bef8","type":"function","z":"5eaf168.421e8e8","name":"Store Tokens","func":"//store the access_token in global context\nglobal.set(\"access_token\",msg.payload.access_token);\nglobal.set(\"refresh_token\",msg.payload.refresh_token);\nreturn msg;","outputs":1,"noerr":0,"x":729.666669845581,"y":372.5416717529297,"wires":[["f5830b7d.9f0178","90821bea.c109e8"]]},{"id":"19c746d1.279749","type":"inject","z":"5eaf168.421e8e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"3540","crontab":"","once":false,"onceDelay":"3599","x":199.6666717529297,"y":515.1111183166504,"wires":[["1801e6f9.c33599"]]},{"id":"7dab09c0.940cd8","type":"http request","z":"5eaf168.421e8e8","name":"TokenFromAccessToken","method":"POST","ret":"obj","paytoqs":false,"url":"https://developer.api.autodesk.com/authentication/v1/refreshtoken","tls":"","proxy":"","authType":"","x":482.6667022705078,"y":518.5556135177612,"wires":[["8464da32.75bef8"]]},{"id":"1801e6f9.c33599","type":"function","z":"5eaf168.421e8e8","name":"Refreshtoken Body","func":"let client_id = env.get(\"FORGE_CLIENT_ID\");\nlet client_secret = env.get(\"FORGE_CLIENT_SECRET\");\nmsg.payload = `client_id=${client_id}&client_secret=${client_secret}&grant_type=refresh_token&refresh_token=${global.get(\"refresh_token\")}`;\nmsg.headers = {};\nmsg.headers['Content-Type']='application/x-www-form-urlencoded';\nreturn msg;\n\n","outputs":1,"noerr":0,"x":310.6666564941406,"y":589.5555591583252,"wires":[["7dab09c0.940cd8"]]},{"id":"90821bea.c109e8","type":"debug","z":"5eaf168.421e8e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"$globalContext(\"refresh_token\")","targetType":"jsonata","x":771.6666717529297,"y":538.4443206787109,"wires":[]},{"id":"83583a18.33ae88","type":"inject","z":"5eaf168.421e8e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150.6666717529297,"y":345.22222900390625,"wires":[["20b669c8.47ff46"]]},{"id":"1ebaa61b.a261aa","type":"comment","z":"5eaf168.421e8e8","name":"Refresh Token","info":"","x":142,"y":438.7777805328369,"wires":[]},{"id":"52bdf59f.6b90cc","type":"function","z":"5eaf168.421e8e8","name":"ExecuteCommand","func":"let baseStr = `https://developer.api.autodesk.com/authentication/v1/authorize?response_type=code&client_id=${env.get(\"FORGE_CLIENT_ID\")}&redirect_uri=http%3A%2F%2F127.0.0.1%3A1880%2Fadmin&scope=data:read`;\nbaseStr = `\"${baseStr}\"`;\nreturn {payload:baseStr}","outputs":1,"noerr":0,"x":417.6666946411133,"y":107.44444465637207,"wires":[["445a22be.6b8c3c"]]}]